test.json
{
    "nodes": [
        {
            "parameters": {
                "updates": [
                    "callback_query",
                    "message"
                ],
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegramTrigger",
            "typeVersion": 1.2,
            "position": [
                -16,
                -192
            ],
            "id": "2ff5213a-e365-4145-92de-a8a03f47410a",
            "name": "Telegram Trigger",
            "webhookId": "30dcef83-b679-4dcc-9385-c995980c3cb4",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "455193ca-5a68-4044-99d3-da4ecf2a09fe",
                            "name": "query",
                            "value": "={{ $('Telegram Trigger').item.json.callback_query.data}}",
                            "type": "string"
                        },
                        {
                            "id": "c5ea64b2-c9d3-4d79-9469-0258701d4dc2",
                            "name": "chat_id",
                            "value": "={{ $json.callback_query.message.chat.id }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                432,
                -192
            ],
            "id": "0e00009d-17ea-458e-b223-75293c4f91ee",
            "name": "Edit Fields"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{$json.query}}",
                                        "rightValue": "reports-menu",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "04561f81-432e-4a88-bc5c-1581b424b0c6"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "reports-menu"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "6e797eef-c763-4c90-9e35-ce1b38a0af17",
                                        "leftValue": "={{$json.query}}",
                                        "rightValue": "inactive-clients",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "inactive-clients"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                880,
                -304
            ],
            "id": "3f1eb19d-2889-4bab-9ea3-c04045023ee2",
            "name": "Switch"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.callback_query }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "object",
                                            "operation": "exists",
                                            "singleValue": true
                                        },
                                        "id": "349e1cdc-29c6-4471-8d27-f9939a0522bf"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "callback"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "ad6f2b94-3a5f-4278-9a31-27b42b670731",
                                        "leftValue": "={{$json.message.audio }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "array",
                                            "operation": "exists",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "audio"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 2
                                },
                                "conditions": [
                                    {
                                        "id": "cbedd272-47bc-44fb-abe8-9bfc11cf5070",
                                        "leftValue": "={{$json.message.text}}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "string",
                                            "operation": "exists",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "text"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.3,
            "position": [
                208,
                -208
            ],
            "id": "e0ab08fd-5d8c-4a08-ac3d-e8c304197ae9",
            "name": "Switch2"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "e4165beb-2e46-42f0-bb11-97a823f5a605",
                            "leftValue": "={{$json.message.text}}",
                            "rightValue": "/start",
                            "operator": {
                                "type": "string",
                                "operation": "equals",
                                "name": "filter.operator.equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                432,
                304
            ],
            "id": "c40340f9-1dbb-47ad-9c1b-42dfea2859fe",
            "name": "If"
        },
        {
            "parameters": {
                "chatId": "={{ $json.chat_id }}",
                "text": "={{$json.text}}",
                "replyMarkup": "inlineKeyboard",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "📊 Список отчётов",
                                        "additionalFields": {
                                            "callback_data": "reports-menu"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                880,
                208
            ],
            "id": "994f9a99-b224-485d-a9cd-dee2bc2653ab",
            "name": "send welcome",
            "webhookId": "0865ce81-4e73-44e0-bd7d-531935932fb0",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        },
        {
            "parameters": {
                "chatId": "={{ $json.message.chat.id }}",
                "text": "=Используйте кнопки или отправьте /start",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                656,
                400
            ],
            "id": "4ca92e13-5641-4435-a576-53883d38c673",
            "name": "send welcome1",
            "webhookId": "0865ce81-4e73-44e0-bd7d-531935932fb0",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b8f6afd3-82cf-4d02-9c5e-d3e1a97f9614",
                            "name": "text",
                            "value": "=📊 Доступные отчёты:\n\nВыберите отчёт для запуска:",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1104,
                -400
            ],
            "id": "faa6bdb2-fafa-4e28-aaea-9063ff180fdd",
            "name": "set text"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b8f6afd3-82cf-4d02-9c5e-d3e1a97f9614",
                            "name": "text",
                            "value": "=👋 Привет! Я бот для генерации отчётов OK Syrop.\n\nНажмите кнопку ниже, чтобы выбрать отчёт.",
                            "type": "string"
                        },
                        {
                            "id": "414351b1-e337-47a9-9b5c-a8d0af640c9f",
                            "name": "chat_id",
                            "value": "={{ $json.message.chat.id }}",
                            "type": "number"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                656,
                208
            ],
            "id": "55c43cd1-3c97-4614-9959-148a735dfd63",
            "name": "set text1"
        },
        {
            "parameters": {
                "operation": "editMessageText",
                "chatId": "={{ $json.chat_id }}",
                "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
                "replyMarkup": "inlineKeyboard",
                "text": "={{$json.text}}",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "Неактивные клиенты",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1328,
                -400
            ],
            "id": "78d279b6-0118-4ce0-8807-4752b326941e",
            "name": "send welcome2",
            "webhookId": "0865ce81-4e73-44e0-bd7d-531935932fb0",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b8f6afd3-82cf-4d02-9c5e-d3e1a97f9614",
                            "name": "text",
                            "value": "=Неактивные клиенты\n\nВыберите параметры (только кнопки).\nСтандартные: cutoff_days=30, start_date=2026-01-01",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1104,
                -208
            ],
            "id": "5199da88-22a1-4744-8674-91b6e98a480b",
            "name": "set text2"
        },
        {
            "parameters": {
                "operation": "editMessageText",
                "chatId": "={{ $json.chat_id }}",
                "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
                "replyMarkup": "inlineKeyboard",
                "text": "={{$json.text}}",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "[30]",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_30"
                                        }
                                    },
                                    {
                                        "text": "60",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_60"
                                        }
                                    },
                                    {
                                        "text": "90",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_90"
                                        }
                                    },
                                    {
                                        "text": "120",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_120"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "=[{{ $now.startOf('year').format('dd.MM.yyyy') }}]",
                                        "additionalFields": {
                                            "callback_data": "=inactive-clients_start-date_{{ $now.startOf('year').format('dd.MM.yyyy') }}"
                                        }
                                    },
                                    {
                                        "text": "90",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_start-date_90"
                                        }
                                    },
                                    {
                                        "text": "180",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_start-date_180"
                                        }
                                    },
                                    {
                                        "text": "365",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_start-date_365"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "▶️ Запустить",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_start"
                                        }
                                    },
                                    {
                                        "text": "ℹ️ Объяснение",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_explain"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "🔄 Сбросить",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_reload"
                                        }
                                    },
                                    {
                                        "text": "◀️ Назад",
                                        "additionalFields": {
                                            "callback_data": "reports-menu"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1328,
                -208
            ],
            "id": "c4d55a84-f9bc-4800-a242-a569413dc1e7",
            "name": "send welcome3",
            "webhookId": "0865ce81-4e73-44e0-bd7d-531935932fb0",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.query.split(\"_\")[1] }}",
                                        "rightValue": "=",
                                        "operator": {
                                            "type": "string",
                                            "operation": "notExists",
                                            "singleValue": true
                                        },
                                        "id": "4137a9da-a58b-4325-b3fb-039313d553a0"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "main menu"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "28cb15f3-f89b-4dd5-87d6-6a38efc5425d",
                                        "leftValue": "={{ $json.query.split(\"_\")[1] }}",
                                        "rightValue": "",
                                        "operator": {
                                            "type": "string",
                                            "operation": "exists",
                                            "singleValue": true
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "reports menu"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                656,
                -192
            ],
            "id": "35b0b0cf-71c1-4512-882c-f3cbb921ee73",
            "name": "Switch1"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "06ec586c-cc61-470d-863d-7372caa1c779",
                            "name": "report",
                            "value": "={{ $json.query.split(\"_\")[0] }}",
                            "type": "string"
                        },
                        {
                            "id": "87347095-6ef3-4926-8323-f88a22d3bcef",
                            "name": "setting",
                            "value": "={{ $json.query.split(\"_\")[1] }}",
                            "type": "string"
                        },
                        {
                            "id": "6e68b2a6-edd7-4433-858d-721bc98584b3",
                            "name": "value",
                            "value": "={{ $json.query.split(\"_\")[2] }}",
                            "type": "string"
                        },
                        {
                            "id": "93e72338-2568-435e-ad02-b934da5914a5",
                            "name": "text",
                            "value": "={{ $('Telegram Trigger').item.json.callback_query.message.text }}",
                            "type": "string"
                        },
                        {
                            "id": "6eeb7ba7-25b1-4b01-83dc-eec796cb677e",
                            "name": "keyboards",
                            "value": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard }}",
                            "type": "array"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                880,
                16
            ],
            "id": "2b75e2a8-afd8-4017-961f-70fed3ea4e98",
            "name": "set values"
        },
        {
            "parameters": {
                "rules": {
                    "values": [
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "leftValue": "={{ $json.setting }}",
                                        "rightValue": "start",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals"
                                        },
                                        "id": "973630a8-0ec2-4175-b574-e3653f0e252f"
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "start report"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "625de220-50f6-4ab2-b364-0e98db59f6d4",
                                        "leftValue": "={{ $json.setting }}",
                                        "rightValue": "cutoff-days",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "cutoff days"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "d4b95671-be5a-4b1a-b51b-b2d0fdfb5408",
                                        "leftValue": "={{ $json.setting }}",
                                        "rightValue": "start-date",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "start date"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "cb20d7b5-1aa7-4187-9aa8-f2e04802d274",
                                        "leftValue": "={{ $json.setting }}",
                                        "rightValue": "explain",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "explain"
                        },
                        {
                            "conditions": {
                                "options": {
                                    "caseSensitive": true,
                                    "leftValue": "",
                                    "typeValidation": "strict",
                                    "version": 3
                                },
                                "conditions": [
                                    {
                                        "id": "18c98259-b5aa-4e62-a4d9-afa0400fa3ef",
                                        "leftValue": "={{ $json.setting }}",
                                        "rightValue": "reload",
                                        "operator": {
                                            "type": "string",
                                            "operation": "equals",
                                            "name": "filter.operator.equals"
                                        }
                                    }
                                ],
                                "combinator": "and"
                            },
                            "renameOutput": true,
                            "outputKey": "reload"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.switch",
            "typeVersion": 3.4,
            "position": [
                1328,
                -16
            ],
            "id": "31c7c66f-f97f-4c9b-8b3d-8392440a9376",
            "name": "Switch3"
        },
        {
            "parameters": {
                "operation": "editMessageText",
                "chatId": "={{ $json.chat_id }}",
                "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
                "replyMarkup": "inlineKeyboard",
                "text": "={{$json.text}}",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[0][0].text }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data }}"
                                        }
                                    },
                                    {
                                        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[0][1].text }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[0][1].callback_data }}"
                                        }
                                    },
                                    {
                                        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[0][2].text }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[0][2].callback_data }}"
                                        }
                                    },
                                    {
                                        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[0][3].text }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[0][3].callback_data }}"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "={{ $if($('set values').item.json.value == $now.startOf('year').format('dd.MM.yyyy'),\"[\"+$now.startOf('year').format('dd.MM.yyyy') + \"]\", $now.startOf('year').format('dd.MM.yyyy')) }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][0].callback_data }}"
                                        }
                                    },
                                    {
                                        "text": "={{ $if($('set values').item.json.value == 90,\"[90]\", \"90\") }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][1].callback_data }}"
                                        }
                                    },
                                    {
                                        "text": "={{ $if($('set values').item.json.value == 180,\"[180]\", \"180\") }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][2].callback_data }}"
                                        }
                                    },
                                    {
                                        "text": "={{ $if($('set values').item.json.value == 365,\"[365]\", \"365\") }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][3].callback_data }}"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "▶️ Запустить",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_start"
                                        }
                                    },
                                    {
                                        "text": "ℹ️ Объяснение",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_explain"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "🔄 Сбросить",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_reload"
                                        }
                                    },
                                    {
                                        "text": "◀️ Назад",
                                        "additionalFields": {
                                            "callback_data": "reports-menu"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1776,
                208
            ],
            "id": "ccdbefb2-bec8-4fdf-b25f-dcf819dbb19c",
            "name": "send welcome5",
            "webhookId": "0865ce81-4e73-44e0-bd7d-531935932fb0",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        },
        {
            "parameters": {
                "resource": "callback",
                "queryId": "={{ $json.callback_query.id }}",
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                432,
                -384
            ],
            "id": "44cd9cbc-9a4d-449a-a8ac-07e1a71e9a98",
            "name": "Answer Query a callback",
            "webhookId": "3a865bf9-ed1c-4b79-a54f-b6f27fe84397",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "77c41f10-2aba-40c2-ad6a-5a9a8f9c296a",
                            "leftValue": "={{ $json.value }}",
                            "rightValue": "={{ $json.current_start_date }}",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                1552,
                208
            ],
            "id": "e619ebce-d6d9-4c65-99c9-d14240efc551",
            "name": "If1"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "77c41f10-2aba-40c2-ad6a-5a9a8f9c296a",
                            "leftValue": "={{ $json.value }}",
                            "rightValue": "={{ $json.current_cutoff_days }}",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                1552,
                16
            ],
            "id": "f087be01-9899-4595-80a3-1fac860dcdcd",
            "name": "If2"
        },
        {
            "parameters": {
                "operation": "editMessageText",
                "chatId": "={{ $json.chat_id }}",
                "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
                "replyMarkup": "inlineKeyboard",
                "text": "={{ $json.text }}",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "={{ $if($json.value == 30, \"[30]\", \"30\") }}",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_30"
                                        }
                                    },
                                    {
                                        "text": "={{ $if($json.value == 60, \"[60]\", \"60\") }}",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_60"
                                        }
                                    },
                                    {
                                        "text": "={{ $if($json.value == 90, \"[90]\", \"90\") }}",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_90"
                                        }
                                    },
                                    {
                                        "text": "={{ $if($json.value == 120, \"[120]\", \"120\") }}",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_120"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][0].text }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][0].callback_data }}"
                                        }
                                    },
                                    {
                                        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][1].text }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][1].callback_data }}"
                                        }
                                    },
                                    {
                                        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][2].text }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][2].callback_data }}"
                                        }
                                    },
                                    {
                                        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][3].text }}",
                                        "additionalFields": {
                                            "callback_data": "={{ $('Telegram Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[1][3].callback_data }}"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "▶️ Запустить",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_start"
                                        }
                                    },
                                    {
                                        "text": "ℹ️ Объяснение",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_explain"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "🔄 Сбросить",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_reload"
                                        }
                                    },
                                    {
                                        "text": "◀️ Назад",
                                        "additionalFields": {
                                            "callback_data": "reports-menu"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1776,
                16
            ],
            "id": "f0fbce61-1115-4d88-8689-10579ad8ddc0",
            "name": "send welcome4",
            "webhookId": "0865ce81-4e73-44e0-bd7d-531935932fb0",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        },
        {
            "parameters": {
                "workflowId": {
                    "__rl": true,
                    "value": "35gNYRGpPXdH6fA2",
                    "mode": "list",
                    "cachedResultUrl": "/workflow/35gNYRGpPXdH6fA2",
                    "cachedResultName": "Start report Syrop"
                },
                "workflowInputs": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "start_date": "={{ $json.current_start_date }}",
                        "cutoff_days": "={{ $json.current_cutoff_days }}",
                        "start_period": "-",
                        "report": "={{ $json.report }}"
                    },
                    "matchingColumns": [],
                    "schema": [
                        {
                            "id": "start_date",
                            "displayName": "start_date",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        },
                        {
                            "id": "start_period",
                            "displayName": "start_period",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        },
                        {
                            "id": "cutoff_days",
                            "displayName": "cutoff_days",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        },
                        {
                            "id": "report",
                            "displayName": "report",
                            "required": false,
                            "defaultMatch": false,
                            "display": true,
                            "canBeUsedToMatch": true,
                            "type": "string",
                            "removed": false
                        }
                    ],
                    "attemptToConvertTypes": false,
                    "convertFieldsToString": true
                },
                "options": {}
            },
            "type": "n8n-nodes-base.executeWorkflow",
            "typeVersion": 1.3,
            "position": [
                1776,
                -176
            ],
            "id": "ec9e0c45-657a-42ac-81f8-9134fe3c0a32",
            "name": "Call 'Start report'",
            "alwaysOutputData": false
        },
        {
            "parameters": {
                "jsCode": "return $input.all().map(item => {\n  const keyboards = item.json.keyboards ?? [];\n\n  const cutoff_days = keyboards[0]\n    .map(btn => btn.text.match(/\\[(.+?)\\]/))\n    .find(Boolean);\n\n  const start_date = keyboards[1]\n    .map(btn => btn.text.match(/\\[(.+?)\\]/))\n    .find(Boolean);\n\n  return {\n    json: {\n      ...item.json,\n      current_cutoff_days: cutoff_days ? cutoff_days[1] : null,\n      current_start_date: start_date ? start_date[1] : null,\n    },\n  };\n});\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1104,
                16
            ],
            "id": "8680d602-d64a-46ad-96c6-c96f0a20809e",
            "name": "Code in JavaScript3"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "bc2f6ca0-8a08-4aad-9009-de8d6c795cbf",
                            "name": "current_start_date",
                            "value": "={{ $if($json.current_start_date == $now.startOf('year').format('dd.MM.yyyy'),$json.current_start_date, $now.minus($json.current_start_date, 'days').format('dd.MM.yyyy') ) }}",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1552,
                -176
            ],
            "id": "a9e77cbe-a2c8-4bbe-b45b-da5514e06f29",
            "name": "Edit Fields1"
        },
        {
            "parameters": {
                "operation": "sendDocument",
                "chatId": "={{ $('Edit Fields1').item.json.chat_id }}",
                "binaryData": true,
                "additionalFields": {
                    "caption": "=✅ Готово\n\nОтчёт о неактивных клиентах с параметрами\n\nДней без покупок: {{  $('Edit Fields1').item.json.current_cutoff_days}}\nС продажами с: {{ $('Edit Fields1').item.json.current_start_date }}"
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                2208,
                -176
            ],
            "id": "88fc8d6d-f796-498e-9809-dd11aabf52f9",
            "name": "Send a document",
            "webhookId": "86352a19-3ced-4924-a3cd-8961b666cd57",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "edf3ea4e-6602-4cb3-95f6-2bc5a2cc5dfb",
                            "name": "text",
                            "value": "Неактивные клиенты\n\n\nКоротко: отчёт показывает клиентов, которые не совершали покупок дольше заданного порога (по умолчанию 30 дней).\n\nПараметры\n\n• cutoff_days: порог неактивности в днях. По умолчанию — 30.\n  • Что означает: считаем клиента неактивным, если его последняя покупка была более cutoff_days дней назад.\n  • Пример: при cutoff_days=60 клиент с последней покупкой 75 дней назад попадёт в отчёт, а с 45 днями — нет.\n• start_date: начало учета продаж. С какого срока учитывать продажи клиента в отчете.\n  • Что означает: В отчет попадут только продажи за этот период. ВНИМАНИЕ: Если клиент не совершал покупок ха этот период, он вообще не попадет в отчет.\n  • Пример: при start_date=60 будут учтены только продажи за последние 60 дней со дня формирования отчета.\n\n!!! start_date ВСЕГДА ДОЛЖЕН БЫТЬ БОЛЬШЕ cutoff_days\n\nСтолбцы\n\n• client: клиент.\n• last_purchase: дата последней покупки.\n• last_sum: сумма последнего заказа.\n• orders_count: количество заказов за всё время.\n• total_spent: общая сумма покупок клиента (выручка).\n• days_inactive: сколько дней клиент не покупает на текущую дату.",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1552,
                448
            ],
            "id": "f8cc0cfe-3796-400d-9286-9aa7bdc0e9d2",
            "name": "Edit Fields2"
        },
        {
            "parameters": {
                "chatId": "={{ $json.chat_id }}",
                "text": "={{$json.text}}",
                "additionalFields": {
                    "appendAttribution": false
                }
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1776,
                448
            ],
            "id": "0b3ac6c7-ebcd-46c2-85ca-89e79e8a6208",
            "name": "send welcome6",
            "webhookId": "0865ce81-4e73-44e0-bd7d-531935932fb0",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "b8f6afd3-82cf-4d02-9c5e-d3e1a97f9614",
                            "name": "text",
                            "value": "=Неактивные клиенты\n\nВыберите параметры (только кнопки).\nСтандартные: cutoff_days=30, start_date=2026-01-01",
                            "type": "string"
                        }
                    ]
                },
                "includeOtherFields": true,
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1296,
                608
            ],
            "id": "45b81cff-1951-4605-b4c2-ecf54b4018a1",
            "name": "set text3"
        },
        {
            "parameters": {
                "operation": "editMessageText",
                "chatId": "={{ $json.chat_id }}",
                "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
                "replyMarkup": "inlineKeyboard",
                "text": "={{$json.text}}",
                "inlineKeyboard": {
                    "rows": [
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "[30]",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_30"
                                        }
                                    },
                                    {
                                        "text": "60",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_60"
                                        }
                                    },
                                    {
                                        "text": "90",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_90"
                                        }
                                    },
                                    {
                                        "text": "120",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_cutoff-days_120"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "=[{{ $now.startOf('year').format('dd.MM.yyyy') }}]",
                                        "additionalFields": {
                                            "callback_data": "=inactive-clients_start-date_{{ $now.startOf('year').format('dd.MM.yyyy') }}"
                                        }
                                    },
                                    {
                                        "text": "90",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_start-date_90"
                                        }
                                    },
                                    {
                                        "text": "180",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_start-date_180"
                                        }
                                    },
                                    {
                                        "text": "365",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_start-date_365"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "▶️ Запустить",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_start"
                                        }
                                    },
                                    {
                                        "text": "ℹ️ Объяснение",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_explain"
                                        }
                                    }
                                ]
                            }
                        },
                        {
                            "row": {
                                "buttons": [
                                    {
                                        "text": "🔄 Сбросить",
                                        "additionalFields": {
                                            "callback_data": "inactive-clients_reload"
                                        }
                                    },
                                    {
                                        "text": "◀️ Назад",
                                        "additionalFields": {
                                            "callback_data": "reports-menu"
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                "additionalFields": {}
            },
            "type": "n8n-nodes-base.telegram",
            "typeVersion": 1.2,
            "position": [
                1520,
                608
            ],
            "id": "f48e0db2-efd4-4cfc-bb43-7280e5427e32",
            "name": "send welcome7",
            "webhookId": "0865ce81-4e73-44e0-bd7d-531935932fb0",
            "credentials": {
                "telegramApi": {
                    "id": "I8EMVeWCzbkF5pMT",
                    "name": "Syrop"
                }
            }
        }
    ],
    "connections": {
        "Telegram Trigger": {
            "main": [
                [
                    {
                        "node": "Switch2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields": {
            "main": [
                [
                    {
                        "node": "Switch1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch": {
            "main": [
                [
                    {
                        "node": "set text",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "set text2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch2": {
            "main": [
                [
                    {
                        "node": "Answer Query a callback",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Edit Fields",
                        "type": "main",
                        "index": 0
                    }
                ],
                [],
                [
                    {
                        "node": "If",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If": {
            "main": [
                [
                    {
                        "node": "set text1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "send welcome1",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "send welcome": {
            "main": [
                []
            ]
        },
        "set text": {
            "main": [
                [
                    {
                        "node": "send welcome2",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "set text1": {
            "main": [
                [
                    {
                        "node": "send welcome",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "set text2": {
            "main": [
                [
                    {
                        "node": "send welcome3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch1": {
            "main": [
                [
                    {
                        "node": "Switch",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "set values",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "set values": {
            "main": [
                [
                    {
                        "node": "Code in JavaScript3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Switch3": {
            "main": [
                [
                    {
                        "node": "Edit Fields1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "If2",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "If1",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Edit Fields2",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "set text3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Answer Query a callback": {
            "main": [
                []
            ]
        },
        "If1": {
            "main": [
                [
                    {
                        "node": "send welcome5",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If2": {
            "main": [
                [
                    {
                        "node": "send welcome4",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Call 'Start report'": {
            "main": [
                [
                    {
                        "node": "Send a document",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Code in JavaScript3": {
            "main": [
                [
                    {
                        "node": "Switch3",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields1": {
            "main": [
                [
                    {
                        "node": "Call 'Start report'",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Edit Fields2": {
            "main": [
                [
                    {
                        "node": "send welcome6",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "set text3": {
            "main": [
                [
                    {
                        "node": "send welcome7",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {
        "Telegram Trigger": [
            {
                "update_id": 241902428,
                "message": {
                    "message_id": 295,
                    "from": {
                        "id": 1387986,
                        "is_bot": false,
                        "first_name": "Dilshod",
                        "last_name": "Davletyarov",
                        "username": "Davletyarov",
                        "language_code": "en",
                        "is_premium": true
                    },
                    "chat": {
                        "id": 1387986,
                        "first_name": "Dilshod",
                        "last_name": "Davletyarov",
                        "username": "Davletyarov",
                        "type": "private"
                    },
                    "date": 1770640871,
                    "text": "/start",
                    "entities": [
                        {
                            "offset": 0,
                            "length": 6,
                            "type": "bot_command"
                        }
                    ]
                }
            }
        ]
    },
    "meta": {
        "templateCredsSetupCompleted": true,
        "instanceId": "aaa5eb3b3bb2b0e4c2900ebf2061149fc2bf8ef76f120e9fd24b91ca24d47211"
    }
}
