workflows/5UUPg5Agr9MLhIdM.json
{
  "updatedAt": "2025-11-22T20:32:47.000Z",
  "createdAt": "2025-11-22T15:42:21.061Z",
  "id": "5UUPg5Agr9MLhIdM",
  "name": "Auto report monthly",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE",
          "mode": "list",
          "cachedResultName": "Инвестиционный отчет Kolberg Construction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1766248444,
          "mode": "list",
          "cachedResultName": "Условия инвестиций",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE/edit#gid=1766248444"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "e52520c3-eb4c-438a-9018-fd06bb69bdd0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        208
      ],
      "id": "ffb46241-20e6-4ba8-b7d1-db9470d30664",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "690818",
        "text": "=***Промежуточный отчет***\n\n*Проект*: {{ $json['Проект'] }}\n*Бюджет*: {{ $json['Бюджет'] }} USD\n*Выдано USD*: {{ $json['Выдано USD'].round(2) }} USD\n*Минимальный возврат*: {{ $json['Минимальный возврат'].round(2) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "120d1fdd-57a6-4f57-9f42-5717ca7629d8",
      "name": "RB",
      "webhookId": "60f961ed-970b-4860-b81d-0a10c54c5c49",
      "credentials": {
        "telegramApi": {
          "id": "DWN3ViuYbcWxhB5y",
          "name": "Progress"
        }
      }
    },
    {
      "parameters": {
        "chatId": "291875946",
        "text": "=***Промежуточный отчет***\n\n*Проект*: {{ $json['Проект'] }}\n*Бюджет*: {{ $json['Бюджет'] }} USD\n*Выдано USD*: {{ $json['Выдано USD'].round(2) }} USD\n*Минимальный возврат*: {{ $json['Минимальный возврат'].round(2) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        416,
        144
      ],
      "id": "005364bf-a897-44b7-9385-0e73ec4eef80",
      "name": "SR",
      "webhookId": "60f961ed-970b-4860-b81d-0a10c54c5c49",
      "credentials": {
        "telegramApi": {
          "id": "DWN3ViuYbcWxhB5y",
          "name": "Progress"
        }
      }
    }
  ],
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "RB",
            "type": "main",
            "index": 0
          },
          {
            "node": "SR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "00e258db-f890-4e82-8c71-62c65403f9e6",
  "versionCounter": 20,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-22T15:42:21.065Z",
      "createdAt": "2025-11-22T15:42:21.065Z",
      "role": "workflow:owner",
      "workflowId": "5UUPg5Agr9MLhIdM",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}