workflows/f9dS0ZJXK76w5fUM.json
{
  "updatedAt": "2025-11-25T11:43:20.000Z",
  "createdAt": "2025-10-30T11:20:04.366Z",
  "id": "f9dS0ZJXK76w5fUM",
  "name": "Callback",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1968,
        648
      ],
      "id": "cf72cb91-5d28-4ffb-bd3f-75da43b15246",
      "name": "Telegram Trigger",
      "webhookId": "5df22ecd-0259-49fc-afd2-cebd0fdec343",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('split callback data').item.json.accepted }}",
                    "rightValue": "accepted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2be834ec-3479-481a-a40d-dec8f5296f87"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accepted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "39868aea-cb6d-4096-a659-3d8140b5c982",
                    "leftValue": "={{ $('split callback data').item.json.accepted }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rejected"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d2ddd460-45d9-44d2-971c-cf687b7198d0",
                    "leftValue": "={{ $('split callback data').item.json.accepted }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "info"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -400,
        120
      ],
      "id": "e9c193f3-8e31-429f-ad80-d98668215afa",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telegram_chat_id",
              "value": "={{ $json.callback_query.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1520,
        648
      ],
      "id": "216afab9-2464-4f48-a92b-352ae30bd9c2",
      "name": "get user",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('split callback data').item.json.approval_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        240
      ],
      "id": "7c0ab44d-a4e9-48bb-9722-ecdc235daccc",
      "name": "get approval",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ed68a1d-87b4-49d5-bf42-8c59fc3ac727",
              "name": "accepted",
              "value": "={{ $('Telegram Trigger').item.json.callback_query.data.split('_').first()}}",
              "type": "string"
            },
            {
              "id": "84a38aa1-8c4c-4fab-81c4-b102393591f8",
              "name": "approval_id",
              "value": "={{ $('Telegram Trigger').item.json.callback_query.data.split('_').last() }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1744,
        648
      ],
      "id": "08ac72d3-a702-428f-935f-ec6eed26d33c",
      "name": "split callback data"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "✅ Одобрено"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        -48
      ],
      "id": "7721a8e3-e183-4b5b-8bb2-7a72d16b40d9",
      "name": "Answer Query a callback",
      "webhookId": "1e815846-bd05-48ec-b2ca-a1123b27169c",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "decision": "approved",
            "comment": "without comment",
            "decided_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_user_id",
              "displayName": "approver_user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_tg_id",
              "displayName": "approver_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step_type",
              "displayName": "step_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decided_at",
              "displayName": "decided_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        -48
      ],
      "id": "ace897d8-1fba-4cef-b6ec-7dd586e83de2",
      "name": "accept approval",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "decision": "rejected",
            "comment": "without comment",
            "decided_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_user_id",
              "displayName": "approver_user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_tg_id",
              "displayName": "approver_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step_type",
              "displayName": "step_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decided_at",
              "displayName": "decided_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        144
      ],
      "id": "807768cf-5a74-4d4f-897d-67ca5afdc31c",
      "name": "reject approval",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "❌ Отклонено"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        144
      ],
      "id": "31e7773b-6559-44bc-a8fa-a23c470fdf91",
      "name": "Answer Query a callback1",
      "webhookId": "0c275441-8736-4efe-be18-cd30aa22147c",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "❓ Отложено"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        272,
        344
      ],
      "id": "c2e1eeb4-5968-43f5-8d77-54ed3e7b8f64",
      "name": "Answer Query a callback2",
      "webhookId": "b8a450c1-2040-45d8-a1a7-f14e3ce90f1f",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "comment": "without comment",
            "decided_at": "={{ $now }}",
            "decision": "info"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_user_id",
              "displayName": "approver_user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_tg_id",
              "displayName": "approver_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step_type",
              "displayName": "step_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decided_at",
              "displayName": "decided_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -176,
        344
      ],
      "id": "cb0abfd6-dc4c-41d0-a080-841abcf35b39",
      "name": "information requested",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text.replace(\"💰 Новая заявка на расход\", \"✅ Заявка одобрена\") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        -48
      ],
      "id": "fdd16ece-e78d-42ab-902b-e294c5602c07",
      "name": "✅",
      "webhookId": "9cede317-e00d-4aef-b668-e98340f280cf",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text.replace(\"💰 Новая заявка на расход\", \"❌ Заявка Отклонена\") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        144
      ],
      "id": "6384e00e-5b64-412d-a34e-963181913bd5",
      "name": "❌",
      "webhookId": "8bd130dc-66d6-4c52-940b-5af8e00dbd18",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ozL7hC2Yil8m8HsF",
          "mode": "list",
          "cachedResultUrl": "/workflow/ozL7hC2Yil8m8HsF",
          "cachedResultName": "Construction_approve"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ Number($('get approval').item.json.request_id) }}",
            "approval_status": "={{ $('split callback data').item.json.accepted }}",
            "approver_id": "={{ Number($json.approver_id)}}"
          },
          "matchingColumns": [
            "request_id"
          ],
          "schema": [
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "approval_status",
              "displayName": "approval_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "approver_id",
              "displayName": "approver_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        944,
        56
      ],
      "name": "Call approval status",
      "id": "168bd589-8fd4-4f2a-9194-3d869f4a94a3"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        720,
        40
      ],
      "id": "7f9e2b01-efd5-4d47-a28c-52ce31fb8da5",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cbaeffd-aa10-4f22-815a-0bbe590abde8",
              "name": "approver_id",
              "value": "={{ $('accept approval').item.json.approver_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -48
      ],
      "id": "e3e2c0a8-836e-4c94-b6bb-08abceb32399",
      "name": "add approval id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cbaeffd-aa10-4f22-815a-0bbe590abde8",
              "name": "approver_id",
              "value": "={{ $('reject approval').item.json.approver_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        144
      ],
      "id": "e4c1f8f9-ed44-42a0-9eda-8caf321e63db",
      "name": "add approval id1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cbaeffd-aa10-4f22-815a-0bbe590abde8",
              "name": "approver_id",
              "value": "={{ $('information requested').item.json.approver_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        344
      ],
      "id": "fde41644-aa2e-41b0-a5d0-765d10ad61ef",
      "name": "add approval id2"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text.replace(\"💰 Новая заявка на расход\", \"❓ Запрошена информация\") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        344
      ],
      "id": "f85b0f94-2f5e-4047-95a5-f3bb2944fa05",
      "name": "info",
      "webhookId": "0fb1e6c3-6720-44e5-b7dd-e856f76e9eef",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('split callback data').item.json.approval_id }}",
            "status": "=PAYED"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_payer",
              "displayName": "company_payer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_type",
              "displayName": "payment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_purpose",
              "displayName": "payment_purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requester",
              "displayName": "requester",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        272,
        872
      ],
      "id": "6fa445b7-f946-42d7-b7d3-5b4efc74d5c2",
      "name": "Request status payed",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $('Request status payed').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        1096
      ],
      "id": "f8d173a1-e0ab-470b-af27-dcca041c0636",
      "name": "get approvals3",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('get approvals3').item.json.approver_tg_id }}",
        "messageId": "={{$('get approvals3').item.json.message_id }}",
        "text": "=☑️ *Заявка закрыта*\n\n{{ $('Request status payed').item.json.company_payer }}\n\n*Номер*: {{  $('Request status payed').item.json.id }}\n*Проект*: {{ $('Request status payed').item.json.title }}\n*Поставщик*: {{ $('Request status payed').item.json.vendor }}\n*Категория расхода*: {{ $('Request status payed').item.json.category }}\n*Сумма*: {{ Number($('Request status payed').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('Request status payed').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('Request status payed').item.json.payment_type }}\n*Назначение платежа*: {{ $('Request status payed').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('Request status payed').item.json.description }}\n*Срочность*: {{ $('Request status payed').item.json.urgency }}\n*Заявитель*: {{ $('Request status payed').item.json.requester }}\n\n{{$if(\n  $('get attachments').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('Request status payed').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        1096
      ],
      "id": "0d4a8618-33dc-48be-85fd-80aa1e0abfe3",
      "name": "change messages status to confirmed",
      "webhookId": "ade149af-24c8-4262-9214-b80bc04b0993",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a5caac6-bb09-4aac-b1f8-c45ee825dff3",
              "leftValue": "={{ $json.message_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        1096
      ],
      "id": "bac1c5f4-a41f-499c-8555-fb3abb155f28",
      "name": "message sent?"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text.replace(\"✅ Заявка польностью одобрена\", \"☑️ Заявка закрыта\") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        48,
        872
      ],
      "id": "44b8e0bd-02cd-46df-a455-641ff66a5392",
      "name": "payed",
      "webhookId": "84a535e7-624e-4069-945a-fce00dbc8caa",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8343a01-329e-4820-9f16-2dc2ac3fa6a0",
              "leftValue": "={{ $json.payment_type }}",
              "rightValue": "Перечисление",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        800
      ],
      "id": "ebf0ffa4-d41b-4323-a338-319cd03d70f4",
      "name": "is bank transfer"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('split callback data').item.json.approval_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        800
      ],
      "id": "00f15969-9103-435d-a308-179e637dd64f",
      "name": "Request status payed1",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "✅ Оплата подтверждена"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        736
      ],
      "id": "7e7c954b-b2c3-48df-89bd-c1dbebac42f8",
      "name": "Answer Query a callback4",
      "webhookId": "3576067b-b1ef-4fb8-8f66-4790c3163a8d",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "❌ Вы не можете подтвердить оплату"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -176,
        536
      ],
      "id": "4152f189-37ab-4939-93f8-0c2f8cb7d369",
      "name": "Answer Query a callback3",
      "webhookId": "f11b333d-ad4b-40bb-91bf-ec81efc7118f",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "daf90b39-6d2f-436d-8693-4623ff6b5e72",
              "leftValue": "={{ $('get user').item.json.role }}",
              "rightValue": "accountant",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -400,
        728
      ],
      "id": "255bc11a-7297-4bff-88fd-dfaab7258dae",
      "name": "user_is_NOT_accountant"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6075767-bca7-4acd-a182-15472d45fb94",
              "leftValue": "={{ $json.approver_tg_id }}",
              "rightValue": "={{ $('get user').item.json.telegram_chat_id }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        240
      ],
      "id": "3aee2ce9-51f8-4299-996a-d4b3443fc0bd",
      "name": "valid approver"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "❌ Вы не можете подтвердить оплату"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -400,
        344
      ],
      "id": "609283f7-efab-44ce-95b9-e70cac5d8482",
      "name": "Answer Query a callback5",
      "webhookId": "40f37a96-0b99-4579-bdb8-26c1e56166ce",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf10ae64-ea5f-4840-a917-5fd3c75e31e2",
              "leftValue": "={{ $('get user').item.json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1296,
        648
      ],
      "id": "6d4c3488-f388-4cf5-8e2f-09134bb27bdb",
      "name": "user found"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "❌ Вы не можете подтвердить оплату"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1072,
        752
      ],
      "id": "ebfbad8e-1bd2-4f41-a013-5d1a12966b6f",
      "name": "Answer Query a callback6",
      "webhookId": "ccf713f2-2320-46a6-8dcf-f1e8ee2d1c07",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "attachments",
          "mode": "list",
          "cachedResultName": "attachments"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $('Request status payed').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        872
      ],
      "id": "ccbde4bf-5534-46cf-bfa3-d89ae1a6e27b",
      "name": "get attachments",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "rRyTNu2Ha00QWo8E",
          "name": "lemonfit_requests"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KwkB2rLWBOsjs2tk",
          "mode": "list",
          "cachedResultUrl": "/workflow/KwkB2rLWBOsjs2tk",
          "cachedResultName": "Req"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $('Request status payed').item.json.submitted_at }}",
            "Статьи": "={{ $('Request status payed').item.json.category }}",
            "Сумма UZS": "={{ Number($('Request status payed').item.json.amount) }}",
            "Статус": "Выдано",
            "Ответственный": "={{ $('Request status payed').item.json.requester }}",
            "Файлы": "={{$if(\n  $('get attachments').item.json.isEmpty(), \n  \"\", \n  $('get attachments').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}",
            "Проект": "={{ $('Request status payed').item.json.title }}",
            "Комментарий": "={{ $('Request status payed').item.json.description }}",
            "request_id": "={{ $('Request status payed').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            },
            {
              "id": "Статьи",
              "displayName": "Статьи",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Сумма UZS",
              "displayName": "Сумма UZS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "Сумма USD",
              "displayName": "Сумма USD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Курс",
              "displayName": "Курс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": true
            },
            {
              "id": "Статус",
              "displayName": "Статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Комментарий",
              "displayName": "Комментарий",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Ответственный",
              "displayName": "Ответственный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Файлы",
              "displayName": "Файлы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "Проект",
              "displayName": "Проект",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        720,
        640
      ],
      "id": "8605bbde-1945-40fc-8342-095ce1b6ebba",
      "name": "add to table"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1968,
        1320
      ],
      "id": "851ae4a4-1d58-4638-87c5-6bece9c1b5bb",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=Request error in node:\n{{ JSON.stringify($json.execution.lastNodeExecuted) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1744,
        1320
      ],
      "id": "77843ee4-a065-4862-ad60-3b72a4fcc7d0",
      "name": "Send a text message1",
      "webhookId": "0ff5632e-8499-40f9-8991-033154e5ef3e",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('get notification users').item.json.telegram_chat_id}}",
        "text": "=☑️ *Заявка закрыта*\n\n{{ $('Request status payed').item.json.company_payer }}\n\n*Номер*: {{  $('Request status payed').item.json.id }}\n*Проект*: {{ $('Request status payed').item.json.title }}\n*Поставщик*: {{ $('Request status payed').item.json.vendor }}\n*Категория расхода*: {{ $('Request status payed').item.json.category }}\n*Сумма*: {{ Number($('Request status payed').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('Request status payed').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('Request status payed').item.json.payment_type }}\n*Назначение платежа*: {{ $('Request status payed').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('Request status payed').item.json.description }}\n*Срочность*: {{ $('Request status payed').item.json.urgency }}\n*Заявитель*: {{ $('Request status payed').item.json.requester }}\n\n{{$if(\n  $('get attachments').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('Request status payed').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Подтвердить получение",
                    "additionalFields": {
                      "callback_data": "=confirmed_{{  $('Request status payed').item.json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        944,
        904
      ],
      "id": "4c95a8b1-f7b9-458c-8ce6-538dac7560da",
      "name": "Notify",
      "webhookId": "1deef2ca-3cca-46fb-90a9-de6759752df0",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "role",
              "value": "notification"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        904
      ],
      "id": "7c73fe7a-c082-4e70-a6d3-387a9bb52946",
      "name": "get notification users",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('split callback data').item.json.accepted }}",
                    "rightValue": "payed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ea93e1d3-15cb-4872-8b07-2e1aba6a6d24"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "payed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "232c918b-8112-4282-bb02-4c512071195b",
                    "leftValue": "={{ $('split callback data').item.json.accepted }}",
                    "rightValue": "confirmed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirmed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -1072,
        528
      ],
      "id": "50bf95e4-2597-4279-9ad4-89a416d5e358",
      "name": "Confirmed, payed, other"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HKL8yjWXbVvxxAoU",
          "mode": "list",
          "cachedResultUrl": "/workflow/HKL8yjWXbVvxxAoU",
          "cachedResultName": "Status change"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ Number($('split callback data').item.json.approval_id) }}"
          },
          "matchingColumns": [
            "request_id"
          ],
          "schema": [
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -400,
        536
      ],
      "id": "5281483d-0a35-42d4-8c3e-4dff2c945b5f",
      "name": "Call 'Status change'"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "✅ Получение подтверждено"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -848,
        536
      ],
      "id": "2e0e24e0-60d2-473d-a7d7-88c30b17e083",
      "name": "Answer Query a callback7",
      "webhookId": "40f37a96-0b99-4579-bdb8-26c1e56166ce",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -624,
        536
      ],
      "id": "28933064-162b-4b17-9b94-ea1129911207",
      "name": "delete button",
      "webhookId": "0fb1e6c3-6720-44e5-b7dd-e856f76e9eef",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "split callback data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "accept approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reject approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "information requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get user": {
      "main": [
        [
          {
            "node": "user found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get approval": {
      "main": [
        [
          {
            "node": "valid approver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split callback data": {
      "main": [
        [
          {
            "node": "get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback": {
      "main": [
        [
          {
            "node": "add approval id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "accept approval": {
      "main": [
        [
          {
            "node": "✅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reject approval": {
      "main": [
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback1": {
      "main": [
        [
          {
            "node": "add approval id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback2": {
      "main": [
        [
          {
            "node": "add approval id2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "information requested": {
      "main": [
        [
          {
            "node": "info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅": {
      "main": [
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌": {
      "main": [
        [
          {
            "node": "Answer Query a callback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call approval status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add approval id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add approval id1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "add approval id2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "info": {
      "main": [
        [
          {
            "node": "Answer Query a callback2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request status payed": {
      "main": [
        [
          {
            "node": "get attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get approvals3": {
      "main": [
        [
          {
            "node": "message sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message sent?": {
      "main": [
        [
          {
            "node": "change messages status to confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payed": {
      "main": [
        [
          {
            "node": "Request status payed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is bank transfer": {
      "main": [
        [
          {
            "node": "user_is_NOT_accountant",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "payed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request status payed1": {
      "main": [
        [
          {
            "node": "is bank transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback4": {
      "main": [
        [
          {
            "node": "payed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user_is_NOT_accountant": {
      "main": [
        [
          {
            "node": "Answer Query a callback3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Query a callback4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "valid approver": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Query a callback5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user found": {
      "main": [
        [
          {
            "node": "Confirmed, payed, other",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Query a callback6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get attachments": {
      "main": [
        [
          {
            "node": "get approvals3",
            "type": "main",
            "index": 0
          },
          {
            "node": "add to table",
            "type": "main",
            "index": 0
          },
          {
            "node": "get notification users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get notification users": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirmed, payed, other": {
      "main": [
        [
          {
            "node": "Request status payed1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Query a callback7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Status change'": {
      "main": [
        []
      ]
    },
    "Answer Query a callback7": {
      "main": [
        [
          {
            "node": "delete button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "delete button": {
      "main": [
        [
          {
            "node": "Call 'Status change'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a231a317-428a-4d5b-8e83-9ac5a829516c",
  "versionCounter": 70,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-10-28T12:21:34.379Z",
      "createdAt": "2025-10-28T12:21:34.379Z",
      "id": "AF6lC1ccKNZsTMSk",
      "name": "construction"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-10-30T11:20:04.372Z",
      "createdAt": "2025-10-30T11:20:04.372Z",
      "role": "workflow:owner",
      "workflowId": "f9dS0ZJXK76w5fUM",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}