workflows/Hj2fCg4IVrbmg53C.json
{
  "updatedAt": "2025-11-18T18:54:53.000Z",
  "createdAt": "2025-11-18T18:52:05.635Z",
  "id": "Hj2fCg4IVrbmg53C",
  "name": "Auto request: wait for response",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "agreement",
              "type": "any"
            },
            {
              "name": "vendor",
              "type": "any"
            },
            {
              "name": "type",
              "type": "any"
            },
            {
              "name": "If_payment_due_vendor",
              "type": "any"
            },
            {
              "name": "cathegory",
              "type": "any"
            },
            {
              "name": "If_payment_due_type",
              "type": "any"
            }
          ]
        }
      },
      "id": "793c4e7f-6ad5-4386-9430-d6fbf5c62e94",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        800,
        -480
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "role",
              "value": "acc_group"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        -480
      ],
      "id": "2ddeb549-1e11-4b6c-9b22-acc44566d399",
      "name": "get acc group",
      "credentials": {
        "postgres": {
          "id": "rRyTNu2Ha00QWo8E",
          "name": "lemonfit_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "={{ $json.telegram_chat_id }}",
        "message": "=Укажите сумму платежа для заявки:\n\nПоставщик: {{ $('sum is null').item.json.vendor }}\nДоговор: {{ $('sum is null').item.json.agreement }}\nТип: {{ $('sum is null').item.json.type }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Сумма платежа",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {
          "messageButtonLabel": "Ввести сумму",
          "responseFormTitle": "Сумма платежа",
          "responseFormButtonLabel": "Submit",
          "limitWaitTime": {
            "values": {
              "resumeAmount": 2,
              "resumeUnit": "days"
            }
          },
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        -480
      ],
      "id": "289e43ca-43bb-4a8f-88b0-82b54de3e4ca",
      "name": "Send message and wait for response",
      "webhookId": "733487bf-9f2a-435b-84e7-9c22ce4e5287",
      "credentials": {
        "telegramApi": {
          "id": "GlN5OGKLXSsawcEL",
          "name": "Lemonfit заявки"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tYJAknRv7dHNAgvU",
          "mode": "list",
          "cachedResultUrl": "/workflow/tYJAknRv7dHNAgvU",
          "cachedResultName": "Request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Поставщик": "={{ $('Start').item.json.If_payment_due_vendor }}",
            "Категория расхода": "={{ $('Start').item.json.cathegory }}",
            "Сумма": "={{$json.data['Сумма платежа'] }}",
            "Тип оплаты": "={{ $('Start').item.json.If_payment_due_type }}",
            "Назначение платежа": "={{ $json.payment_purpose || \"\" }}",
            "Описание/зачем": "={{null || \"\"}}",
            "Срочность": "Обычно",
            "Заявитель": "Автоматически",
            "Вложения": "={{ null }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Поставщик",
              "displayName": "Поставщик",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Категория расхода",
              "displayName": "Категория расхода",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Сумма",
              "displayName": "Сумма",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "Тип оплаты",
              "displayName": "Тип оплаты",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Назначение платежа",
              "displayName": "Назначение платежа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Описание/зачем",
              "displayName": "Описание/зачем",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Срочность",
              "displayName": "Срочность",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Заявитель",
              "displayName": "Заявитель",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Вложения",
              "displayName": "Вложения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1472,
        -480
      ],
      "id": "e2831930-db66-43c4-8a0d-e4b01818faed",
      "name": "Call 'Request'"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "get acc group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get acc group": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Call 'Request'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Request'": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "f75dd29d-f5e2-470d-a57c-3057af434d2b",
  "versionCounter": 6,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-18T18:52:05.639Z",
      "createdAt": "2025-11-18T18:52:05.639Z",
      "role": "workflow:owner",
      "workflowId": "Hj2fCg4IVrbmg53C",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}