workflows/HKL8yjWXbVvxxAoU.json
{
  "updatedAt": "2025-11-10T11:36:06.000Z",
  "createdAt": "2025-11-08T11:08:22.604Z",
  "id": "HKL8yjWXbVvxxAoU",
  "name": "Status change",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "request_id",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        -176
      ],
      "id": "0c54faa9-9349-477e-87f2-86fbcdf0a132",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE",
          "mode": "list",
          "cachedResultName": "Инвестиционный отчет Kolberg Construction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $if($('get request').item.json.title == \"Сагбон\", \"1987330808\", \"0\") }} ",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('get request').item.json.id }}",
            "Статус": "Получено"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Статья",
              "displayName": "Статья",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Сумма UZS",
              "displayName": "Сумма UZS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Сумма USD",
              "displayName": "Сумма USD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Курс",
              "displayName": "Курс",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Статус",
              "displayName": "Статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Комментарий",
              "displayName": "Комментарий",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ответственный",
              "displayName": "Ответственный",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Файлы",
              "displayName": "Файлы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Минимальный процент прибыли с инвестиции",
              "displayName": "Минимальный процент прибыли с инвестиции",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Итого минимальный возврат",
              "displayName": "Итого минимальный возврат",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "list",
              "displayName": "list",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -160
      ],
      "id": "42401771-2aac-436c-9017-4bb96c6536a6",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('When Executed by Another Workflow').item.json.request_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        -176
      ],
      "id": "bc6b70fa-1447-4632-b506-421998249c3f",
      "name": "get request",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        128
      ],
      "id": "4fa9e68c-b93b-4056-b6d3-2651ecb07dcd",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=Request error in node:\n{{ JSON.stringify($json.execution.lastNodeExecuted) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        128
      ],
      "id": "fc80874f-2e34-4cd5-9a5c-47e990955b57",
      "name": "Send a text message1",
      "webhookId": "0ff5632e-8499-40f9-8991-033154e5ef3e",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "get request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "request_id": 160
        }
      }
    ]
  },
  "versionId": "8633c179-eb76-4f97-ae6e-c821fb7aff1f",
  "versionCounter": 10,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-08T11:08:22.608Z",
      "createdAt": "2025-11-08T11:08:22.608Z",
      "role": "workflow:owner",
      "workflowId": "HKL8yjWXbVvxxAoU",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}