workflows/JG6c8WQ2BaomHXNe.json
{
  "updatedAt": "2025-11-16T09:48:01.000Z",
  "createdAt": "2025-10-09T12:39:52.279Z",
  "id": "JG6c8WQ2BaomHXNe",
  "name": "Lemonfit_add_asset",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nconst company_id = $('Location').first().json.id;\nconst companyCode = String(company_id).slice(-3).padStart(3, '0');\n\n// 2) Оставляем только цифры, берём последние 3 и дополняем слева нулями\n\nconst room_id = $input.first().json.room_id;\nconst roomCode = String(room_id).slice(-3).padStart(3, '0');\n\n// 3) Генерируем 5 случайных цифр (с лидирующими нулями)\nconst rand5 = Math.floor(Math.random() * 100000).toString().padStart(5, '0');\n\n// 4) Собираем ID: FFF-CCC-RRRRR\nconst assetId = `${companyCode}-${roomCode}-${rand5}`;\n\n// Возвращаем вместе с исходными полями\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    room_id,\n    assetId,\n  },\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -400
      ],
      "id": "6d0ac593-ad26-4225-aec8-ffe74da19bf3",
      "name": "Code",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "30d4f04b-22e2-4b7d-a774-2445878c14e9",
              "name": "name",
              "value": "={{ $('Форма заполнения').item.json['Наименование'] }}",
              "type": "string"
            },
            {
              "id": "9a9a5fa4-a356-4d92-bbd0-75d22b5228e0",
              "name": "sum",
              "value": "={{ $('Форма заполнения').item.json['Стоимость покупки'] }}",
              "type": "number"
            },
            {
              "id": "34f20995-a62c-4705-8635-c7552e80c716",
              "name": "qrData",
              "value": "={{ JSON.stringify ($('Форма заполнения').item.json)}}",
              "type": "string"
            },
            {
              "id": "b19cee1f-485d-4558-baee-6bd99a11196d",
              "name": "submittedAt",
              "value": "={{ $('Форма заполнения').item.json.submittedAt }}",
              "type": "string"
            },
            {
              "id": "fa1b0df6-50e6-498f-9b8b-61a5383760f6",
              "name": "room_id",
              "value": "={{$('room').item.json.id}}",
              "type": "number"
            },
            {
              "id": "fba40289-2bab-4b8b-bb63-e0ce160e5c6e",
              "name": "comments",
              "value": "={{ $('Форма заполнения').item.json['комментарий'] }}",
              "type": "string"
            },
            {
              "id": "c71fa121-973b-4d04-a806-5306d78fd74b",
              "name": "quantity",
              "value": "={{ $('Форма заполнения').item.json['Количество'] || 1 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1472,
        -400
      ],
      "id": "24c21c5e-2df9-45d5-86e0-30690564c529",
      "name": "data transformation"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7e27c00d-2da9-4e3e-90a5-afca89f293cb",
              "name": "TELEGRAM_CHAT_ID",
              "value": "1387986",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        800,
        -400
      ],
      "id": "a9e41dbc-f161-4058-8a04-8341b5821d11",
      "name": "env"
    },
    {
      "parameters": {
        "chatId": "={{$('env').first().json.TELEGRAM_CHAT_ID}}",
        "text": "=`🆕 Добавлен актив\nID: {{ $json.asset_code }}\nНазвание: {{$json.name}}\nКомната: {{ $('room').item.json.name }}\nЛокация: {{ $('Location1').item.json.name }}\nКатегория: {{$json.category || '-'}}\nСтоимость: {{$json.price || '-'}}`",
        "additionalFields": {}
      },
      "id": "de82e2d4-07ab-41f3-9cc7-e01c22d56181",
      "name": "Success",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2144,
        -688
      ],
      "webhookId": "bb940ceb-da72-454c-89a8-f4535ddc79d7",
      "credentials": {
        "telegramApi": {
          "id": "FFC0ClGj9o2AvhjH",
          "name": "Development"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "locations",
          "mode": "list",
          "cachedResultName": "locations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -96,
        -400
      ],
      "id": "867d0306-9e6a-47dc-bb4a-d38cacd10250",
      "name": "Location",
      "credentials": {
        "postgres": {
          "id": "920Pob4R9aSjhFuM",
          "name": "lemonfit_assets"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "assets",
          "mode": "list",
          "cachedResultName": "assets"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{$json.name}}",
            "room_id": "={{ $json.room_id }}",
            "price": "={{ $json.sum }}",
            "asset_code": "={{ $json.assetId }}",
            "comments": "={{ $json.comments }}",
            "quantity": "={{ $json.quantity }}",
            "created_at": "={{$now}}",
            "updated_at": "={{$now}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "asset_code",
              "displayName": "asset_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "location_code",
              "displayName": "location_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "room_code",
              "displayName": "room_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "seq_no",
              "displayName": "seq_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1920,
        -400
      ],
      "id": "bcc33132-eccf-4007-a46b-3883d7c00d83",
      "name": "New asset",
      "credentials": {
        "postgres": {
          "id": "920Pob4R9aSjhFuM",
          "name": "lemonfit_assets"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "ck8xuD0oUP96FXqY",
          "mode": "list",
          "cachedResultName": "LemonFit_rooms",
          "cachedResultUrl": "/projects/Khq0xGbDHq3t4IJq/datatables/ck8xuD0oUP96FXqY"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -320,
        112
      ],
      "id": "3b286ec0-d7f8-4f08-9b79-e7334efd8e14",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        112
      ],
      "id": "f17d11f3-8e9c-4cb8-804c-f80bef2ccbdb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "rooms",
          "mode": "list",
          "cachedResultName": "rooms"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "floor": "={{ $json.floor }}",
            "location_id": "={{ $json.location_id }}",
            "name": "={{ $json.name }}",
            "created_at": "={{ $json.createdAt }}",
            "updated_at": "={{ $json.updatedAt }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "floor",
              "displayName": "floor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "location_id",
              "displayName": "location_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "skipOnConflict": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        128,
        112
      ],
      "id": "f2becfe4-7340-42b8-88e4-99381bab2de0",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "920Pob4R9aSjhFuM",
          "name": "lemonfit_assets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet options = []\nfor (const item of $input.all()) {\n  console.log(item)\n  options.push({\"option\": item.json.name})\n}\n\nreturn { json: { options } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -400
      ],
      "id": "6ea7aba9-016c-4f22-9ca9-6b30e04948f7",
      "name": "Build options"
    },
    {
      "parameters": {
        "formTitle": "Новый актив",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Отправить форму",
          "path": "asset"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -320,
        -400
      ],
      "id": "5996090a-6072-4150-aaeb-dc56a332b234",
      "name": "Форма актива",
      "webhookId": "63863bf3-f1b0-428e-8850-90a1fce68f73"
    },
    {
      "parameters": {
        "defineForm": "json",
        "jsonOutput": "=[\n            {\n              \"fieldLabel\": \"Наименование\",\n              \"requiredField\": true\n            },\n            {\n              \"fieldLabel\": \"Стоимость покупки\",\n              \"fieldType\": \"number\"\n            },\n            {\n              \"fieldLabel\": \"Комната\",\n              \"fieldType\": \"dropdown\",\n              \"fieldOptions\": {\n                \"values\": {{JSON.stringify($json.options)}}\n              },\n              \"requiredField\": true\n            },\n            {\n              \"fieldLabel\": \"Количество\",\n              \"fieldType\": \"number\"\n            },\n            {\n              \"fieldLabel\": \"комментарий\",\n              \"fieldType\": \"textarea\"\n            }\n]",
        "limitWaitTime": true,
        "options": {
          "formTitle": "Добавить актив"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        576,
        -400
      ],
      "id": "516f7867-7929-4d0e-9a04-a869981068a7",
      "name": "Форма заполнения",
      "webhookId": "b7083f97-3ba7-47f6-86f1-f736faba2269"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "rooms",
          "mode": "list",
          "cachedResultName": "rooms"
        },
        "returnAll": true,
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        128,
        -400
      ],
      "id": "0095644e-ff3f-43bd-a8f1-97e7e11d78cd",
      "name": "Rooms",
      "alwaysOutputData": false,
      "notesInFlow": false,
      "credentials": {
        "postgres": {
          "id": "920Pob4R9aSjhFuM",
          "name": "lemonfit_assets"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "rooms",
          "mode": "list",
          "cachedResultName": "rooms"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "name",
              "value": "={{ $('Форма заполнения').item.json[\"Комната\"] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1024,
        -400
      ],
      "id": "93fe8a74-4c29-4561-af12-568adfe2607d",
      "name": "room",
      "credentials": {
        "postgres": {
          "id": "920Pob4R9aSjhFuM",
          "name": "lemonfit_assets"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "locations",
          "mode": "list",
          "cachedResultName": "locations"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.location_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        -400
      ],
      "id": "7fc0ee2c-fc5f-4c20-a51d-7735e852812b",
      "name": "Location1",
      "credentials": {
        "postgres": {
          "id": "920Pob4R9aSjhFuM",
          "name": "lemonfit_assets"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "redirect",
        "redirectUrl": "https://dev1.ddavlety.com/form/asset",
        "options": {
          "formTitle": "Добавлено"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2144,
        -496
      ],
      "id": "4a9eb73d-31f8-4f98-9880-3afcc8036e68",
      "name": "Form1",
      "webhookId": "37600b21-5cfa-45d3-950f-48012cc5baed"
    },
    {
      "parameters": {
        "chatId": "={{$('env').first().json.TELEGRAM_CHAT_ID}}",
        "text": "=`ОШИБКА:\nID: {{ $json.asset_code }}\nНазвание: {{$json.name}}\nКомната: {{ $('room').item.json.name }}\nЛокация: {{ $('Location1').item.json.name }}\nКатегория: {{$json.category || '-'}}\nСтоимость: {{$json.price || '-'}}`\n\nЗапуск: {{ $now.toLocal().format(\"HH:MM:ss\") }}",
        "additionalFields": {}
      },
      "id": "ccf54cc7-8453-4525-8dd8-ccc83125cb3d",
      "name": "Failure",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2144,
        -304
      ],
      "webhookId": "bb940ceb-da72-454c-89a8-f4535ddc79d7",
      "credentials": {
        "telegramApi": {
          "id": "FFC0ClGj9o2AvhjH",
          "name": "Development"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "ОШИБКА! ДОБАВЛЕН ДУБЛИКАТ!"
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2144,
        -112
      ],
      "id": "d25f0e7d-2dca-463f-96dd-4b9f6c0cded9",
      "name": "Form2",
      "webhookId": "37600b21-5cfa-45d3-950f-48012cc5baed"
    },
    {
      "parameters": {
        "errorMessage": "object exists"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2368,
        -112
      ],
      "id": "57796038-af91-441d-b3bb-b07b709e6582",
      "name": "Stop and Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        336
      ],
      "id": "365650bb-2fe7-421d-bfdc-270a4c9052a5",
      "name": "add rooms"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1h5TmTjl34wbG6ijsE9XYho6pDLl43b5-jlkZFzGbrRA",
          "mode": "list",
          "cachedResultName": "Assets",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h5TmTjl34wbG6ijsE9XYho6pDLl43b5-jlkZFzGbrRA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h5TmTjl34wbG6ijsE9XYho6pDLl43b5-jlkZFzGbrRA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -96,
        336
      ],
      "id": "e403d36d-82f8-407c-b9d4-c579a3345acd",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "assets",
          "mode": "list",
          "cachedResultName": "assets"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": 0,
            "room_id": 0,
            "price": 0,
            "quantity": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "asset_code",
              "displayName": "asset_code",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "room_id",
              "displayName": "room_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "location_code",
              "displayName": "location_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "room_code",
              "displayName": "room_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "seq_no",
              "displayName": "seq_no",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comments",
              "displayName": "comments",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity",
              "displayName": "quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        352,
        336
      ],
      "id": "ae0d3388-376c-44fc-a46b-b8df04dbef84",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "920Pob4R9aSjhFuM",
          "name": "lemonfit_assets"
        }
      }
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "row_number",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        336
      ],
      "id": "7b2b1739-b37c-4fa8-b1f7-8127a5b10148",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "New asset",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "data transformation": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "env": {
      "main": [
        [
          {
            "node": "room",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Location": {
      "main": [
        [
          {
            "node": "Rooms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New asset": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          },
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure",
            "type": "main",
            "index": 0
          },
          {
            "node": "Form2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build options": {
      "main": [
        [
          {
            "node": "Форма заполнения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форма актива": {
      "main": [
        [
          {
            "node": "Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Форма заполнения": {
      "main": [
        [
          {
            "node": "env",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rooms": {
      "main": [
        [
          {
            "node": "Build options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "room": {
      "main": [
        [
          {
            "node": "Location1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Location1": {
      "main": [
        [
          {
            "node": "data transformation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form2": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add rooms": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "JG6c8WQ2BaomHXNe",
    "executionTimeout": 600
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Форма актива": [
      {
        "json": {
          "submittedAt": "2025-10-15T16:19:13.891+05:00",
          "formMode": "production"
        }
      }
    ]
  },
  "versionId": "8d2bb3cc-87ba-401d-8957-4f01edb94479",
  "versionCounter": 29,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-10-28T12:22:13.008Z",
      "createdAt": "2025-10-28T12:22:13.008Z",
      "id": "ccWlvl6UxFDSmPeQ",
      "name": "lemonfit"
    },
    {
      "updatedAt": "2025-11-03T10:07:25.993Z",
      "createdAt": "2025-11-03T10:07:25.993Z",
      "id": "vcxkd6Mqlkw5xDjL",
      "name": "assets"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-10-09T12:39:52.282Z",
      "createdAt": "2025-10-09T12:39:52.282Z",
      "role": "workflow:owner",
      "workflowId": "JG6c8WQ2BaomHXNe",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}