workflows/JR3fIB22jYViBgU9.json
{
  "updatedAt": "2025-11-18T23:51:45.000Z",
  "createdAt": "2025-11-16T09:17:28.048Z",
  "id": "JR3fIB22jYViBgU9",
  "name": "bus & fahrer updates",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\"data\":[\n  {\n    \"id\": \"msg-1\",\n    \"conversationId\": \"conv-24-1\",\n    \"direction\": \"from_driver\",\n    \"status\": \"delivered\",\n    \"createdAt\": \"2025-11-14T10:20:00.000Z\",\n    \"originalText\": \"Я опоздаю на 10 минут\",\n    \"translatedText\": \"Я опоздаю на 10 минут\",\n    \"sourceLang\": \"ru\",\n    \"targetLang\": \"de\",\n    \"hasAudio\": true,\n    \"audioUrl\": \"https://example.com/audio/msg-1.webm\",\n    \"errorMessage\": null\n  },\n  {\n    \"id\": \"msg-2\",\n    \"conversationId\": \"conv-24-1\",\n    \"direction\": \"from_operator\",\n    \"status\": \"delivered\",\n    \"createdAt\": \"2025-11-14T10:21:00.000Z\",\n    \"originalText\": \"Der Bus verspätet sich um zehn Minuten\",\n    \"translatedText\": \"Автобус опоздает на десять минут\",\n    \"sourceLang\": \"de\",\n    \"targetLang\": \"ru\",\n    \"hasAudio\": false,\n    \"audioUrl\": null,\n    \"errorMessage\": null\n  }\n]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "c6c99ca3-719e-4be1-81e7-30463c919ec0",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        896,
        0
      ],
      "id": "162643a1-448f-43f0-a94d-08f6ad632075",
      "name": "Respond to Webhook7"
    },
    {
      "parameters": {
        "path": "test/driver-messages",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "ccd9f50b-e5da-47b2-a8d0-0df2fc0b4f2d",
      "name": "/driver-messages",
      "webhookId": "15e55ff8-0d24-46ea-a463-118014ad4690"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "16algRly7QgUTLaTuyv8G9T1V6W5A3Cy4VqwAdIwzRFY",
          "mode": "list",
          "cachedResultName": "messages_test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16algRly7QgUTLaTuyv8G9T1V6W5A3Cy4VqwAdIwzRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "messages",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16algRly7QgUTLaTuyv8G9T1V6W5A3Cy4VqwAdIwzRFY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        0
      ],
      "id": "b99d8ab3-14b5-433d-9ab7-0c49a5f87aac",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        0
      ],
      "id": "8ec81c2e-27cc-459d-85b5-d5cf2fc5a7fd",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "path": "test/conversations",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        432
      ],
      "id": "14a4c5fd-5d33-4171-aaa9-d238902c8838",
      "name": "/conversations",
      "webhookId": "15e55ff8-0d24-46ea-a463-118014ad4690"
    },
    {
      "parameters": {
        "path": "test/messages",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        208
      ],
      "id": "6c475af0-19ea-48ba-82ab-b0e5b90cd09d",
      "name": "/messages",
      "webhookId": "15e55ff8-0d24-46ea-a463-118014ad4690"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        672,
        208
      ],
      "id": "55d878fb-2f98-43a5-94b3-44bea1bc51e8",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        656,
        432
      ],
      "id": "d89b1c61-5241-4a8b-bd89-4411e6303a98",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        448,
        208
      ],
      "id": "78580433-f947-4517-bcac-2c503a4c258b",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "16algRly7QgUTLaTuyv8G9T1V6W5A3Cy4VqwAdIwzRFY",
          "mode": "list",
          "cachedResultName": "messages_test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16algRly7QgUTLaTuyv8G9T1V6W5A3Cy4VqwAdIwzRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16algRly7QgUTLaTuyv8G9T1V6W5A3Cy4VqwAdIwzRFY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "driverId",
              "lookupValue": "={{ $json.query.driverId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        208
      ],
      "id": "d36d1d53-26d8-4d27-a06e-ebc0eac99214",
      "name": "messages",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "16algRly7QgUTLaTuyv8G9T1V6W5A3Cy4VqwAdIwzRFY",
          "mode": "list",
          "cachedResultName": "messages_test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16algRly7QgUTLaTuyv8G9T1V6W5A3Cy4VqwAdIwzRFY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1285656234,
          "mode": "list",
          "cachedResultName": "conversations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16algRly7QgUTLaTuyv8G9T1V6W5A3Cy4VqwAdIwzRFY/edit#gid=1285656234"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        432
      ],
      "id": "8d37f13d-9897-4ad8-b4d1-39fd41152493",
      "name": "conversations",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        432,
        432
      ],
      "id": "7ff8e8c5-4fc6-41f1-9ef5-0555b059e9e3",
      "name": "Aggregate2"
    }
  ],
  "connections": {
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/driver-messages": {
      "main": [
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Respond to Webhook7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/conversations": {
      "main": [
        [
          {
            "node": "conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/messages": {
      "main": [
        [
          {
            "node": "messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "messages": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "conversations": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "none",
    "saveExecutionProgress": false,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "/driver-messages": [
      {
        "json": {
          "headers": {
            "host": "dev.kolberg.uz",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "ru,en-US;q=0.9,en;q=0.8,de;q=0.7",
            "authorization": "Bearer dev-token",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18y4BCJyanLAxJaQpe%2BDg65UjvCk6zrj9o%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19RJflCM5m9mIsRVEmM64tOwqBbD0eIUbk%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BkIiDMtdg0bOStebmgNQqmj7%2FRBevDCkVnWDyrhEVwlD6GgrVwUcqHlpsEURNvBMyk7TVISEajWw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19SRLsoOmYqezV6FGpeXyR5%2FEGTSCF5mBQOubFv97fLPfoCwg9NHN2wyHx76GZborD48ibioo6XmtYdBsv1k0KNQceWugXNEC6m571stVcvSVg2e9HtWTARj7AZQ4vJiGUFhz%2BMf5%2BhATknPX7DNAKjnAltRZqN8gM%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FHfXVZQpDSy7UA%2BNXlwyJqvFrhjd%2Fsv%2FgLH02FtebZYle5dIqoSfCEKMvtzIYRY7QPorX%2Bjky3QMW%2BwRXyNwe91BrRCTJNNeVUwQSt5NSB0B3u%2B%2Ffn7tmyKJEOQVyjAv88Kc0MDbJcxw%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX19BNO40zu7w4WhxUaXfRkzub6q8tKF42sYtNawC9kT%2FhDFmyfk%2FbxltoRFAGLoKwTreK7VNe5YFNcx8wmTmmIfyaxt6mr9B2fFIUJ5guDDv9hq6k0lVM4C8BVmfkQaZPRZ128pK7fZ%2FvA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%229e0208d2cf6398fc11d62cf2e7b2e69533522b874f443ccc841586b5ddeedeff%2321f4514e-6679-4c0e-9179-e81c30176838%22%2C%22%24sesid%22%3A%5B1759922906542%2C%220199c394-65b5-7c38-a048-084a691963b7%22%2C1759922906542%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2Fsetup%22%7D%7D",
            "dnt": "1",
            "referer": "http://localhost:5173/driver",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-origin",
            "x-forwarded-for": "88.134.57.131",
            "x-forwarded-host": "dev.kolberg.uz",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2fcdae257942",
            "x-real-ip": "88.134.57.131"
          },
          "params": {},
          "query": {
            "conversationId": "conv-24-1"
          },
          "body": {},
          "webhookUrl": "https://dev.kolberg.uz/webhook/test/driver-messages",
          "executionMode": "production"
        }
      }
    ],
    "/conversations": [
      {
        "json": {
          "headers": {
            "host": "dev.kolberg.uz",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "ru,en-US;q=0.9,en;q=0.8,de;q=0.7",
            "authorization": "Bearer dev-token",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18y4BCJyanLAxJaQpe%2BDg65UjvCk6zrj9o%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19RJflCM5m9mIsRVEmM64tOwqBbD0eIUbk%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BkIiDMtdg0bOStebmgNQqmj7%2FRBevDCkVnWDyrhEVwlD6GgrVwUcqHlpsEURNvBMyk7TVISEajWw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19SRLsoOmYqezV6FGpeXyR5%2FEGTSCF5mBQOubFv97fLPfoCwg9NHN2wyHx76GZborD48ibioo6XmtYdBsv1k0KNQceWugXNEC6m571stVcvSVg2e9HtWTARj7AZQ4vJiGUFhz%2BMf5%2BhATknPX7DNAKjnAltRZqN8gM%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FHfXVZQpDSy7UA%2BNXlwyJqvFrhjd%2Fsv%2FgLH02FtebZYle5dIqoSfCEKMvtzIYRY7QPorX%2Bjky3QMW%2BwRXyNwe91BrRCTJNNeVUwQSt5NSB0B3u%2B%2Ffn7tmyKJEOQVyjAv88Kc0MDbJcxw%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX19BNO40zu7w4WhxUaXfRkzub6q8tKF42sYtNawC9kT%2FhDFmyfk%2FbxltoRFAGLoKwTreK7VNe5YFNcx8wmTmmIfyaxt6mr9B2fFIUJ5guDDv9hq6k0lVM4C8BVmfkQaZPRZ128pK7fZ%2FvA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%229e0208d2cf6398fc11d62cf2e7b2e69533522b874f443ccc841586b5ddeedeff%2321f4514e-6679-4c0e-9179-e81c30176838%22%2C%22%24sesid%22%3A%5B1759922906542%2C%220199c394-65b5-7c38-a048-084a691963b7%22%2C1759922906542%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2Fsetup%22%7D%7D",
            "dnt": "1",
            "referer": "http://localhost:5173/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-origin",
            "x-forwarded-for": "88.134.57.131",
            "x-forwarded-host": "dev.kolberg.uz",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2fcdae257942",
            "x-real-ip": "88.134.57.131"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://dev.kolberg.uz/webhook/test/conversations",
          "executionMode": "production"
        }
      }
    ],
    "/messages": [
      {
        "json": {
          "headers": {
            "host": "dev.kolberg.uz",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "ru,en-US;q=0.9,en;q=0.8,de;q=0.7",
            "authorization": "Bearer dev-token",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX18y4BCJyanLAxJaQpe%2BDg65UjvCk6zrj9o%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX19RJflCM5m9mIsRVEmM64tOwqBbD0eIUbk%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX1%2BkIiDMtdg0bOStebmgNQqmj7%2FRBevDCkVnWDyrhEVwlD6GgrVwUcqHlpsEURNvBMyk7TVISEajWw%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX19SRLsoOmYqezV6FGpeXyR5%2FEGTSCF5mBQOubFv97fLPfoCwg9NHN2wyHx76GZborD48ibioo6XmtYdBsv1k0KNQceWugXNEC6m571stVcvSVg2e9HtWTARj7AZQ4vJiGUFhz%2BMf5%2BhATknPX7DNAKjnAltRZqN8gM%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2FHfXVZQpDSy7UA%2BNXlwyJqvFrhjd%2Fsv%2FgLH02FtebZYle5dIqoSfCEKMvtzIYRY7QPorX%2Bjky3QMW%2BwRXyNwe91BrRCTJNNeVUwQSt5NSB0B3u%2B%2Ffn7tmyKJEOQVyjAv88Kc0MDbJcxw%3D%3D; rl_session=RudderEncrypt%3AU2FsdGVkX19BNO40zu7w4WhxUaXfRkzub6q8tKF42sYtNawC9kT%2FhDFmyfk%2FbxltoRFAGLoKwTreK7VNe5YFNcx8wmTmmIfyaxt6mr9B2fFIUJ5guDDv9hq6k0lVM4C8BVmfkQaZPRZ128pK7fZ%2FvA%3D%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%229e0208d2cf6398fc11d62cf2e7b2e69533522b874f443ccc841586b5ddeedeff%2321f4514e-6679-4c0e-9179-e81c30176838%22%2C%22%24sesid%22%3A%5B1759922906542%2C%220199c394-65b5-7c38-a048-084a691963b7%22%2C1759922906542%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22http%3A%2F%2Flocalhost%3A5678%2Fsetup%22%7D%7D",
            "dnt": "1",
            "referer": "http://localhost:5173/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "same-origin",
            "x-forwarded-for": "88.134.57.131",
            "x-forwarded-host": "dev.kolberg.uz",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2fcdae257942",
            "x-real-ip": "88.134.57.131"
          },
          "params": {},
          "query": {
            "driverId": "driver-24-ivan"
          },
          "body": {},
          "webhookUrl": "https://dev.kolberg.uz/webhook/test/messages",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "4431d6e8-f7b0-41c8-8b18-e348445ddee3",
  "versionCounter": 9,
  "triggerCount": 3,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-16T09:17:28.054Z",
      "createdAt": "2025-11-16T09:17:28.054Z",
      "role": "workflow:owner",
      "workflowId": "JR3fIB22jYViBgU9",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}