workflows/KwkB2rLWBOsjs2tk.json
{
  "updatedAt": "2025-11-09T12:56:14.000Z",
  "createdAt": "2025-10-29T20:47:47.099Z",
  "id": "KwkB2rLWBOsjs2tk",
  "name": "Req",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Дата",
              "type": "any"
            },
            {
              "name": "Статьи"
            },
            {
              "name": "Сумма UZS",
              "type": "number"
            },
            {
              "name": "Сумма USD",
              "type": "number"
            },
            {
              "name": "Курс",
              "type": "number"
            },
            {
              "name": "Статус"
            },
            {
              "name": "Комментарий"
            },
            {
              "name": "Ответственный"
            },
            {
              "name": "Файлы"
            },
            {
              "name": "Проект"
            },
            {
              "name": "request_id",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -432,
        -624
      ],
      "id": "ef53b566-024a-4ef3-88f4-c13c64b3c623",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE",
          "mode": "list",
          "cachedResultName": "Инвестиционный отчет Kolberg Construction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$('Edit Fields').item.json['list']}}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1024,
        -624
      ],
      "id": "02415953-065a-4031-8c62-c4cec5490e66",
      "name": "add new record",
      "executeOnce": true,
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE",
          "mode": "list",
          "cachedResultName": "Инвестиционный отчет Kolberg Construction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1495195433,
          "mode": "list",
          "cachedResultName": "Сводная",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE/edit#gid=1495195433"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Проект",
              "lookupValue": "={{ $('When Executed by Another Workflow').item.json['Проект'] }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        -624
      ],
      "id": "7f16a1be-27cf-4573-8af3-08123e301d52",
      "name": "Get total",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -272,
        16
      ],
      "id": "9f602017-1f19-4372-aa1e-d6de8f0e35c1",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=Request error in node:\n{{ JSON.stringify($json.execution.lastNodeExecuted) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -48,
        16
      ],
      "id": "09cf946d-a00e-4b58-bf70-e69853f93b37",
      "name": "Send a text message1",
      "webhookId": "0ff5632e-8499-40f9-8991-033154e5ef3e",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "url": "https://cbu.uz/ru/arkhiv-kursov-valyut/json/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        -624
      ],
      "id": "63b1a85d-2a3e-4eb1-a703-0b3c8121c6e4",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f60b8749-8bf8-4003-9404-bfa5637af060",
              "leftValue": "={{ $json.Code }}",
              "rightValue": "840",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        192,
        -624
      ],
      "id": "6d3df8d7-1589-4100-9d0c-f7728112a191",
      "name": "Filter"
    },
    {
      "parameters": {
        "chatId": "291875946",
        "text": "=**📊 Итог по проекту**\n\n🏗 *Проект:* {{ $('Get total').item.json[\"Проект\"] }}\n\n💰*Последняя выдача (UZS):* {{ $('add new record').item.json['Сумма UZS'].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} сум\n💰*Последняя выдача (USD):* {{ $('add new record').item.json['Сумма USD'].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n})  }} у.е.\n📈*Установленный курс:* {{ $('add new record').item.json['Курс'] }}\n\n*Итого*\n💵 *Выдано (USD):* {{ $('Get total').item.json[\"Выдано USD\"].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} у.е.\n🇺🇿 *Выдано (UZS):* {{ $('Get total').item.json[\"Выдано UZS\"].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} сум\n\n*Бюджет*\n*Общий бюджет*:  {{ $('Get total').item.json['Бюджет'].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} у.е.\n*Затрачено бюджета*: {{ ($('Get total').item.json['Выдано USD']/$('Get total').item.json['Бюджет']*100).round() }}%\n\n📘 *Отчёт (UZS):* {{ $('Get total').item.json[\"Отчет UZS\"].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} сум\n🧾 *Итого под отчётом:* {{ $('Get total').item.json[\"Итого под отчетом\"].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} сум\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        -480
      ],
      "id": "879266b7-f3b0-413d-8d93-4d04c15e51db",
      "name": "SR",
      "webhookId": "6ac97347-7058-4521-99ee-5a23e45d3e26",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "chatId": "690818",
        "text": "=**📊 Итог по проекту**\n\n🏗 *Проект:* {{ $('Get total').item.json[\"Проект\"] }}\n\n💰*Последняя выдача (UZS):* {{ $('add new record').item.json['Сумма UZS'].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} сум\n💰*Последняя выдача (USD):* {{ $('add new record').item.json['Сумма USD'].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n})  }} у.е.\n📈*Установленный курс:* {{ $('add new record').item.json['Курс'] }}\n\n*Итого*\n💵 *Выдано (USD):* {{ $('Get total').item.json[\"Выдано USD\"].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} у.е.\n🇺🇿 *Выдано (UZS):* {{ $('Get total').item.json[\"Выдано UZS\"].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} сум\n\n*Бюджет*\n*Общий бюджет*:  {{ $('Get total').item.json['Бюджет'].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} у.е.\n*Затрачено бюджета*: {{ ($('Get total').item.json['Выдано USD']/$('Get total').item.json['Бюджет']*100).round() }}%\n\n📘 *Отчёт (UZS):* {{ $('Get total').item.json[\"Отчет UZS\"].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} сум\n🧾 *Итого под отчётом:* {{ $('Get total').item.json[\"Итого под отчетом\"].format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} сум\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1696,
        -624
      ],
      "id": "aea97a2a-6c95-4694-9c49-96340b101484",
      "name": "RB",
      "webhookId": "6ac97347-7058-4521-99ee-5a23e45d3e26",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45facbe3-b0ce-4509-8d48-f69570d81f96",
              "name": "list",
              "value": "={{ $if($('When Executed by Another Workflow').item.json['Проект'] == \"Сагбон\", \"1987330808\", \"0\") }}",
              "type": "string"
            },
            {
              "id": "d6240dad-da2e-47ba-b4a7-2d5ddb195b67",
              "name": "Дата",
              "value": "={{ $now.toDateTime().format('dd/MM/2025') }}",
              "type": "string"
            },
            {
              "id": "f7277a03-ceb4-49fb-82d3-6b9b691cce8e",
              "name": "id",
              "value": "={{$('When Executed by Another Workflow').item.json.request_id}}",
              "type": "number"
            },
            {
              "id": "2b8aff24-202d-4777-b1cd-72bcff2d8cf8",
              "name": "Статья",
              "value": "={{ $('When Executed by Another Workflow').item.json['Статьи'] }}",
              "type": "string"
            },
            {
              "id": "dbffdbd6-6227-4486-ae1d-afb83c3b960c",
              "name": "Сумма UZS",
              "value": "={{ Number($('When Executed by Another Workflow').item.json['Сумма UZS']) }}",
              "type": "number"
            },
            {
              "id": "641c54b3-5468-4d52-93b3-4b2aa00581e9",
              "name": "Статус",
              "value": "={{ $('When Executed by Another Workflow').item.json['Статус'] }}",
              "type": "string"
            },
            {
              "id": "9e1d2bf8-5ff4-4584-a7d9-385cc91f849a",
              "name": "Ответственный",
              "value": "={{ $if($('When Executed by Another Workflow').item.json['Ответственный'] === \"Сардор Давлетьяров\", \"Давлетьяров С.\", \"Баходиров У.\") }}",
              "type": "string"
            },
            {
              "id": "585d2b10-606a-4322-a82a-e35e8996da03",
              "name": "Файлы",
              "value": "={{ $('When Executed by Another Workflow').item.json['Файлы'].match(/https?:\\/\\/[^\\s)]+/)[0] || \"\" }}",
              "type": "string"
            },
            {
              "id": "12605429-76c0-4b6d-a0c7-b246f5a7b92b",
              "name": "Курс",
              "value": "={{ Number($('Filter').item.json.Rate) }}",
              "type": "number"
            },
            {
              "id": "42ab72d1-6765-4dc3-ac2b-f505fc29230c",
              "name": "Сумма USD",
              "value": "={{ (Number($('When Executed by Another Workflow').item.json['Сумма UZS'])/Number($('Filter').item.json.Rate)) }}",
              "type": "number"
            },
            {
              "id": "c7afa925-b256-4fc4-92e7-659e3b77fac2",
              "name": "Комментарий",
              "value": "={{ $('When Executed by Another Workflow').item.json[\"Комментарий\"] }}",
              "type": "string"
            },
            {
              "id": "3ed4190c-4e7d-48a2-adc0-f0c6a441c144",
              "name": "Минимальный процент прибыли с инвестиции",
              "value": "==(TODAY()-B{{ $('Code in JavaScript').item.json.row_number+1 }})/365*0,35",
              "type": "string"
            },
            {
              "id": "2df383a4-b965-4e9f-a811-ef6a889fac2e",
              "name": "Итого минимальный возврат",
              "value": "==(1+K{{ $('Code in JavaScript').item.json.row_number+1 }})*E{{ $('Code in JavaScript').item.json.row_number+1 }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -624
      ],
      "id": "27959eab-0f20-4c65-95c5-656c35c7d798",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE",
          "mode": "list",
          "cachedResultName": "Инвестиционный отчет Kolberg Construction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $if($('When Executed by Another Workflow').item.json['Проект'] == \"Сагбон\", \"1987330808\", \"0\") }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        -416
      ],
      "id": "28a6a0de-2c0c-4a29-965b-899fd7b0ef96",
      "name": "Get total1",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const last = $input.last();\nconsole.log(last)\n\nreturn last;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        -416
      ],
      "id": "394c3763-224a-4e62-ad20-d6d56a0a708a",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add new record": {
      "main": [
        [
          {
            "node": "Get total",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get total": {
      "main": [
        [
          {
            "node": "RB",
            "type": "main",
            "index": 0
          },
          {
            "node": "SR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Get total1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "add new record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get total1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Дата": "2025-11-09T11:33:57.777Z",
          "Статьи": "Строительные работы",
          "Сумма UZS": 91728480,
          "Сумма USD": null,
          "Курс": null,
          "Статус": "Выдано",
          "Комментарий": "7585$ по курсу 12095",
          "Ответственный": "Сардор Давлетьяров",
          "Файлы": "17624145406748064489130374337757\\.jpg](https://lemonfit.kolberg.uz/getfile?filename=1762414540674806448913037433775_2025-11-06_12-36-33.jpeg)\n",
          "Проект": "Яккасарай",
          "request_id": 160
        }
      }
    ]
  },
  "versionId": "25ed6e44-d06c-4fb8-ad4a-89b057457006",
  "versionCounter": 25,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-10-28T12:21:34.379Z",
      "createdAt": "2025-10-28T12:21:34.379Z",
      "id": "AF6lC1ccKNZsTMSk",
      "name": "construction"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-10-29T20:47:47.104Z",
      "createdAt": "2025-10-29T20:47:47.104Z",
      "role": "workflow:owner",
      "workflowId": "KwkB2rLWBOsjs2tk",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}