workflows/lxBCdKoMIlVIHauR.json
{
  "updatedAt": "2025-11-30T11:13:05.000Z",
  "createdAt": "2025-11-06T11:19:49.119Z",
  "id": "lxBCdKoMIlVIHauR",
  "name": "Callback",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('split callback data').item.json.accepted }}",
                    "rightValue": "accepted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2be834ec-3479-481a-a40d-dec8f5296f87"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accepted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "39868aea-cb6d-4096-a659-3d8140b5c982",
                    "leftValue": "={{ $('split callback data').item.json.accepted }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rejected"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d2ddd460-45d9-44d2-971c-cf687b7198d0",
                    "leftValue": "={{ $('split callback data').item.json.accepted }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "info"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -224,
        176
      ],
      "id": "21e4ba61-d25f-43dd-98c1-b6be92f0207b",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "telegram_chat_id",
              "value": "={{ $json.callback_query.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1344,
        656
      ],
      "id": "7db09fa1-b441-4ec1-bec0-b2c785a5a37b",
      "name": "get user",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('split callback data').item.json.approval_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        304
      ],
      "id": "7ac59e92-2ac7-4e0d-ba4a-52bae852cbcc",
      "name": "get approval",
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ed68a1d-87b4-49d5-bf42-8c59fc3ac727",
              "name": "accepted",
              "value": "={{ $('Telegram Trigger').item.json.callback_query.data.split('_').first()}}",
              "type": "string"
            },
            {
              "id": "84a38aa1-8c4c-4fab-81c4-b102393591f8",
              "name": "approval_id",
              "value": "={{ $('Telegram Trigger').item.json.callback_query.data.split('_').last() }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1568,
        656
      ],
      "id": "9351a449-14f5-4212-a593-a2a37f852e13",
      "name": "split callback data"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "✅ Одобрено"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        0
      ],
      "id": "b12f6089-53a5-4b3c-87b9-b378b3310e6c",
      "name": "Answer Query a callback",
      "webhookId": "1e815846-bd05-48ec-b2ca-a1123b27169c",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "decision": "approved",
            "comment": "without comment",
            "decided_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_user_id",
              "displayName": "approver_user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_tg_id",
              "displayName": "approver_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step_type",
              "displayName": "step_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decided_at",
              "displayName": "decided_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "cadca097-b23d-41e3-9cb8-45e2d20072af",
      "name": "accept approval",
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "decision": "rejected",
            "comment": "without comment",
            "decided_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_user_id",
              "displayName": "approver_user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_tg_id",
              "displayName": "approver_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step_type",
              "displayName": "step_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decided_at",
              "displayName": "decided_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        192
      ],
      "id": "e0957760-eae8-42b5-8e7a-9904be41d1c2",
      "name": "reject approval",
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "❌ Отклонено"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        192
      ],
      "id": "c03619ad-a6db-4393-a487-384a459cd31b",
      "name": "Answer Query a callback1",
      "webhookId": "0c275441-8736-4efe-be18-cd30aa22147c",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "❓ Отложено"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        448,
        384
      ],
      "id": "0b8f45f7-c176-491c-a4eb-3bbba3cf2f13",
      "name": "Answer Query a callback2",
      "webhookId": "b8a450c1-2040-45d8-a1a7-f14e3ce90f1f",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "comment": "without comment",
            "decided_at": "={{ $now }}",
            "decision": "info"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_user_id",
              "displayName": "approver_user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_tg_id",
              "displayName": "approver_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step_type",
              "displayName": "step_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decided_at",
              "displayName": "decided_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        384
      ],
      "id": "d9a55037-32c1-4185-a76d-dffb7663cb1f",
      "name": "information requested",
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text.replace(\"💰 Новая заявка на расход\", \"✅ Заявка одобрена\") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "fa5f0f3a-0e8c-4c7b-99c5-42ba758ab2e2",
      "name": "✅",
      "webhookId": "9cede317-e00d-4aef-b668-e98340f280cf",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text.replace(\"💰 Новая заявка на расход\", \"❌ Заявка Отклонена\") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        192
      ],
      "id": "821234b0-74e3-40c8-8244-2151657f7a56",
      "name": "❌",
      "webhookId": "8bd130dc-66d6-4c52-940b-5af8e00dbd18",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ERXaLxOhbBmwT1x2",
          "mode": "list",
          "cachedResultUrl": "/workflow/ERXaLxOhbBmwT1x2",
          "cachedResultName": "Approvals"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "request_id": "={{ Number($('get approval').item.json.request_id) }}",
            "approval_status": "={{ $('split callback data').item.json.accepted }}",
            "approver_id": "={{ Number($json.approver_id)}}"
          },
          "matchingColumns": [
            "request_id"
          ],
          "schema": [
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "approval_status",
              "displayName": "approval_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "approver_id",
              "displayName": "approver_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1120,
        192
      ],
      "name": "Call approval status",
      "id": "127053eb-6838-427f-b900-66bc6cfc7b78"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        896,
        176
      ],
      "id": "5ac5a986-c830-47c7-a0f2-aa575ac60db5",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cbaeffd-aa10-4f22-815a-0bbe590abde8",
              "name": "approver_id",
              "value": "={{ $('accept approval').item.json.approver_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        0
      ],
      "id": "beed8396-84b7-4623-a8e3-79da5571f955",
      "name": "add approval id"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cbaeffd-aa10-4f22-815a-0bbe590abde8",
              "name": "approver_id",
              "value": "={{ $('reject approval').item.json.approver_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        192
      ],
      "id": "9ee0bc44-3196-46e8-8578-ff77eb736f36",
      "name": "add approval id1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1cbaeffd-aa10-4f22-815a-0bbe590abde8",
              "name": "approver_id",
              "value": "={{ $('information requested').item.json.approver_user_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        384
      ],
      "id": "81a46ebc-7e6b-4144-9b0d-41afb736e909",
      "name": "add approval id2"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text.replace(\"💰 Новая заявка на расход\", \"❓ Запрошена информация\") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        384
      ],
      "id": "6985d63a-8bd8-494e-a8dd-78eb2d79c435",
      "name": "info",
      "webhookId": "0fb1e6c3-6720-44e5-b7dd-e856f76e9eef",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19af30b1-bcaa-46c2-b048-0785bdca0230",
              "leftValue": "={{ $('split callback data').item.json.accepted }}",
              "rightValue": "payed",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -896,
        560
      ],
      "id": "5fbdd8ac-316a-4a95-bc2a-95244b255aca",
      "name": "is not payed"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('split callback data').item.json.approval_id }}",
            "status": "=PAYED"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_payer",
              "displayName": "company_payer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_type",
              "displayName": "payment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_purpose",
              "displayName": "payment_purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requester",
              "displayName": "requester",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        848
      ],
      "id": "2ee8ed28-59dd-4afc-91c1-573f6ba5b09c",
      "name": "Request status payed",
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $('Request status payed').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        944
      ],
      "id": "d9fa4ded-3788-439d-9f90-d8578b863beb",
      "name": "get approvals3",
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('get approvals3').item.json.approver_tg_id }}",
        "messageId": "={{$('get approvals3').item.json.message_id }}",
        "text": "=☑️ *Заявка закрыта*\n\n{{ $('Request status payed').item.json.company_payer }}\n\n*Номер*: {{  $('Request status payed').item.json.id }}\n*Проект*: {{ $('Request status payed').item.json.title }}\n*Поставщик*: {{ $('Request status payed').item.json.vendor }}\n*Категория расхода*: {{ $('Request status payed').item.json.category }}\n*Сумма*: {{ Number($('Request status payed').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('Request status payed').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('Request status payed').item.json.payment_type }}\n*Назначение платежа*: {{ $('Request status payed').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('Request status payed').item.json.description }}\n*Срочность*: {{ $('Request status payed').item.json.urgency }}\n*Заявитель*: {{ $('Request status payed').item.json.requester }}\n\n{{$if(\n  $('get attachments').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('Request status payed').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1344,
        944
      ],
      "id": "e4ce91d0-96eb-484e-befe-52d91a2c00bb",
      "name": "change messages status to confirmed",
      "webhookId": "ade149af-24c8-4262-9214-b80bc04b0993",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a5caac6-bb09-4aac-b1f8-c45ee825dff3",
              "leftValue": "={{ $json.message_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        944
      ],
      "id": "bbc3ce0e-2ba5-4f50-9314-96211d9f3381",
      "name": "message sent?"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Telegram Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Telegram Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Telegram Trigger').item.json.callback_query.message.text.replace(\"✅ Заявка польностью одобрена\", \"☑️ Заявка закрыта\") }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        960
      ],
      "id": "23cfd744-7c0b-4a5a-aa72-c6022d01938c",
      "name": "payed",
      "webhookId": "84a535e7-624e-4069-945a-fce00dbc8caa",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8343a01-329e-4820-9f16-2dc2ac3fa6a0",
              "leftValue": "={{ $json.payment_type }}",
              "rightValue": "Перечисление",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        752
      ],
      "id": "cbc8137c-fea8-4077-9e4e-fa1f3887e99c",
      "name": "is bank transfer"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('split callback data').item.json.approval_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -672,
        752
      ],
      "id": "c1c53c0f-dcb5-47e7-b79e-6205602d98ca",
      "name": "Request status payed1",
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "✅ Оплата подтверждена"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        16,
        752
      ],
      "id": "13b04560-3d61-46f5-9abb-4478b8e17146",
      "name": "Answer Query a callback4",
      "webhookId": "3576067b-b1ef-4fb8-8f66-4790c3163a8d",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "❌ Вы не можете подтвердить оплату"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        0,
        576
      ],
      "id": "4ab3ff7c-8956-4ca5-abb1-4d8450432ebc",
      "name": "Answer Query a callback3",
      "webhookId": "f11b333d-ad4b-40bb-91bf-ec81efc7118f",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "daf90b39-6d2f-436d-8693-4623ff6b5e72",
              "leftValue": "={{ $('get user').item.json.role }}",
              "rightValue": "accountant",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -224,
        688
      ],
      "id": "ca141f34-2e9d-4ad7-809d-5869b4ea5792",
      "name": "user_is_NOT_accountant"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6075767-bca7-4acd-a182-15472d45fb94",
              "leftValue": "={{ $json.approver_tg_id }}",
              "rightValue": "={{ $('get user').item.json.telegram_chat_id }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        304
      ],
      "id": "4d47398a-ec60-4a3e-a319-a69c6065fe43",
      "name": "valid approver"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "❌ Вы не можете подтвердить оплату"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -224,
        464
      ],
      "id": "abca52cd-b3a1-4b84-92a4-cece849858b7",
      "name": "Answer Query a callback5",
      "webhookId": "40f37a96-0b99-4579-bdb8-26c1e56166ce",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cf10ae64-ea5f-4840-a917-5fd3c75e31e2",
              "leftValue": "={{ $('get user').item.json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1120,
        656
      ],
      "id": "250b13b2-fd72-45bc-aa71-daf934346c5b",
      "name": "user found"
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Telegram Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "text": "❌ Вы не можете подтвердить оплату"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -896,
        752
      ],
      "id": "91721323-54ee-4646-b3ef-6e5754ff1685",
      "name": "Answer Query a callback6",
      "webhookId": "ccf713f2-2320-46a6-8dcf-f1e8ee2d1c07",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "attachments",
          "mode": "list",
          "cachedResultName": "attachments"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $('Request status payed').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        848
      ],
      "id": "966a1fc4-5d78-4109-b9c8-7636a7cda736",
      "name": "get attachments",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1792,
        1168
      ],
      "id": "4426bff8-5818-4a3c-9bed-74928165794a",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=Request error in node:\n{{ JSON.stringify($json.execution.lastNodeExecuted) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1568,
        1168
      ],
      "id": "3cba669f-852d-4696-ae53-54e180361bb1",
      "name": "Send a text message1",
      "webhookId": "0ff5632e-8499-40f9-8991-033154e5ef3e",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$('get notification users').item.json.telegram_chat_id}}",
        "text": "=☑️ *Заявка закрыта*\n\n{{ $('Request status payed').item.json.company_payer }}\n\n*Номер*: {{  $('Request status payed').item.json.id }}\n*Проект*: {{ $('Request status payed').item.json.title }}\n*Поставщик*: {{ $('Request status payed').item.json.vendor }}\n*Категория расхода*: {{ $('Request status payed').item.json.category }}\n*Сумма*: {{ Number($('Request status payed').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('Request status payed').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('Request status payed').item.json.payment_type }}\n*Назначение платежа*: {{ $('Request status payed').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('Request status payed').item.json.description }}\n*Срочность*: {{ $('Request status payed').item.json.urgency }}\n*Заявитель*: {{ $('Request status payed').item.json.requester }}\n\n{{$if(\n  $('get attachments').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('Request status payed').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1120,
        688
      ],
      "id": "690db5ee-6d0c-4665-b2e0-b5b33e1fe5dd",
      "name": "Notify",
      "webhookId": "1deef2ca-3cca-46fb-90a9-de6759752df0",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "role",
              "value": "notification"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        896,
        688
      ],
      "id": "4759cdd7-3568-46e5-811e-3766a0a3e8ec",
      "name": "get notification users",
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1824,
        672
      ],
      "id": "ee7318f2-744d-4325-9640-9400c88485ce",
      "name": "Telegram Trigger",
      "webhookId": "58f5c358-fed5-487d-ae63-19b1acf3ba13",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1tQcPIEJtSXK1EsSuo9EEpX4GAks5gSz3ei8ENOR3SvU",
          "mode": "list",
          "cachedResultName": "Клиника - заявка бланка",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQcPIEJtSXK1EsSuo9EEpX4GAks5gSz3ei8ENOR3SvU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Лист ЗАЯВКИ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tQcPIEJtSXK1EsSuo9EEpX4GAks5gSz3ei8ENOR3SvU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Request status payed1').item.json.id }}",
            "Статус": "Оплачено"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "26.",
              "displayName": "26.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата заявки",
              "displayName": "Дата заявки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Поставщик",
              "displayName": "Поставщик",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Расчётный счёт (р/с)",
              "displayName": "Расчётный счёт (р/с)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Вид договора",
              "displayName": "Вид договора",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "№ ДОГОВОРА",
              "displayName": "№ ДОГОВОРА",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Дата договора",
              "displayName": "Дата договора",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Направление",
              "displayName": "Направление",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Состояние договора",
              "displayName": "Состояние договора",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Назначение платежа",
              "displayName": "Назначение платежа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Ответственное лицо",
              "displayName": "Ответственное лицо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "от какой фирмы",
              "displayName": "от какой фирмы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Вид валюты",
              "displayName": "Вид валюты",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Сумма заявки",
              "displayName": "Сумма заявки",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Оплачено",
              "displayName": "Оплачено",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Остатка",
              "displayName": "Остатка",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Статус",
              "displayName": "Статус",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Срочность",
              "displayName": "Срочность",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Файл",
              "displayName": "Файл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -432,
        576
      ],
      "id": "d7c48937-5ff2-4e89-a1bd-fd8d745dd822",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    }
  ],
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "accept approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "reject approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "information requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get user": {
      "main": [
        [
          {
            "node": "user found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get approval": {
      "main": [
        [
          {
            "node": "valid approver",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split callback data": {
      "main": [
        [
          {
            "node": "get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback": {
      "main": [
        [
          {
            "node": "add approval id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "accept approval": {
      "main": [
        [
          {
            "node": "✅",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reject approval": {
      "main": [
        [
          {
            "node": "❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback1": {
      "main": [
        [
          {
            "node": "add approval id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback2": {
      "main": [
        [
          {
            "node": "add approval id2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "information requested": {
      "main": [
        [
          {
            "node": "info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "✅": {
      "main": [
        [
          {
            "node": "Answer Query a callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "❌": {
      "main": [
        [
          {
            "node": "Answer Query a callback1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Call approval status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add approval id": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add approval id1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "add approval id2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "info": {
      "main": [
        [
          {
            "node": "Answer Query a callback2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is not payed": {
      "main": [
        [
          {
            "node": "get approval",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request status payed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request status payed": {
      "main": [
        [
          {
            "node": "get attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get approvals3": {
      "main": [
        [
          {
            "node": "message sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message sent?": {
      "main": [
        [
          {
            "node": "change messages status to confirmed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "payed": {
      "main": [
        [
          {
            "node": "Request status payed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is bank transfer": {
      "main": [
        [
          {
            "node": "user_is_NOT_accountant",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "payed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request status payed1": {
      "main": [
        [
          {
            "node": "is bank transfer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer Query a callback4": {
      "main": [
        [
          {
            "node": "payed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user_is_NOT_accountant": {
      "main": [
        [
          {
            "node": "Answer Query a callback3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Query a callback4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "valid approver": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Query a callback5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user found": {
      "main": [
        [
          {
            "node": "is not payed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Answer Query a callback6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get attachments": {
      "main": [
        [
          {
            "node": "get approvals3",
            "type": "main",
            "index": 0
          },
          {
            "node": "get notification users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get notification users": {
      "main": [
        [
          {
            "node": "Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "split callback data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 394644664,
          "callback_query": {
            "id": "16637230561440292",
            "from": {
              "id": 3873657,
              "is_bot": false,
              "first_name": "К",
              "last_name": "✨",
              "username": "Ksyuwa_P",
              "language_code": "de"
            },
            "message": {
              "message_id": 48,
              "from": {
                "id": 8466583118,
                "is_bot": true,
                "first_name": "Neuron заявки",
                "username": "neuron_requests_bot"
              },
              "chat": {
                "id": 3873657,
                "first_name": "К",
                "last_name": "✨",
                "username": "Ksyuwa_P",
                "type": "private"
              },
              "date": 1764499899,
              "text": "✅ Заявка польностью одобрена\n\nKolberg Construction\n\nНомер: 177\nПроект: NeuronMed\nПоставщик: Test\nКатегория расхода: Коммунальные расходы\nСумма: 1 000 000,00 UZS\nТип оплаты: Перечисление\nНазначение платежа: test\nОписание / зачем: \nСрочность: Обычно\nЗаявитель: 3. Каюмов Дилшод\n\n\n🕒Дата подачи: 30 ноября 2025 г. в 15:51",
              "entities": [
                {
                  "offset": 2,
                  "length": 26,
                  "type": "bold"
                },
                {
                  "offset": 52,
                  "length": 5,
                  "type": "bold"
                },
                {
                  "offset": 63,
                  "length": 6,
                  "type": "bold"
                },
                {
                  "offset": 81,
                  "length": 9,
                  "type": "bold"
                },
                {
                  "offset": 97,
                  "length": 17,
                  "type": "bold"
                },
                {
                  "offset": 137,
                  "length": 5,
                  "type": "bold"
                },
                {
                  "offset": 161,
                  "length": 10,
                  "type": "bold"
                },
                {
                  "offset": 186,
                  "length": 18,
                  "type": "bold"
                },
                {
                  "offset": 211,
                  "length": 16,
                  "type": "bold"
                },
                {
                  "offset": 230,
                  "length": 9,
                  "type": "bold"
                },
                {
                  "offset": 248,
                  "length": 9,
                  "type": "bold"
                },
                {
                  "offset": 280,
                  "length": 11,
                  "type": "bold"
                }
              ],
              "reply_markup": {
                "inline_keyboard": [
                  [
                    {
                      "text": "💰 Выплачено",
                      "callback_data": "payed_177"
                    }
                  ]
                ]
              }
            },
            "chat_instance": "-5657163891892111533",
            "data": "payed_177"
          }
        }
      }
    ]
  },
  "versionId": "903b2405-4d2d-4b79-b832-8a0a906d564f",
  "versionCounter": 26,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-06T11:19:49.122Z",
      "createdAt": "2025-11-06T11:19:49.122Z",
      "role": "workflow:owner",
      "workflowId": "lxBCdKoMIlVIHauR",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}