workflows/N2TYPRMUymPCpuLp.json
{
  "updatedAt": "2025-11-25T23:00:00.000Z",
  "createdAt": "2025-11-25T14:17:46.037Z",
  "id": "N2TYPRMUymPCpuLp",
  "name": "Bank req-exp",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        0,
        0
      ],
      "id": "10765af9-37eb-43c2-84d5-a8c80b3f09ce",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "44ba6ea5-8425-4d3d-b4c7-a14cc7f94625",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n\nfunction normalizeName(name) {\n\tif (!name) return '';\n\tlet n = name.toString().toLowerCase();\n\n\t// убираем кавычки\n\tn = n.replace(/[\\\"«»“”„]/g, ' ');\n\n\t// убираем распространённые служебные слова типов компаний\n\tn = n.replace(/\\booo\\b/g, ' ');\n\tn = n.replace(/\\bооо\\b/g, ' ');\n\tn = n.replace(/\\bmchj\\b/g, ' ');\n\tn = n.replace(/\\bxk\\b/g, ' ');\n\n\t// иногда встречаются слова \"mas'uliyati cheklangan jamiyat\" и т.п.\n\tn = n.replace(/mas'uliyati|cheklangan|jamiyat/gi, ' ');\n\n\t// оставляем только буквы/цифры и пробелы\n\tn = n.replace(/[^a-zа-яё0-9]+/gi, ' ');\n\n\t// схлопываем пробелы\n\tn = n.trim().replace(/\\s+/g, ' ');\n\n\treturn n;\n}\n\n// Преобразуем \"04.11.2025\" -> 20251104 (число)\nfunction parseBankDate(str) {\n\tif (!str) return null;\n\tconst parts = str.split('.');\n\tif (parts.length !== 3) return null;\n\tlet [d, m, y] = parts;\n\td = d.padStart(2, '0');\n\tm = m.padStart(2, '0');\n\treturn Number(`${y}${m}${d}`);\n}\n\n// Преобразуем payed_at к числу YYYYMMDD\n// поддержка: 20251119, \"2025-11-19\", \"2025-11-19T10:00:00Z\" и т.п.\nfunction parsePayedAt(value) {\n\tif (!value && value !== 0) return null;\n\tlet s = value.toString();\n\n\t// оставляем только цифры\n\ts = s.replace(/\\D/g, '');\n\n\t// должны получить хотя бы 8 цифр: YYYYMMDD\n\tif (s.length < 8) return null;\n\ts = s.slice(0, 8); // берём первые 8 цифр\n\n\treturn Number(s);\n}\n\n// ---- АВТОПЛАТЕЖИ (комиссии банка по тарифу CORPORATE) ----\n\nconst lemonNorm = normalizeName('ООО LEMON-SPORT-GROUP');\n\nfunction isAutopayed(row) {\n\tconst name = row['Наименование счёта'] || '';\n\tconst purpose = (row['Назначение платежа'] || '').trim();\n\tconst nameNorm = normalizeName(name);\n\n\t// Только наш же счёт\n\tif (nameNorm !== lemonNorm) return false;\n\n\t// Комиссии банка: \"За документ №448 S=... Тариф...\"\n\tif (/^за документ №/i.test(purpose)) {\n\t\treturn true;\n\t}\n\n\treturn false;\n}\n\n// ---- 1) Достаём данные из items[0].json по твоей структуре ----\nconst root = items[0].json;\nconst dataArr = root.data || [];\n\n// data[0].data — банк\n// data[1].data — внутренние заявки\nconst bankRows = (dataArr[0] && dataArr[0].data) ? dataArr[0].data : [];\nconst expenses = (dataArr[1] && dataArr[1].data) ? dataArr[1].data : [];\n\n// ---- 2) Подготовим массив банковских строк ----\nconst bankPrepared = bankRows.map((row, index) => {\n\tconst autopayed = isAutopayed(row);\n\n\treturn {\n\t\tindex,\n\t\trow,\n\t\tnameNorm: normalizeName(row['Наименование счёта']),\n\t\tamount: Number(row['Обороты по дебету']) || 0,\n\t\tdateProcessed: parseBankDate(row['Дата обработки']),\n\t\tautopayed,   // пометка автоплатежа\n\t\tused: false,\n\t};\n});\n\n// ---- 3) Матчим расходы с банком ----\nconst matched = [];\nconst unmatchedExpenses = [];\n\n// допуск на разницу суммы (из-за округлений)\nconst AMOUNT_TOLERANCE = 1; // 1 UZS\n\nfor (const expense of expenses) {\n\tconst vendorName = expense.vendor || '';\n\tconst vendorNorm = normalizeName(vendorName);\n\tconst expenseAmount = Number(expense.amount) || 0;\n\tconst expenseDate = parsePayedAt(expense.payed_at);\n\n\tif (!expenseAmount) {\n\t\t// если нет суммы — заведомо не матчим\n\t\tunmatchedExpenses.push(expense);\n\t\tcontinue;\n\t}\n\n\tlet foundIndex = -1;\n\n\tfor (let i = 0; i < bankPrepared.length; i++) {\n\t\tconst b = bankPrepared[i];\n\t\tif (b.used) continue;\n\n\t\t// автосписания вообще не пытаемся матчить с заявками\n\t\tif (b.autopayed) continue;\n\n\t\tif (!b.amount) continue;\n\n\t\tconst diff = Math.abs(b.amount - expenseAmount);\n\t\tif (diff > AMOUNT_TOLERANCE) continue;\n\n\t\tconst sameName = vendorNorm && b.nameNorm && (b.nameNorm === vendorNorm);\n\t\tconst sameDate = b.dateProcessed && expenseDate && (b.dateProcessed === expenseDate);\n\n\t\t// правило 1: совпадение по названию + сумме\n\t\t// правило 2: совпадение по дате + сумме\n\t\tif (sameName || sameDate) {\n\t\t\tfoundIndex = i;\n\t\t\tbreak;\n\t\t}\n\t}\n\n\tif (foundIndex >= 0) {\n\t\tconst bankMatch = bankPrepared[foundIndex];\n\t\tbankMatch.used = true;\n\n\t\tmatched.push({\n\t\t\texpense,\n\t\t\tbank: bankMatch.row,\n\t\t});\n\t} else {\n\t\tunmatchedExpenses.push(expense);\n\t}\n}\n\n// ---- 4) Банковские строки без пары (включая автоплатежи, но с пометкой) ----\nconst unmatchedBank = bankPrepared\n\t.filter(b => !b.used)\n\t.map(b => ({\n\t\t...b.row,\n\t\tautopayed: b.autopayed === true, // явный флаг\n\t}));\n\n// ---- 5) Возвращаем один item с результатом ----\nreturn [\n\t{\n\t\tjson: {\n\t\t\tmatched,\n\t\t\tunmatched: {\n\t\t\t\texpenses: unmatchedExpenses,\n\t\t\t\tbank: unmatchedBank,\n\t\t\t},\n\t\t},\n\t},\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "fe08812c-e6b3-4aec-a207-164d3ae08215",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "fieldToSplitOut": "unmatched.expenses",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "b590b6d8-fa5f-420c-86c8-c331a2cd24cd",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldToSplitOut": "unmatched.bank",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        656,
        144
      ],
      "id": "d22a6ab4-abe1-41f3-b31d-a56b7757f414",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1157wGB9326BNh7ROzn4fRiupgBbGFktc4izjB8Eolpk",
          "mode": "list",
          "cachedResultName": "Lemonfit перечисление",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1157wGB9326BNh7ROzn4fRiupgBbGFktc4izjB8Eolpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 354608559,
          "mode": "list",
          "cachedResultName": "Unmatched requests",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1157wGB9326BNh7ROzn4fRiupgBbGFktc4izjB8Eolpk/edit#gid=354608559"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_payer",
              "displayName": "company_payer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_type",
              "displayName": "payment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payment_purpose",
              "displayName": "payment_purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "requester",
              "displayName": "requester",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "payed_at",
              "displayName": "payed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "5a9f34c2-827e-4b16-b984-2a0973e5a9cf",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1157wGB9326BNh7ROzn4fRiupgBbGFktc4izjB8Eolpk",
          "mode": "list",
          "cachedResultName": "Lemonfit перечисление",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1157wGB9326BNh7ROzn4fRiupgBbGFktc4izjB8Eolpk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1595713866,
          "mode": "list",
          "cachedResultName": "Unmatched bank",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1157wGB9326BNh7ROzn4fRiupgBbGFktc4izjB8Eolpk/edit#gid=1595713866"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company_payer",
              "displayName": "company_payer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_type",
              "displayName": "payment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payment_purpose",
              "displayName": "payment_purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "requester",
              "displayName": "requester",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "payed_at",
              "displayName": "payed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1104,
        160
      ],
      "id": "b59f4701-6d94-43f8-b60a-4a193fd16a51",
      "name": "Append row in sheet1",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1392,
        48
      ],
      "id": "b291e4ff-b9cc-44e3-b080-db5ca1d0e739",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a70f661-39a9-48b6-bcf3-f602aa876262",
              "leftValue": "={{ $json.autopayed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        864,
        144
      ],
      "id": "2391f0ac-82b3-4c90-9b61-c5a59d9898b9",
      "name": "Filter1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -928,
        128
      ],
      "id": "d1819a4f-bd3b-4f93-843e-2bd14e869e0b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "expense_id",
              "condition": "IS NULL"
            },
            {
              "column": "payment_type",
              "value": "Перечисление"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -608,
        256
      ],
      "id": "d5db99d7-647d-4ca5-96b1-9b20d039f386",
      "name": "requests",
      "credentials": {
        "postgres": {
          "id": "rRyTNu2Ha00QWo8E",
          "name": "lemonfit_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cash_expenses",
          "mode": "list",
          "cachedResultName": "cash_expenses"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "request_id",
              "condition": "IS NULL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        -96
      ],
      "id": "593f13e9-9829-461d-a9c6-93ffff5ccd61",
      "name": "expenses",
      "credentials": {
        "postgres": {
          "id": "rRyTNu2Ha00QWo8E",
          "name": "lemonfit_requests"
        }
      }
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "expenses",
            "type": "main",
            "index": 0
          },
          {
            "node": "requests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "expenses": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "requests": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d9199b40-0f54-4fff-a355-dd7799ea6681",
  "versionCounter": 7,
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-25T14:17:46.042Z",
      "createdAt": "2025-11-25T14:17:46.042Z",
      "role": "workflow:owner",
      "workflowId": "N2TYPRMUymPCpuLp",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}