workflows/NcLFiPvIAc6QgjSK.json
{
  "updatedAt": "2025-11-27T13:25:50.000Z",
  "createdAt": "2025-10-31T21:15:55.020Z",
  "id": "NcLFiPvIAc6QgjSK",
  "name": "Get file",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "path": "lemonfit/getfile",
        "authentication": "basicAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -192,
        0
      ],
      "id": "75ee0dce-e73f-4980-8e5d-4b77bbd82523",
      "name": "get file",
      "webhookId": "c1170e6c-aa2d-4e17-bf8f-665d36daf6c9",
      "credentials": {
        "httpBasicAuth": {
          "id": "wzkRxYzUo1mrzsro",
          "name": "LemonFit"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "path": "=/home/sftpuser/upload/{{ $('get file').item.json.headers.host.split(\".\")[0] }}/{{ $('get file').item.json.query.filename }}",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        32,
        0
      ],
      "id": "609bf843-cc1d-4e02-907c-bdbeb2f216bd",
      "name": "FTP1",
      "credentials": {
        "sftp": {
          "id": "8lqZXk6gHsvR30gh",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Disposition",
                "value": "=attachment; filename=\"{{$binary.data.fileName}}\""
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        256,
        0
      ],
      "id": "cef5b042-5943-43fc-b737-b9cedc4c59d2",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        224
      ],
      "id": "cd3e4bc7-2aff-4e84-9946-9817e7a6f5fc",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=Request error in node:\n{{ JSON.stringify($json.execution.lastNodeExecuted) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        224
      ],
      "id": "622d2564-a60f-4b87-8858-1bdf89b83caa",
      "name": "Send a text message1",
      "webhookId": "a54295b8-5304-4679-96ce-24bca9d5a593",
      "credentials": {
        "telegramApi": {
          "id": "GlN5OGKLXSsawcEL",
          "name": "Lemonfit заявки"
        }
      }
    }
  ],
  "connections": {
    "get file": {
      "main": [
        [
          {
            "node": "FTP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "get file": [
      {
        "json": {
          "headers": {
            "host": "lemonfit.kolberg.uz",
            "user-agent": "Mozilla/5.0 (iPhone; CPU iPhone OS 18_6_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) CriOS/142.0.7444.77 Mobile/15E148 Safari/604.1",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8",
            "accept-encoding": "gzip, deflate, br",
            "accept-language": "en-GB,en;q=0.9",
            "authorization": "Basic bGVtb246bGVtb24xMzMx",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "x-forwarded-for": "109.43.51.179",
            "x-forwarded-host": "lemonfit.kolberg.uz",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "e3eba89bab17",
            "x-real-ip": "109.43.51.179"
          },
          "params": {},
          "query": {
            "filename": "1762248125592342221821907266081_2025-11-04_02-34-24.jpeg"
          },
          "body": {},
          "webhookUrl": "https://dev.kolberg.uz/webhook/lemonfit/getfile",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "6f8a0e2c-4639-4f11-84f8-d73c967e837c",
  "versionCounter": 25,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-10-28T12:22:13.008Z",
      "createdAt": "2025-10-28T12:22:13.008Z",
      "id": "ccWlvl6UxFDSmPeQ",
      "name": "lemonfit"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-10-31T21:15:55.025Z",
      "createdAt": "2025-10-31T21:15:55.025Z",
      "role": "workflow:owner",
      "workflowId": "NcLFiPvIAc6QgjSK",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}