workflows/nocOeFOU28t8jUXG.json
{
  "updatedAt": "2025-11-30T07:55:03.000Z",
  "createdAt": "2025-11-20T21:10:17.106Z",
  "id": "nocOeFOU28t8jUXG",
  "name": "Cash req-exp",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "payed_at",
              "condition": ">=",
              "value": "={{ Number($now.startOf('month').format('yyyyMMdd')) }}"
            },
            {
              "column": "payed_at",
              "condition": "<=",
              "value": "={{ Number($now.endOf('month').format('yyyyMMdd')) }}"
            },
            {
              "column": "payment_type",
              "value": "Наличные"
            },
            {
              "column": "category",
              "condition": "!=",
              "value": "Инкассация"
            },
            {
              "column": "status",
              "value": "PAYED"
            },
            {
              "column": "category",
              "condition": "!=",
              "value": "Зарплата/Аванс/Премия"
            },
            {
              "column": "expense_id",
              "condition": "IS NULL"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "amount",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        80
      ],
      "id": "9625892d-d043-48f0-aa82-c994f1b6126d",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "rRyTNu2Ha00QWo8E",
          "name": "lemonfit_requests"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "754e1b54-f255-464f-b19b-91732c1071e2",
              "name": "amount",
              "value": "={{ $json.amount }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        80
      ],
      "id": "6c9bdca6-50a2-4353-92dc-121a2c4b3776",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        416,
        80
      ],
      "id": "7aa891ea-a8a3-4fde-8aec-381136f95cf7",
      "name": "Aggregate2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1520,
        -16
      ],
      "id": "77f3b508-32cd-4161-8d04-a529717ef158",
      "name": "Merge1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1744,
        -16
      ],
      "id": "022429f4-085c-445e-8207-c7db18b63ce1",
      "name": "Aggregate3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f292c8c4-24be-4982-9c35-d5a2267ea2b5",
              "name": "exp",
              "value": "={{ $json.data[0].data }}",
              "type": "array"
            },
            {
              "id": "062c2d6b-dc98-4b5d-91b9-518e609c631e",
              "name": "req",
              "value": "={{ $json.data[1].data }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1968,
        -16
      ],
      "id": "8c4b07d1-dd64-4484-9e0a-dfddd74327ae",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst expenses = data.exp || [];\nconst requests = data.req || [];\n\n// Нормализуем сумму, чтобы строки/числа у заявок совпадали с числом у расходов\nfunction normalizeAmount(value) {\n  if (value === null || value === undefined) return null;\n  const num = Number(value);\n  return Number.isFinite(num) ? num : null;\n}\n\nfunction matchByAmount(expenses, requests) {\n  const requestsBySum = new Map();\n\n  // 1. Разкладываем заявки по сумме\n  for (const req of requests) {\n    const rawAmount = req.amount ?? req.total_sum;\n    const amount = normalizeAmount(rawAmount);\n    if (amount === null) continue;\n\n    if (!requestsBySum.has(amount)) {\n      requestsBySum.set(amount, []);\n    }\n    requestsBySum.get(amount).push(req);\n  }\n\n  const matched = [];\n  const unmatchedExpenses = [];\n\n  // 2. Сопоставляем расходы с заявками по сумме\n  for (const exp of expenses) {\n    // у расходов total_sum уже число, но на всякий случай тоже нормализуем\n    const rawAmount = exp.amount ?? exp.total_sum;\n    const amount = normalizeAmount(rawAmount);\n\n    if (amount === null) {\n      unmatchedExpenses.push(exp);\n      continue;\n    }\n\n    const bucket = requestsBySum.get(amount);\n\n    if (bucket && bucket.length > 0) {\n      const req = bucket.pop();\n      // можно сразу проставить request_id в расход:\n      // exp.request_id = req.id ?? req.request_id ?? null;\n\n      matched.push({ expense: exp, request: req });\n\n      if (bucket.length === 0) {\n        requestsBySum.delete(amount);\n      }\n    } else {\n      unmatchedExpenses.push(exp);\n    }\n  }\n\n  // 3. Заявки, что остались в Map — без пары\n  const unmatchedRequests = [];\n  for (const bucket of requestsBySum.values()) {\n    unmatchedRequests.push(...bucket);\n  }\n\n  return { matched, unmatchedExpenses, unmatchedRequests };\n}\n\nconst result = matchByAmount(expenses, requests);\n\nreturn [\n  {\n    json: result,\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2192,
        -16
      ],
      "id": "159ea355-c73f-470c-9c9a-742215fa470d",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1v1Uh_zRyUbKJVBuxjr4VOXek2VLMfN3cbVf11mQ9__U",
          "mode": "list",
          "cachedResultName": "check_expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v1Uh_zRyUbKJVBuxjr4VOXek2VLMfN3cbVf11mQ9__U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v1Uh_zRyUbKJVBuxjr4VOXek2VLMfN3cbVf11mQ9__U/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confirmed",
              "displayName": "confirmed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "unit",
              "displayName": "unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "employee",
              "displayName": "employee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cash_type",
              "displayName": "cash_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "account",
              "displayName": "account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "counterparty",
              "displayName": "counterparty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contract",
              "displayName": "contract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_sum",
              "displayName": "total_sum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lines",
              "displayName": "lines",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3072,
        -16
      ],
      "id": "d9e45bed-256d-4fbe-8cf3-0c8d16dec44e",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "unmatchedExpenses",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2416,
        -16
      ],
      "id": "30df6ec4-ed93-4b33-ba65-1cec10b7f0a0",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "unmatchedRequests",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2640,
        -208
      ],
      "id": "8bfb5463-67b3-46c9-982d-e2d211c3839e",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1v1Uh_zRyUbKJVBuxjr4VOXek2VLMfN3cbVf11mQ9__U",
          "mode": "list",
          "cachedResultName": "check_expenses",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v1Uh_zRyUbKJVBuxjr4VOXek2VLMfN3cbVf11mQ9__U/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1047522085,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v1Uh_zRyUbKJVBuxjr4VOXek2VLMfN3cbVf11mQ9__U/edit#gid=1047522085"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2864,
        -208
      ],
      "id": "ab370878-8223-425c-b17d-9003acec47f5",
      "name": "Append row in sheet1",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "matched",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2640,
        176
      ],
      "id": "adb26e0c-5379-420f-948d-0cf274e5b7e3",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=❗️ Обнаружен расход в 1С без заявки ❗️\n\nID: {{$json.id}}\nДата: {{ $json.date }}\nСумма: {{ $json.total_sum }}\nОперация: {{ $json.operation }}\nСотрудник: {{ $json.employee }}\nКомментарий: {{ $json.comment }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2848,
        -16
      ],
      "id": "3e620f0b-d001-486b-86c0-29f2df7522d5",
      "name": "Send a text message",
      "webhookId": "dc1fce6b-4391-4c35-9540-99dff6249f8b",
      "credentials": {
        "telegramApi": {
          "id": "GlN5OGKLXSsawcEL",
          "name": "Lemonfit заявки"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        -160
      ],
      "id": "142f2e05-4a34-49c1-9aa8-598f224f37a2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cash_expenses",
          "mode": "list",
          "cachedResultName": "cash_expenses"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "request_id",
              "condition": "IS NULL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -16,
        -320
      ],
      "id": "fdc81534-ac0f-4e77-8f64-62e1787f3ae2",
      "name": "Select rows from a table1",
      "credentials": {
        "postgres": {
          "id": "rRyTNu2Ha00QWo8E",
          "name": "lemonfit_requests"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29825791-314b-4052-9710-cfb7817a1a8c",
              "name": "exclude_operations",
              "value": "[\"Сдача наличных в банк\", \"Поступление из кассы\", \"Сдача розничной выручки в кассу предприятия\", \"Поступление розничной выручки из операционной кассы\", \"Поступление от эквайера\", \"Зарплата по ведомости\", \"Зарплата сотруднику\"]",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -352
      ],
      "id": "9d0550b3-6842-4b89-870e-02ac2b7ee4bc",
      "name": "set variables1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "76e456a5-440e-4c0d-9d18-118fbadb9ab8",
              "leftValue": "={{ $json.exclude_operations }}",
              "rightValue": "={{ $json.operation }}",
              "operator": {
                "type": "array",
                "operation": "notContains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        512,
        -352
      ],
      "id": "53de6c12-8c49-49b4-9657-43c7fc00a1b3",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        -352
      ],
      "id": "e179225d-91d9-4fd8-8656-b972b2173937",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a0ad4e14-9d9e-4c0c-9cc0-4f4eeea45ddb",
              "name": "total_sum",
              "value": "={{ $json.total_sum }}",
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "except",
        "excludeFields": "exclude_operations",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        -352
      ],
      "id": "f7572564-7faf-4981-93d5-3da27bdddb0a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "cash_expenses",
          "mode": "list",
          "cachedResultName": "cash_expenses"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.expense.id }}",
            "request_id": "={{ $json.request.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "confirmed",
              "displayName": "confirmed",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "organization",
              "displayName": "organization",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "unit",
              "displayName": "unit",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "employee",
              "displayName": "employee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cash_type",
              "displayName": "cash_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "operation",
              "displayName": "operation",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "account",
              "displayName": "account",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "counterparty",
              "displayName": "counterparty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contract",
              "displayName": "contract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "total_sum",
              "displayName": "total_sum",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2848,
        176
      ],
      "id": "2111dada-76b0-46be-8523-b09a9cfbdc14",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "rRyTNu2Ha00QWo8E",
          "name": "lemonfit_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.request.id }}",
            "expense_id": "={{ $json.expense.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_payer",
              "displayName": "company_payer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_type",
              "displayName": "payment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_purpose",
              "displayName": "payment_purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requester",
              "displayName": "requester",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payed_at",
              "displayName": "payed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "expense_id",
              "displayName": "expense_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2896,
        416
      ],
      "id": "ecc9f7e6-7b9f-4b27-8c73-509196f1b6e6",
      "name": "update request (expense_id)",
      "credentials": {
        "postgres": {
          "id": "rRyTNu2Ha00QWo8E",
          "name": "lemonfit_requests"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68cbf35d-a9f8-4ebe-af4d-97fa208f61c7",
              "leftValue": "={{ $json.total_sum }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2624,
        -16
      ],
      "id": "1202ad3a-aadc-431a-9159-c062cdbd51fe",
      "name": "If"
    }
  ],
  "connections": {
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Aggregate3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate3": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "update request (expense_id)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet1": {
      "main": [
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "set variables1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set variables1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "TMv7F6oZqeWsWhCl"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "timestamp": "2025-11-30T12:00:20.012+05:00",
          "Readable date": "November 30th 2025, 12:00:20 pm",
          "Readable time": "12:00:20 pm",
          "Day of week": "Sunday",
          "Year": "2025",
          "Month": "November",
          "Day of month": "30",
          "Hour": "12",
          "Minute": "00",
          "Second": "20",
          "Timezone": "Asia/Tashkent (UTC+05:00)"
        }
      }
    ]
  },
  "versionId": "798ecb15-91e6-4834-a6f7-1354dba8415d",
  "versionCounter": 80,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-20T21:10:17.109Z",
      "createdAt": "2025-11-20T21:10:17.109Z",
      "role": "workflow:owner",
      "workflowId": "nocOeFOU28t8jUXG",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}