workflows/ozL7hC2Yil8m8HsF.json
{
  "updatedAt": "2025-10-31T17:06:58.000Z",
  "createdAt": "2025-10-28T13:34:10.050Z",
  "id": "ozL7hC2Yil8m8HsF",
  "name": "Aprrovals",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_sent": true,
            "message_id": "={{ $json.result.message_id }}",
            "id": "={{ $('get approvals').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_user_id",
              "displayName": "approver_user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_tg_id",
              "displayName": "approver_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_sent",
              "displayName": "message_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step_type",
              "displayName": "step_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "decided_at",
              "displayName": "decided_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3456,
        -400
      ],
      "id": "30863262-d74a-4981-bd3a-96e0e7025cd1",
      "name": "Update approval delivery status1",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('get request').item.json.id }}",
            "status": "=APPROVED"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_payer",
              "displayName": "company_payer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_type",
              "displayName": "payment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_purpose",
              "displayName": "payment_purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requester",
              "displayName": "requester",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2560,
        -176
      ],
      "id": "fd69ed91-051d-4572-99ba-f5f37fbe6a3a",
      "name": "Request status approved",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Start').item.json.request_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        -688
      ],
      "id": "86c051d9-3dd2-4b42-a2a9-509049339c97",
      "name": "get request",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $('Start').item.json.request_id }}"
            },
            {
              "column": "step",
              "value": "={{ $('get request').item.json.status}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2112,
        -752
      ],
      "id": "36db4d20-757a-4969-a616-35ff30415682",
      "name": "get approvals",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet approved_by_all = true\nfor (const item of $input.all()) {\n  if (item.json.decision != \"approved\"){\n    approved_by_all = false;\n  }\n}\n\nreturn {\"approved_by_all\": approved_by_all};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2560,
        -752
      ],
      "id": "f6230d2e-6732-449f-ad8e-ebf51f603b8c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c7de9b40-9ffd-4708-a23b-07ec089b6d90",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2336,
        -752
      ],
      "id": "5d9dfa6f-8b5e-41b3-876e-266c939cdc9c",
      "name": "Is not empty"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e37abb2f-3e62-40e9-a80b-883cae0cedf8",
              "leftValue": "={{ $json.approved_by_all }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2784,
        -752
      ],
      "id": "7e530c07-5d67-4e22-92e1-748fd93fb445",
      "name": "Step approved"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('get request').item.json.id }}",
            "status": "={{  Number($('get request').item.json.status) + 1}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_payer",
              "displayName": "company_payer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_type",
              "displayName": "payment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_purpose",
              "displayName": "payment_purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requester",
              "displayName": "requester",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3008,
        -752
      ],
      "id": "3ac01c74-e4f6-4354-8261-e6f5c896212e",
      "name": "Update request status",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "request_id",
              "type": "number"
            },
            {
              "name": "approval_status"
            },
            {
              "name": "approver_id",
              "type": "number"
            }
          ]
        }
      },
      "id": "fc80ce84-e8a2-4541-9a84-dcc98b7dfb46",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        1216,
        336
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.approval_status }}",
                    "rightValue": "accepted",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d371f2a9-46ce-40ea-827a-ba562d553972"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "accepted"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "21885b6b-0fce-410f-925b-62668cb7e902",
                    "leftValue": "={{ $json.approval_status }}",
                    "rightValue": "rejected",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "rejected"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6a0a7476-65b7-4da1-9c48-e36d242e00c3",
                    "leftValue": "={{ $json.approval_status }}",
                    "rightValue": "info",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "info"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1440,
        320
      ],
      "id": "66ffb98c-67ad-45ae-a58b-635333aa9182",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $('Start').item.json.request_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2560,
        336
      ],
      "id": "2c5f4143-ea56-4ef4-a7d8-24a3d497a227",
      "name": "get approvals1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Start').item.json.request_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        336
      ],
      "id": "3d757e4e-dddb-4704-b7e2-a4c798de67e0",
      "name": "get request1",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $('Start').item.json.request_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1888,
        528
      ],
      "id": "9d3280f3-b540-459f-a362-a5aabe38941c",
      "name": "get approvals2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Start').item.json.request_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1664,
        528
      ],
      "id": "157c14c2-ac5f-4814-886f-6dfc126d1a06",
      "name": "get request2",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $('Start').item.json.approver_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2112,
        336
      ],
      "id": "d2c88820-9327-4073-976c-00119619fd9a",
      "name": "rejected user",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('get approvals').item.json.approver_tg_id }}",
        "text": "=💰 *Новая заявка на расход*\n\n{{ $('get request').item.json.company_payer }}\n\n*Номер*: {{  $('get request').item.json.id }}\n*Проект*: {{ $('get request').item.json.title }}\n*Поставщик*: {{ $('get request').item.json.vendor }}\n*Категория расхода*: {{ $('get request').item.json.category }}\n*Сумма*: {{ Number($('get request').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('get request').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('get request').item.json.payment_type }}\n*Назначение платежа*: {{ $('get request').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('get request').item.json.description }}\n*Срочность*: {{ $('get request').item.json.urgency }}\n*Заявитель*: {{ $('get request').item.json.requester }}\n\n{{$if(\n  $('get attachments').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('get request').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Одобрить",
                    "additionalFields": {
                      "callback_data": "=accepted_{{ $('get approvals').item.json.id }}"
                    }
                  },
                  {
                    "text": "❌ Отклонить",
                    "additionalFields": {
                      "callback_data": "=rejected_{{ $('get approvals').item.json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3232,
        -400
      ],
      "id": "b9120fa3-da55-4131-8f2b-a25eee179261",
      "name": "send approval form",
      "webhookId": "cd21baac-60a6-488d-bc89-cd8d1bbca8e6",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{$json.telegram_chat_id}}",
        "text": "=✅ *Заявка польностью одобрена*\n\n{{ $('get request').item.json.company_payer }}\n\n*Номер*: {{  $('get request').item.json.id }}\n*Проект*: {{ $('get request').item.json.title }}\n*Поставщик*: {{ $('get request').item.json.vendor }}\n*Категория расхода*: {{ $('get request').item.json.category }}\n*Сумма*: {{ Number($('get request').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('get request').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('get request').item.json.payment_type }}\n*Назначение платежа*: {{ $('get request').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('get request').item.json.description }}\n*Срочность*: {{ $('get request').item.json.urgency }}\n*Заявитель*: {{ $('get request').item.json.requester }}\n\n{{$if(\n  $('get attachments').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('get request').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "💰 Выплачено",
                    "additionalFields": {
                      "callback_data": "=payed_{{ $('get request').item.json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3904,
        112
      ],
      "id": "77463424-caff-4cc7-9669-4fe6a5101373",
      "name": "send request approved",
      "webhookId": "0e85ac3c-9c7e-4848-ba5e-d3e420bfbc45",
      "executeOnce": true,
      "retryOnFail": false,
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('get request1').item.json.id }}",
            "status": "REJECTED"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_payer",
              "displayName": "company_payer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_type",
              "displayName": "payment_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_purpose",
              "displayName": "payment_purpose",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requester",
              "displayName": "requester",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "submitted_at",
              "displayName": "submitted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2336,
        336
      ],
      "id": "21732995-14ca-4019-aa03-7475357ccf50",
      "name": "request rejected",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "role",
              "value": "cashier"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3680,
        112
      ],
      "id": "8f4f8d8b-61f9-4380-bf39-c8af67746a0a",
      "name": "get cashier",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $('get request').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2784,
        -176
      ],
      "id": "a118d75a-f6dd-4391-8e6c-13fab8f78442",
      "name": "get approvals3",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('get approvals3').item.json.approver_tg_id }}",
        "messageId": "={{$('get approvals3').item.json.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=✅ *Заявка польностью одобрена*\n\n{{ $('get request').item.json.company_payer }}\n\n*Номер*: {{  $('get request').item.json.id }}\n*Проект*: {{ $('get request').item.json.title }}\n*Поставщик*: {{ $('get request').item.json.vendor }}\n*Категория расхода*: {{ $('get request').item.json.category }}\n*Сумма*: {{ Number($('get request').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('get request').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('get request').item.json.payment_type }}\n*Назначение платежа*: {{ $('get request').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('get request').item.json.description }}\n*Срочность*: {{ $('get request').item.json.urgency }}\n*Заявитель*: {{ $('get request').item.json.requester }}\n\n{{$if(\n  $('get attachments').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('get request').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3232,
        -176
      ],
      "id": "9f185be8-404b-46a7-a34c-4f323a0affdc",
      "name": "change messages status to confirmed",
      "webhookId": "0774ca6d-f19e-405b-8689-2a60f70a24c3",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('get approvals1').item.json.approver_tg_id }}",
        "messageId": "={{$('get approvals1').item.json.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=❌ *Заявка отклонена на {{ $('get request1').item.json.status }} этапе*\n\n*Заявка отклонена пользователем:*\n**{{ $('rejected user').item.json.name }}**\n\nЗаявка:\n\n{{ $('get request1').item.json.company_payer }}\n\n*Номер*: {{  $('get request1').item.json.id }}\n*Проект*: {{ $('get request1').item.json.title }}\n*Поставщик*: {{ $('get request1').item.json.vendor }}\n*Категория расхода*: {{ $('get request1').item.json.category }}\n*Сумма*: {{ Number($('get request1').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('get request1').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('get request1').item.json.payment_type }}\n*Назначение платежа*: {{ $('get request1').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('get request1').item.json.description }}\n*Срочность*: {{ $('get request1').item.json.urgency }}\n*Заявитель*: {{ $('get request1').item.json.requester }}\n\n{{$if(\n  $('get attachments1').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments1').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments1').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('get request1').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3008,
        336
      ],
      "id": "a944287e-80ad-4f2c-8620-f74f6c9ac70f",
      "name": "change messages status to canceled",
      "webhookId": "ce5603c1-1138-4d84-8db9-af0ad6f7bee3",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a5caac6-bb09-4aac-b1f8-c45ee825dff3",
              "leftValue": "={{ $json.message_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3008,
        -112
      ],
      "id": "7d02da65-7e8e-43c0-8687-4783d9b6282c",
      "name": "message sent?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7a5caac6-bb09-4aac-b1f8-c45ee825dff3",
              "leftValue": "={{ $json.message_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2784,
        336
      ],
      "id": "d6982fe8-475a-49f5-a1c4-d0b9702fd5e1",
      "name": "message sent?1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1216,
        752
      ],
      "id": "a1e68495-8f3f-49b5-b671-1350aef608a7",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=Request error in node:\n{{ JSON.stringify($json.execution.lastNodeExecuted) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1440,
        752
      ],
      "id": "ea7656e9-769e-410e-9b82-c488ae41ceba",
      "name": "Send a text message1",
      "webhookId": "9f8a120f-f469-4f5e-8831-936cbd325892",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2389492c-6303-4e1b-8f8e-c00f3b6be431",
              "leftValue": "={{ $('get request').item.json.payment_type }}",
              "rightValue": "=Перечисление",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3008,
        -560
      ],
      "id": "a65ded1b-77e3-448d-92d3-368d95fd3781",
      "name": "is bank transfer1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "role",
              "value": "acc_group"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3232,
        -592
      ],
      "id": "f250e53d-7494-493a-bdc1-7a021e8c37d0",
      "name": "get accountant group1",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "message_sent": true,
            "message_id": "={{ $json.result.message_id }}",
            "id": "={{ $('get approvals').item.json.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "request_id",
              "displayName": "request_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_user_id",
              "displayName": "approver_user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "approver_tg_id",
              "displayName": "approver_tg_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_sent",
              "displayName": "message_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "step_type",
              "displayName": "step_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "decision",
              "displayName": "decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "comment",
              "displayName": "comment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "decided_at",
              "displayName": "decided_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3680,
        -592
      ],
      "id": "55242488-0b9f-477f-bbd7-2fc6d524102b",
      "name": "Update approval delivery status",
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('get accountant group1').item.json.telegram_chat_id }}",
        "text": "=💰 *Новая заявка на расход*\n\n{{ $('get request').item.json.company_payer }}\n\n*Номер*: {{  $('get request').item.json.id }}\n*Проект*: {{ $('get request').item.json.title }}\n*Поставщик*: {{ $('get request').item.json.vendor }}\n*Категория расхода*: {{ $('get request').item.json.category }}\n*Сумма*: {{ Number($('get request').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('get request').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('get request').item.json.payment_type }}\n*Назначение платежа*: {{ $('get request').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('get request').item.json.description }}\n*Срочность*: {{ $('get request').item.json.urgency }}\n*Заявитель*: {{ $('get request').item.json.requester }}\n\n{{$if(\n  $('get attachments').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('get request').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Одобрить",
                    "additionalFields": {
                      "callback_data": "=accepted_{{ $('get approvals').item.json.id }}"
                    }
                  },
                  {
                    "text": "❌ Отклонить",
                    "additionalFields": {
                      "callback_data": "=rejected_{{ $('get approvals').item.json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3456,
        -592
      ],
      "id": "7e472ddb-788f-4ac7-8c41-b83330ba4b7e",
      "name": "send approval form to group",
      "webhookId": "75583f07-fce1-4311-9a52-f6382a489da9",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "role",
              "value": "acc_group"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3456,
        -208
      ],
      "id": "dad9758b-5140-4b2d-98a4-1557d61d9c62",
      "name": "get accountant group2",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{$json.telegram_chat_id}}",
        "messageId": "={{ $('message sent?').item.json.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=✅ *Заявка польностью одобрена*\n\n{{ $('get request').item.json.company_payer }}\n\n*Номер*: {{ $('get request').item.json.id }}\n*Проект*: {{ $('get request').item.json.title }}\n*Поставщик*: {{ $('get request').item.json.vendor }}\n*Категория расхода*: {{ $('get request').item.json.category }}\n*Сумма*: {{ Number($('get request').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('get request').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('get request').item.json.payment_type }}\n*Назначение платежа*: {{ $('get request').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('get request').item.json.description }}\n*Срочность*: {{ $('get request').item.json.urgency }}\n*Заявитель*: {{ $('get request').item.json.requester }}\n\n{{$if(\n  $('get attachments').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('get request').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "💰 Выплачено",
                    "additionalFields": {
                      "callback_data": "=payed_{{ $('get request').item.json.id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3904,
        -176
      ],
      "id": "f6b7d81e-13c4-4556-a2ea-736c571a67e5",
      "name": "change messages status to confirmed1",
      "webhookId": "67db7565-89b4-4664-8828-dc99224938e8",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2389492c-6303-4e1b-8f8e-c00f3b6be431",
              "leftValue": "={{ $('get request').item.json.payment_type }}",
              "rightValue": "=Перечисление",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3456,
        -16
      ],
      "id": "7c7a81a6-6833-42f6-904c-9dcf85794cfe",
      "name": "is bank transfer"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3680,
        -176
      ],
      "id": "f44e4e09-543a-4d99-8e77-ae1f9781bfbf",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "role",
              "value": "acc_group"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3232,
        336
      ],
      "id": "f69c9085-d8f4-4ea3-9923-a660a927adf4",
      "name": "get accountant group",
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{$json.telegram_chat_id}}",
        "messageId": "={{ $('message sent?1').item.json.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=❌ *Заявка отклонена на {{ $('get request1').item.json.status }} этапе*\n\n*Заявка отклонена пользователем:*\n**{{ $('rejected user').item.json.name }}**\n\nЗаявка:\n\n{{ $('get request1').item.json.company_payer }}\n\n*Номер*: {{  $('get request1').item.json.id }}\n*Проект*: {{ $('get request1').item.json.title }}\n*Поставщик*: {{ $('get request1').item.json.vendor }}\n*Категория расхода*: {{ $('get request1').item.json.category }}\n*Сумма*: {{ Number($('get request1').item.json.amount).toLocaleString(\"ru\", {\n    minimumFractionDigits: 2,\n    maximumFractionDigits: 2,\n    style: \"currency\", currency: $('get request1').item.json.currency\n  }) }}\n*Тип оплаты*: {{ $('get request1').item.json.payment_type }}\n*Назначение платежа*: {{ $('get request1').item.json.payment_purpose }}\n*Описание / зачем*: {{ $('get request1').item.json.description }}\n*Срочность*: {{ $('get request1').item.json.urgency }}\n*Заявитель*: {{ $('get request1').item.json.requester }}\n\n{{$if(\n  $('get attachments1').item.json.isEmpty(), \n  \"\", \n  \"📎*Вложения*:\\n[\" + \n  $('get attachments1').item.json.filename.replace(/[_*[\\]()~`>#+\\-=|{}.!]/g, '\\\\$&') + \n  \"](\" + \n  $('get attachments1').item.json.file_url\n    .replace(/\\)/g, '\\\\)')\n    .replace(/\\\\/g, '\\\\\\\\') + \n  \")\\n\"\n)}}\n🕒*Дата подачи*: {{ new Date($('get request1').item.json.submitted_at).toLocaleString('ru-RU', {  \n    hour: '2-digit',\n    minute: '2-digit',\n    day: '2-digit',\n    month: 'long',\n    year: 'numeric',\n\n  }) }}",
        "additionalFields": {
          "disable_web_page_preview": true,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3456,
        336
      ],
      "id": "1a98bff2-5eb6-4eb7-92e6-c208cad72f9f",
      "name": "change messages status to confirmed2",
      "webhookId": "b8d996a5-781e-422a-a32e-a3aec05944e6",
      "executeOnce": true,
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "attachments",
          "mode": "list",
          "cachedResultName": "attachments"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1888,
        -752
      ],
      "id": "080d1eeb-20c7-4432-8d93-ce024623fb2d",
      "name": "get attachments",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "attachments",
          "mode": "list",
          "cachedResultName": "attachments"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "request_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1888,
        336
      ],
      "id": "764c3cfc-2cb2-40de-89b6-02ace30f8f4c",
      "name": "get attachments1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "MMzwDDpcwJakO7kL",
          "name": "construction_requests"
        }
      }
    }
  ],
  "connections": {
    "get approvals": {
      "main": [
        [
          {
            "node": "Is not empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Step approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get request": {
      "main": [
        [
          {
            "node": "get attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update request status": {
      "main": [
        [
          {
            "node": "get request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is not empty": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Request status approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step approved": {
      "main": [
        [
          {
            "node": "Update request status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "is bank transfer1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "get request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get approvals1": {
      "main": [
        [
          {
            "node": "message sent?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get request1": {
      "main": [
        [
          {
            "node": "get attachments1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get request2": {
      "main": [
        [
          {
            "node": "get approvals2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rejected user": {
      "main": [
        [
          {
            "node": "request rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send approval form": {
      "main": [
        [
          {
            "node": "Update approval delivery status1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request status approved": {
      "main": [
        [
          {
            "node": "get approvals3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request rejected": {
      "main": [
        [
          {
            "node": "get approvals1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get cashier": {
      "main": [
        [
          {
            "node": "send request approved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get approvals3": {
      "main": [
        [
          {
            "node": "message sent?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "change messages status to confirmed": {
      "main": [
        [
          {
            "node": "is bank transfer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get accountant group2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message sent?": {
      "main": [
        [
          {
            "node": "change messages status to confirmed",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get cashier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "message sent?1": {
      "main": [
        [
          {
            "node": "change messages status to canceled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is bank transfer1": {
      "main": [
        [
          {
            "node": "get accountant group1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "send approval form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get accountant group1": {
      "main": [
        [
          {
            "node": "send approval form to group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "send approval form to group": {
      "main": [
        [
          {
            "node": "Update approval delivery status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get accountant group2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is bank transfer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "get cashier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "change messages status to confirmed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "change messages status to canceled": {
      "main": [
        [],
        [
          {
            "node": "get accountant group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get accountant group": {
      "main": [
        [
          {
            "node": "change messages status to confirmed2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get attachments": {
      "main": [
        [
          {
            "node": "get approvals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get attachments1": {
      "main": [
        [
          {
            "node": "rejected user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 300,
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2f3e4f88-e8a3-48db-a9c7-442124c5ad5f",
  "versionCounter": 1,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2025-10-28T12:21:34.379Z",
      "createdAt": "2025-10-28T12:21:34.379Z",
      "id": "AF6lC1ccKNZsTMSk",
      "name": "construction"
    },
    {
      "updatedAt": "2025-10-28T12:21:42.035Z",
      "createdAt": "2025-10-28T12:21:42.035Z",
      "id": "AguU7z7MxNS4t4tS",
      "name": "requests"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-10-28T13:34:10.057Z",
      "createdAt": "2025-10-28T13:34:10.057Z",
      "role": "workflow:owner",
      "workflowId": "ozL7hC2Yil8m8HsF",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}