workflows/PAUonvDt7uq6zQqP.json
{
  "updatedAt": "2025-11-18T23:53:14.000Z",
  "createdAt": "2025-10-30T13:03:53.749Z",
  "id": "PAUonvDt7uq6zQqP",
  "name": "Rept",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE",
          "mode": "list",
          "cachedResultName": "Инвестиционный отчет Kolberg Construction",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qygApIr2xAwu7kytu2QdLhZD2BSAJVTCeSWHjqk8DRE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{$('Edit Fields').item.json.list}}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $json[\"Дата\"] }}",
            "Сумма UZS": "={{ $json[\"Сумма\"] }}",
            "Комментарий": "={{ $json[\"Комментарий\"] }}",
            "Файлы": "=https://construction.kolberg.uz/getfile?type=reports&filename={{ $('new rept').item.json['Сумма'] + \"_\" + new Date($('new rept').item.json.submittedAt).format('yyyy-MM-dd_HH-mm-ss') + \".\" + $('new rept').item.json[\"Файл\"].filename.split(\".\").last()}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Сумма UZS",
              "displayName": "Сумма UZS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Комментарий",
              "displayName": "Комментарий",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Файлы",
              "displayName": "Файлы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        -64
      ],
      "id": "7e633a2a-c03b-4cbf-8b8c-8f977b40e5fa",
      "name": "Append row in sheet",
      "credentials": {
        "googleApi": {
          "id": "mRkpe2z9NTTuFURb",
          "name": "service account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"list\":\"{{ $if($('new rept').item.json['Проект'] == \"Сагбон\", \"41791454\", \"1109039608\") }}\",\n  \"Дата\": \"{{ $now.toDateTime().format('dd/MM/2025') }}\",\n  \"Сумма\": {{ Number($('new rept').item.json['Сумма']) }},\n  \"Комментарий\": \"{{ $('new rept').item.json[\"Комментарий\"] }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        336,
        -64
      ],
      "id": "ff33f43a-a35e-467f-8079-7202e30fe6e9",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -288,
        112
      ],
      "id": "c3c3258b-7aba-4f1b-8416-4f2ce97d32c9",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=Request error in node:\n{{ JSON.stringify($json.execution.lastNodeExecuted) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -64,
        112
      ],
      "id": "d5a2d420-898e-4e5c-b6b2-f432b5430109",
      "name": "Send a text message1",
      "webhookId": "0ff5632e-8499-40f9-8991-033154e5ef3e",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Отчет по подотчетным деньгам",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Проект",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Яккасарай"
                  },
                  {
                    "option": "Сагбон"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Сумма",
              "fieldType": "number",
              "requiredField": true
            },
            {
              "fieldLabel": "Файл",
              "fieldType": "file",
              "multipleFiles": false,
              "requiredField": true
            },
            {
              "fieldLabel": "Комментарий",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Отправить",
          "path": "construction/rept"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -288,
        -64
      ],
      "id": "a7fffbb9-a251-4787-9cab-b4edb0a90556",
      "name": "new rept",
      "webhookId": "a6eb9984-dfbd-4992-978b-793e145ece28"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=**Добавлен отчет:**\n\n📅 *Дата:* {{ $('Append row in sheet').item.json[\"Дата\"] }}  \n💰 *Сумма:* {{ Number($('Append row in sheet').item.json[\"Сумма UZS\"]).format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} UZS  \n💬 *Комментарий:* {{ $('Append row in sheet').item.json[\"Комментарий\"].replaceAll('.', '\\\\.') }}  \n📎 [Файлы]({{ $('Append row in sheet').item.json[\"Файлы\"] }})",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        -96
      ],
      "id": "d5c3fb0c-3fe1-4ca3-a224-4c29a2178874",
      "name": "DR",
      "webhookId": "9b43554f-714d-42a7-9200-2c1d1d455434",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "chatId": "291875946",
        "text": "=**Добавлен отчет:**\n\n📅 *Дата:* {{ $('Append row in sheet').item.json[\"Дата\"] }}  \n💰 *Сумма:* {{ Number($('Append row in sheet').item.json[\"Сумма UZS\"]).format('ru-RU', { \n  minimumFractionDigits: 2, \n  maximumFractionDigits: 2 \n}) }} UZS  \n💬 *Комментарий:* {{ $('Append row in sheet').item.json[\"Комментарий\"].replaceAll('.', '\\\\.') }}  \n📎 [Файлы]({{ $('Append row in sheet').item.json[\"Файлы\"] }})",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        80
      ],
      "id": "f93922ac-e597-469c-8d97-9b36ced99b09",
      "name": "SR",
      "webhookId": "9b43554f-714d-42a7-9200-2c1d1d455434",
      "credentials": {
        "telegramApi": {
          "id": "TwF5TakXsFDGzAEL",
          "name": "KC requests"
        }
      }
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "upload",
        "path": "=/home/sftpuser/upload/construction/reports/{{ $('new rept').item.json['Сумма'] + \"_\" + new Date($('new rept').item.json.submittedAt).format('yyyy-MM-dd_HH-mm-ss') + \".\" + $json[\"Файл\"].filename.split(\".\").last()}}",
        "binaryPropertyName": "____"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        96,
        -64
      ],
      "id": "94996091-b36c-4dec-be62-b31bc104b0b4",
      "name": "FTP",
      "credentials": {
        "sftp": {
          "id": "8lqZXk6gHsvR30gh",
          "name": "FTP account"
        }
      }
    }
  ],
  "connections": {
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new rept": {
      "main": [
        [
          {
            "node": "FTP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "DR",
            "type": "main",
            "index": 0
          },
          {
            "node": "SR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2dd2527e-b7c9-4ee7-a81b-8b738b2e23f3",
  "versionCounter": 37,
  "triggerCount": 1,
  "tags": [
    {
      "updatedAt": "2025-10-28T12:21:34.379Z",
      "createdAt": "2025-10-28T12:21:34.379Z",
      "id": "AF6lC1ccKNZsTMSk",
      "name": "construction"
    }
  ],
  "shared": [
    {
      "updatedAt": "2025-10-30T13:03:53.754Z",
      "createdAt": "2025-10-30T13:03:53.754Z",
      "role": "workflow:owner",
      "workflowId": "PAUonvDt7uq6zQqP",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}