workflows/Q6bdnJV1MWuBUhtG.json
{
  "updatedAt": "2025-11-27T13:05:39.000Z",
  "createdAt": "2025-11-07T09:45:03.802Z",
  "id": "Q6bdnJV1MWuBUhtG",
  "name": "Table",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "requests",
          "mode": "list",
          "cachedResultName": "requests"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -304,
        128
      ],
      "id": "65ba0652-589d-4360-826f-ef7aadac5cd0",
      "name": "requests1",
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "approvals",
          "mode": "list",
          "cachedResultName": "approvals"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        128
      ],
      "id": "d9585692-c5f3-4808-8b45-63a3ee524a64",
      "name": "approvals1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull data from your existing nodes\nconst requests  = $items('requests1').map(i => i.json);\nconst approvals = $items('approvals1').map(i => i.json);\nconst users     = $items('users').map(i => i.json);\n\n// Index users by id for quick lookup\nconst usersById = Object.fromEntries(users.map(u => [u.id, u]));\n\n// Group approvals by request_id and embed approver info\nconst approvalsByRequest = {};\nfor (const a of approvals) {\n  const approver = usersById[a.approver_user_id] || null;\n  const enriched = { ...a, approver };\n  (approvalsByRequest[a.request_id] ||= []).push(enriched);\n}\n\n// Emit one item per request with approvals[]\nreturn requests.map(r => ({\n  json: {\n    ...r,\n    approvals: approvalsByRequest[r.id] || []\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        128
      ],
      "id": "5f55c151-737f-4b78-8d6e-94e3bca069bc",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{\n(() => {\n  const data = $items().map(i => i.json);\n\n  return `<!doctype html>\n<html lang=\"ru\">\n<head>\n  <meta charset=\"utf-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n  <title>Согласования по заявкам</title>\n  <style>\n    :root{--bg:#0b0c0f;--card:#12141a;--muted:#8b95a7;--accent:#4f8cff;--ok:#17c964;--bad:#f31260;--warn:#f5a524;--chip:#232733}\n    *{box-sizing:border-box}\n    body{margin:0;background:#0b0c0f;color:#e5e7eb;font:14px/1.4 system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif}\n    header{padding:20px 24px 0}\n    h1{margin:0 0 12px;font-size:20px}\n    .panel{background:var(--card);border:1px solid #1f2430;border-radius:14px;padding:14px 14px 10px;display:none}\n    main{padding:16px 24px}\n    .table-card{background:var(--card);border:1px solid #1f2430;border-radius:14px;overflow:auto}\n    table{width:100%;border-collapse:collapse;min-width:1200px}\n    thead th{background:#171a21;border-bottom:1px solid #232733;padding:10px 12px;text-align:left;font-weight:600;user-select:none;white-space:nowrap}\n    thead th.sortable{cursor:pointer}\n    thead th .sort{opacity:.6;font-size:11px;margin-left:6px}\n    tbody td{border-top:1px solid #141821;padding:10px 12px;vertical-align:top}\n    tbody tr:hover{background:#121722}\n    .muted{color:#8b95a7}\n    .link{color:#9ec1ff;cursor:pointer}\n    .status{display:inline-flex;gap:8px;align-items:center;padding:4px 10px;border:1px solid #2a3342;border-radius:999px;background:var(--chip);font-size:12px}\n    .status.APPROVED{border-color:#19442c;color:#a7f3d0;background:rgba(23,201,100,.08)}\n    .status.REJECTED{border-color:#4a1d23;color:#fecaca;background:rgba(243,18,96,.08)}\n    .status.UNDER_REVIEW{border-color:#1f2e55;color:#c7d2fe;background:rgba(79,140,255,.08)}\n    .status.approved{border-color:#19442c;color:#a7f3d0;background:rgba(23,201,100,.08)}\n    .status.rejected{border-color:#4a1d23;color:#fecaca;background:rgba(243,18,96,.08)}\n    .status.pending{border-color:#4b3a13;color:#fde68a;background:rgba(245,165,36,.12)}\n    /* срочность */\n    .urgency{display:inline-flex;align-items:center;gap:8px;padding:3px 9px;border-radius:999px;border:1px solid #2a3342;background:var(--chip);font-size:12px}\n    .urgency.normal{border-color:#22313d;color:#cbd5e1;background:#19232e}\n    .urgency.urgent{border-color:#4b3a13;color:#fde68a;background:rgba(245,165,36,.12);font-weight:600}\n    dialog{border:1px solid #2a3342;border-radius:12px;background:#0e1218;color:#e5e7eb;width:min(1400px,96vw)}\n    dialog::backdrop{background:rgba(0,0,0,.5)}\n    .modal-head{display:flex;justify-content:space-between;align-items:center;padding:10px 14px;border-bottom:1px solid #232733}\n    .modal-body{padding:14px}\n    .close{background:#1f2430;color:#cbd5e1;border:none;border-radius:8px;padding:6px 10px;cursor:pointer}\n    .nowrap{white-space:nowrap}\n  </style>\n</head>\n<body>\n  <header>\n    <h1>Согласования по заявкам</h1>\n    <div class=\"panel\"></div>\n  </header>\n\n  <main>\n    <div class=\"table-card\">\n      <table id=\"tbl\">\n        <thead>\n          <tr>\n            <th class=\"sortable\" data-key=\"id\">ID заявки <span class=\"sort\"></span></th>\n            <th class=\"sortable\" data-key=\"vendor\">Поставщик <span class=\"sort\"></span></th>\n            <th class=\"sortable\" data-key=\"amount\">Сумма <span class=\"sort\"></span></th>\n            <th class=\"sortable\" data-key=\"submitted_at\">Создана <span class=\"sort\"></span></th>\n\n            <th class=\"sortable\" data-key=\"category\">Категория <span class=\"sort\"></span></th>\n            <th class=\"sortable\" data-key=\"payment_type\">Тип оплаты <span class=\"sort\"></span></th>\n            <th class=\"sortable\" data-key=\"payment_purpose\">Назначение платежа <span class=\"sort\"></span></th>\n            <th class=\"sortable\" data-key=\"urgency\">Срочность <span class=\"sort\"></span></th>\n            <th class=\"sortable\" data-key=\"requester\">Инициатор <span class=\"sort\"></span></th>\n            <!-- УДАЛЕНО company_payer, title -->\n            <th class=\"sortable\" data-key=\"description\">Описание <span class=\"sort\"></span></th>\n\n            <th>Шаги</th>\n            <th class=\"sortable\" data-key=\"status\">Статус <span class=\"sort\"></span></th>\n            <th class=\"sortable\" data-key=\"current_step\">Текущий шаг <span class=\"sort\"></span></th>\n            <th class=\"sortable\" data-key=\"last_decision_at\">Последнее решение <span class=\"sort\"></span></th>\n            <th class=\"sortable\" data-key=\"messages\">Сообщения <span class=\"sort\"></span></th>\n            <th></th>\n          </tr>\n        </thead>\n        <tbody id=\"tbody\">\n          <tr><td colspan=\"16\" class=\"muted\">Отрисовка…</td></tr>\n        </tbody>\n      </table>\n    </div>\n  </main>\n\n  <dialog id=\"modal\">\n    <div class=\"modal-head\">\n      <div><strong>Заявка <span id=\"m-id\"></span></strong></div>\n      <button class=\"close\" onclick=\"modal.close()\">Закрыть</button>\n    </div>\n    <div class=\"modal-body\">\n      <div class=\"table-card\" style=\"background:#0f1218\">\n        <table>\n          <thead>\n            <tr>\n              <th>№</th>\n              <th>ID соглас.</th>\n              <th>ID заявки</th>\n              <th>Шаг</th>\n              <th>Тип шага</th>\n              <th>Согласующий (имя)</th>\n              <th>Approver user ID</th>\n              <th>Роль</th>\n              <th>TG чат (из approval)</th>\n              <th>TG чат (из профиля)</th>\n              <th>Manager ID</th>\n              <th>OOO до</th>\n              <th>Статус</th>\n              <th>Дата решения</th>\n              <th>Комментарий</th>\n              <th>Сообщение отправлено</th>\n              <th>ID сообщения</th>\n            </tr>\n          </thead>\n          <tbody id=\"m-approvals\"></tbody>\n        </table>\n      </div>\n    </div>\n  </dialog>\n\n  <script>window.SERVER_DATA = ${JSON.stringify(data)};</script>\n\n  <script>\n  const $ = (s)=>document.querySelector(s);\n  const tbody = document.getElementById('tbody');\n  const modal = document.getElementById('modal');\n  let approvalsData = Array.isArray(window.SERVER_DATA) ? window.SERVER_DATA : [];\n  let sortKey = 'id';\n  let sortDir = 'asc';\n\n  const esc = (v='') => String(v)\n    .replace(/&/g,'&amp;').replace(/</g,'&lt;')\n    .replace(/>/g,'&gt;').replace(/\"/g,'&quot;').replace(/'/g,'&#39;');\n\n  const truncate = (s, n=160) => {\n    const str = String(s||'');\n    return str.length > n ? str.slice(0, n-1) + '…' : str;\n  };\n\n  const fmtDate = (d)=> d ? new Date(d).toLocaleString('ru-RU', {\n    hour:'2-digit', minute:'2-digit', day:'2-digit', month:'2-digit', year:'numeric'\n  }) : '';\n\n  const fmtMoney = (v, cur='UZS') => {\n    const n = Number(v);\n    return Number.isFinite(n)\n      ? new Intl.NumberFormat('ru-RU', { style:'currency', currency: cur }).format(n)\n      : '';\n  };\n\n  function statusLabel(s){\n    switch (s) {\n      case 'PAYED': return 'ОПЛАЧЕНО';\n      case 'APPROVED': return 'ОДОБРЕНО';\n      case 'REJECTED': return 'ОТКЛОНЕНО';\n      case 'UNDER_REVIEW': return 'НА РАССМОТРЕНИИ';\n      default: return String(s || '');\n    }\n  }\n  function decisionLabel(d){\n    const x = (d || 'pending').toLowerCase();\n    if (x === 'approved') return 'одобрено';\n    if (x === 'rejected') return 'отклонено';\n    return 'в ожидании';\n  }\n\n  // срочность → чип\n  function badgeUrgency(u){\n    const val = String(u||'').trim();\n    if (val === 'Срочно') return '<span class=\"urgency urgent\">Срочно</span>';\n    if (val === 'Обычно') return '<span class=\"urgency normal\">Обычно</span>';\n    return esc(val);\n  }\n\n  function stepAggregate(items){\n    const decisions = items.map(x=>x.decision);\n    if(decisions.includes('rejected')) return 'rejected';\n    if(items.length>0 && decisions.every(d=>d==='approved')) return 'approved';\n    return 'pending';\n  }\n  function deriveStatus(items){\n    if(items.some(x=>x.decision==='rejected')) return 'REJECTED';\n    if(items.length>0 && items.every(x=>x.decision==='approved')) return 'APPROVED';\n    return 'UNDER_REVIEW';\n  }\n  function currentStep(items){\n    const byStep = new Map();\n    for(const it of items){ if(!byStep.has(it.step)) byStep.set(it.step, []); byStep.get(it.step).push(it); }\n    const steps = [...byStep.keys()].sort((a,b)=>a-b);\n    for(const s of steps){ if(stepAggregate(byStep.get(s)) !== 'approved') return s; }\n    return steps[steps.length-1] || 1;\n  }\n  function lastDecisionAt(items){\n    const dates = items.map(x=> x.decided_at).filter(Boolean).sort();\n    return dates.length ? dates[dates.length-1] : '';\n  }\n  function stepsCompact(items){\n    const byStep = new Map();\n    for(const it of items){ if(!byStep.has(it.step)) byStep.set(it.step, []); byStep.get(it.step).push(it); }\n    const steps = [...byStep.keys()].sort((a,b)=>a-b);\n    const icon = (agg)=> agg==='approved' ? '✅' : (agg==='rejected' ? '❌' : '⏳');\n    return steps.map(s=> s + icon(stepAggregate(byStep.get(s)))).join(' ');\n  }\n  function messagesSummary(items){\n    const sent = items.filter(x=>x.message_sent).length;\n    return sent + '/' + items.length;\n  }\n\n  function badge(status){ return '<span class=\"status ' + status + '\">' + statusLabel(status) + '</span>'; }\n  function badgeDecision(dec){\n    const cls = (dec||'pending').toLowerCase();\n    return '<span class=\"status ' + cls + '\">' + decisionLabel(dec) + '</span>';\n  }\n\n  function compare(a,b){\n    const dir = sortDir==='asc' ? 1 : -1;\n    const v1 = a[sortKey], v2 = b[sortKey];\n\n    if(sortKey==='status'){\n      const order = {UNDER_REVIEW:0, APPROVED:1, REJECTED:2, PAYED:3};\n      return ((order[v1]??9) - (order[v2]??9)) * dir;\n    }\n    if(sortKey==='submitted_at' || sortKey==='last_decision_at'){\n      return ((v1?new Date(v1).getTime():0) - (v2?new Date(v2).getTime():0)) * dir;\n    }\n    if(sortKey==='amount'){\n      return ((+v1 || 0) - (+v2 || 0)) * dir;\n    }\n    if(sortKey==='current_step' || sortKey==='id' || sortKey==='messages'){\n      return ((+v1||0) - (+v2||0)) * dir;\n    }\n    if(typeof v1 === 'string' && typeof v2 === 'string'){\n      return v1.localeCompare(v2,'ru') * dir;\n    }\n    return ((v1??0) - (v2??0)) * dir;\n  }\n\n  function setSortIndicators(){\n    document.querySelectorAll('thead th.sortable').forEach(th=>{\n      const span = th.querySelector('.sort');\n      if(!span) return;\n      const key = th.dataset.key;\n      span.textContent = (key===sortKey) ? (sortDir==='asc'?'▲':'▼') : '';\n    });\n  }\n\n  function renderList(requests){\n    if(!Array.isArray(requests)){\n      tbody.innerHTML = '<tr><td colspan=\"16\" class=\"muted\">Неожиданный ответ</td></tr>';\n      return;\n    }\n    if(!requests.length){\n      tbody.innerHTML = '<tr><td colspan=\"16\" class=\"muted\">Нет данных</td></tr>';\n      return;\n    }\n    const rows = requests.map(req=>{\n      const approvals = Array.isArray(req.approvals)? req.approvals : [];\n      const status = req.status && ['PAYED','APPROVED','REJECTED','UNDER_REVIEW'].includes(req.status)\n        ? req.status : deriveStatus(approvals);\n      return {\n        id: req.id,\n        vendor: esc(req.vendor || ''),\n        amount: Number(req.amount ?? req.total ?? req.sum ?? 0),\n        currency: req.currency || 'UZS',\n        submitted_at: req.submitted_at || '',\n\n        category: esc(req.category || ''),\n        payment_type: esc(req.payment_type || ''),\n        payment_purpose: esc(req.payment_purpose || ''),\n        urgency: esc(req.urgency || ''),\n        requester: esc(req.requester || ''),\n        // удалены company_payer и title\n        description: esc(truncate(req.description || '', 200)),\n\n        steps: stepsCompact(approvals),\n        status,\n        current_step: approvals.length ? currentStep(approvals) : '',\n        last_decision_at: lastDecisionAt(approvals) || '',\n        messages: messagesSummary(approvals),\n        _approvals: approvals\n      };\n    });\n\n    rows.sort(compare);\n\n    tbody.innerHTML = rows.map(r=>(\n      '<tr>'\n        + '<td class=\"nowrap\">#' + r.id + '</td>'\n        + '<td>' + r.vendor + '</td>'\n        + '<td class=\"nowrap\">' + fmtMoney(r.amount, r.currency) + '</td>'\n        + '<td class=\"nowrap\">' + fmtDate(r.submitted_at) + '</td>'\n\n        + '<td>' + r.category + '</td>'\n        + '<td>' + r.payment_type + '</td>'\n        + '<td>' + r.payment_purpose + '</td>'\n        + '<td>' + badgeUrgency(r.urgency) + '</td>'\n        + '<td>' + r.requester + '</td>'\n        + '<td>' + r.description + '</td>'\n\n        + '<td>' + r.steps + '</td>'\n        + '<td>' + badge(r.status) + '</td>'\n        + '<td>' + r.current_step + '</td>'\n        + '<td class=\"nowrap\">' + fmtDate(r.last_decision_at) + '</td>'\n        + '<td>' + r.messages + '</td>'\n        + '<td><span class=\"link\" data-id=\"' + r.id + '\">Открыть</span></td>'\n      + '</tr>'\n    )).join('');\n\n    tbody.querySelectorAll('.link').forEach(a=> a.addEventListener('click', ()=> openDetail(Number(a.dataset.id))));\n    setSortIndicators();\n  }\n\n  function openDetail(requestId){\n    const req = approvalsData.find(x=> x.id === requestId);\n    if(!req) return;\n    document.getElementById('m-id').textContent = '#' + requestId;\n    const approvals = (req.approvals||[]).slice().sort((a,b)=> (a.step||0)-(b.step||0) || (a.id||0)-(b.id||0));\n    const rowsHtml = approvals.map((x,i)=> (\n      '<tr>'\n        + '<td>' + (i+1) + '</td>'\n        + '<td>' + (x.id ?? '') + '</td>'\n        + '<td>' + (x.request_id ?? '') + '</td>'\n        + '<td>' + (x.step ?? '') + '</td>'\n        + '<td>' + esc(x.step_type || '') + '</td>'\n        + '<td>' + esc(x.approver?.name || '') + '</td>'\n        + '<td>' + (x.approver_user_id ?? '') + '</td>'\n        + '<td>' + esc(x.approver?.role ?? '') + '</td>'\n        + '<td>' + (x.approver_tg_id ?? '') + '</td>'\n        + '<td>' + esc(x.approver?.telegram_chat_id ?? '') + '</td>'\n        + '<td>' + (x.approver?.manager_id ?? '') + '</td>'\n        + '<td class=\"nowrap\">' + fmtDate(x.approver?.ooo_until) + '</td>'\n        + '<td>' + badgeDecision(x.decision) + '</td>'\n        + '<td class=\"nowrap\">' + fmtDate(x.decided_at) + '</td>'\n        + '<td>' + esc(x.comment || '') + '</td>'\n        + '<td>' + (x.message_sent ? '✓' : '—') + '</td>'\n        + '<td>' + (x.message_id ?? '') + '</td>'\n      + '</tr>'\n    )).join('');\n    document.getElementById('m-approvals').innerHTML = rowsHtml || '<tr><td colspan=\"17\" class=\"muted\">Нет данных</td></tr>';\n    modal.showModal();\n  }\n\n  document.addEventListener('DOMContentLoaded', ()=>{\n    document.querySelectorAll('thead th.sortable').forEach(th=>{\n      th.addEventListener('click', ()=>{\n        const key = th.dataset.key;\n        if(!key) return;\n        if(sortKey === key) sortDir = (sortDir==='asc') ? 'desc' : 'asc';\n        else { sortKey = key; sortDir = 'asc'; }\n        renderList(approvalsData);\n      });\n    });\n\n    renderList(approvalsData);\n  });\n  </script>\n</body>\n</html>`;\n})()\n}}\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET, POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Authorization"
              },
              {
                "name": "Content-Type",
                "value": "text/html; charset=utf-8"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        592,
        128
      ],
      "id": "df2cf952-f92d-41d6-a701-72586303069d",
      "name": "page"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "id",
              "value": "={{ $json.approver_user_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        128
      ],
      "id": "974f2747-dac0-4b6f-b33e-2c7987ba549a",
      "name": "users",
      "credentials": {
        "postgres": {
          "id": "YXvWoKdEZBm6fktV",
          "name": "Neuron_requests"
        }
      }
    },
    {
      "parameters": {
        "path": "neuron/report",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -528,
        128
      ],
      "id": "4f1a7149-fc3a-4b85-b0f2-30240d0abfc1",
      "name": "get",
      "webhookId": "1efc9c8f-2131-41f9-950d-0af6439ba28a"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        352
      ],
      "id": "e419939a-22f1-4bc9-b1bd-3cee00989a84",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=Request error in node:\n{{ JSON.stringify($json.execution.lastNodeExecuted) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -304,
        352
      ],
      "id": "01e300ca-43ee-4c0d-af97-0fdebf69f006",
      "name": "Send a text message1",
      "webhookId": "0ff5632e-8499-40f9-8991-033154e5ef3e",
      "credentials": {
        "telegramApi": {
          "id": "FPHdMIUGJcFBJ7BA",
          "name": "Neuron заявки"
        }
      }
    }
  ],
  "connections": {
    "requests1": {
      "main": [
        [
          {
            "node": "approvals1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "approvals1": {
      "main": [
        [
          {
            "node": "users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "users": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get": {
      "main": [
        [
          {
            "node": "requests1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "eeb6910f-5a33-469f-b215-d6d2f6260295",
  "versionCounter": 14,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-07T09:45:03.805Z",
      "createdAt": "2025-11-07T09:45:03.805Z",
      "role": "workflow:owner",
      "workflowId": "Q6bdnJV1MWuBUhtG",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}