workflows/rKBDcuE5fGUuLEpC.json
{
  "updatedAt": "2025-11-25T14:17:25.000Z",
  "createdAt": "2025-11-22T20:38:11.671Z",
  "id": "rKBDcuE5fGUuLEpC",
  "name": "Cashflow web",
  "description": null,
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "lemonfit/cashflow",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        96
      ],
      "id": "1da842e9-356f-4788-b121-77c0d1f4c43b",
      "name": "Webhook1",
      "webhookId": "d895fcc8-a234-427a-801f-b98cd5b1e464"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2208,
        96
      ],
      "id": "4c8bd3a0-c3b5-43ec-8671-556ace535db8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\nconst query = data.query || {};\n\n// ---- берём сырые данные ----\n// если оставишь только { data: { expenditures, revenues, ... } } – этого достаточно\nconst src = data.data || data;          // ★ так будет работать и со старой, и с новой схемой\nconst rawExp = Array.isArray(src.expenditures) ? src.expenditures : [];\nconst rawRev = Array.isArray(src.revenues) ? src.revenues : [];\n\n// ---- month dictionaries & order ----\nconst monthMap = {\n  january:'Январь', february:'Февраль', march:'Март', april:'Апрель',\n  may:'Май', june:'Июнь', july:'Июль', august:'Август',\n  september:'Сентябрь', october:'Октябрь', november:'Ноябрь', december:'Декабрь',\n};\nconst engMonthsInOrder = [\n  'january','february','march','april','may','june',\n  'july','august','september','october','november','december'\n];\n\n// ---- selection from query / default ----\nlet monthParam = (query.month || data.month || '').toString().trim().toLowerCase();\nlet yearParam  = (query.year || '').toString().trim();\nconst now = new Date();\nif (!monthParam) monthParam = now.toLocaleString('en-US', { month:'long' }).toLowerCase();\nif (!yearParam) yearParam = String(now.getFullYear());\n\n// ---- build availability from data_available (если удалишь — просто будет пусто) ----\nconst files = Array.isArray(data.data_available) ? data.data_available : [];\nconst availability = {};\nfor (const f of files) {\n  const m = f.match(/^([a-zA-Z]+)_(\\d{4})\\.json$/i);\n  if (!m) continue;\n  const eng = m[1].toLowerCase();\n  const yr  = m[2];\n  if (!availability[yr]) availability[yr] = new Set();\n  availability[yr].add(eng);\n}\nconst availableYears = Object.keys(availability).sort();\nif (!availability[yearParam] && availableYears.length) {\n  yearParam = availableYears[availableYears.length - 1];\n}\nconst monthsForYear = availability[yearParam]\n  ? engMonthsInOrder.filter(m => availability[yearParam].has(m))\n  : [];\nif (monthsForYear.length && !monthsForYear.includes(monthParam)) {\n  monthParam = monthsForYear[0];\n}\n\nconst monthName = monthMap[monthParam] || monthMap[now.toLocaleString('en-US', { month:'long' }).toLowerCase()];\nconst reportLabel = `${monthName} ${yearParam}`;\n\n// ---- format & exclusions ----\nconst nf = new Intl.NumberFormat('ru-RU', { minimumFractionDigits: 2, maximumFractionDigits: 2 });\nconst exclude = new Set(data.exclude_operations || []);   // можно оставить, он не мешает\n\n// ---- АГРЕГАТЫ ТОЛЬКО ИЗ СЫРЬЯ ----\n// helper: фильтр по exclude\nconst notExcluded = r => !exclude.has(r.operation);\n\n// ✳️ расходы — из сырых расходов (если хочешь только наличные, добавь .filter(r => r.cash_type === 'Наличные'))\nconst expRows = rawExp\n  .filter(notExcluded)\n  .filter(r => r.cash_type === 'Наличные');\n\n// ✳️ доходы — ТОЛЬКО НАЛИЧНЫЕ из сырых доходов, как ты хотел\nconst revRowsCash = rawRev\n  .filter(notExcluded)\n  .filter(r => r.cash_type === 'Наличные');\n\n// агрегируем по операции\nfunction aggregateByOperation(rows, kind) {\n  const acc = rows.reduce((map, r) => {\n    const op = r.operation || 'Без операции';\n    if (!map[op]) {\n      map[op] = {\n        operation: op,\n        kind,\n        total_sum: 0,\n        count: 0,\n      };\n    }\n    map[op].total_sum += Number(r.total_sum || 0);\n    map[op].count += 1;\n    return map;\n  }, {});\n  return Object.values(acc).map(r => ({\n    ...r,\n    total_sum_fmt: nf.format(r.total_sum),\n  }));\n}\n\nconst expendituresAgg = aggregateByOperation(expRows, 'expenditure');\nconst revenuesAgg     = aggregateByOperation(revRowsCash, 'revenue');   // ★ только cash\n\nconst expenditure_total = expendituresAgg.reduce((s,x) => s + Number(x.total_sum || 0), 0);\nconst revenue_total     = revenuesAgg.reduce((s,x) => s + Number(x.total_sum || 0), 0);\nconst net_total         = revenue_total - expenditure_total;\n\n// ---- FULL operations (тоже только из сырья) ----\nfunction normalize(rows, kind) {\n  return rows\n    .filter(r => !exclude.has(r.operation))\n    // если надо показывать в таблице только Наличные — оставь эту строку\n    // если нужно ВСЁ — просто удали её\n    .filter(r => r.cash_type === 'Наличные')\n    .map(r => ({\n      kind,                                // 'expenditure' | 'revenue'\n      id: r.id || '',\n      date: r.date || '',\n      operation: r.operation || '',\n      cash_type: r.cash_type || '',\n      counterparty: r.counterparty || '',\n      employee: r.employee || '',\n      total_sum: Number(r.total_sum || 0),\n      total_sum_fmt: nf.format(Number(r.total_sum || 0)),\n      comment: r.comment || '',\n      account: r.account || '',\n      confirmed: r.confirmed === true ? 'да' : (r.confirmed === false ? 'нет' : ''),\n      unit: r.unit || '',\n      organization: r.organization || '',\n    }));\n}\n\nconst fullOps = [\n  ...normalize(rawExp, 'expenditure'),\n  ...normalize(rawRev, 'revenue'),\n];\n\n// optional: sort by date then id\nfullOps.sort((a, b) => (a.date || '').localeCompare(b.date || '') || (a.id || '').localeCompare(b.id || ''));\n\n// ---- HTML helpers ----\nconst rowAgg = (r) => `\n  <tr>\n    <td class=\"op\">${r.operation}</td>\n    <td><span class=\"badge ${r.kind==='revenue'?'rev':'exp'}\">${r.kind==='revenue'?'Доход':'Расход'}</span></td>\n    <td class=\"num\">${r.total_sum_fmt || nf.format(Number(r.total_sum||0))}</td>\n    <td class=\"num\">${r.count ?? 0}</td>\n  </tr>\n`;\n\nconst rowFull = (r) => `\n  <tr>\n    <td class=\"num\">${r.date}</td>\n    <td>${r.id}</td>\n    <td class=\"op\">${r.operation}</td>\n    <td><span class=\"badge ${r.kind==='revenue'?'rev':'exp'}\">${r.kind==='revenue'?'Доход':'Расход'}</span></td>\n    <td>${r.cash_type}</td>\n    <td>${r.counterparty}</td>\n    <td class=\"num\">${r.total_sum_fmt}</td>\n    <td>${r.employee}</td>\n    <td>${r.comment}</td>\n  </tr>\n`;\n\n// ---- build HTML ----\nconst html = `\n<!doctype html>\n<html lang=\"ru\">\n<head>\n<meta charset=\"utf-8\">\n<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\n<title>Финансовая сводка — ${reportLabel}</title>\n<style>\n  :root{--bg:#0b1220;--card:#111a2b;--muted:#6b7a99;--text:#e6edf7;--rev:#2db47d;--exp:#e65757;--border:#1e2a44;}\n  *{box-sizing:border-box}\n  body{margin:0;background:var(--bg);color:var(--text);font:14px/1.45 system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;padding:24px}\n  .wrap{max-width:1200px;margin:0 auto}\n  h1{font-size:22px;margin:0 0 6px}\n  .sub{color:var(--muted);margin:0 0 18px}\n  .controls{margin-bottom:16px;display:flex;gap:8px;align-items:center;flex-wrap:wrap}\n  select{padding:6px 10px;border-radius:8px;border:1px solid var(--border);background:var(--card);color:var(--text);font-size:14px}\n  button{padding:6px 12px;border:none;border-radius:8px;background:var(--rev);color:#fff;font-weight:600;cursor:pointer}\n  .grid{display:grid;grid-template-columns:1fr 1fr;gap:16px;margin-top:16px}\n  .card{background:var(--card);border:1px solid var(--border);border-radius:14px;padding:16px;box-shadow:0 6px 18px rgba(0,0,0,.25)}\n  .kpis{display:grid;grid-template-columns:1fr 1fr 1fr;gap:12px}\n  .kpi{padding:14px;border:1px solid var(--border);border-radius:12px;background:linear-gradient(180deg,rgba(58,122,254,.08),transparent)}\n  .kpi h3{margin:0 0 8px;font-size:12px;color:var(--muted);text-transform:uppercase;letter-spacing:.06em}\n  .kpi .val{font-size:20px;font-weight:700}\n  .table{width:100%;border-collapse:collapse;margin-top:8px}\n  .table th,.table td{padding:8px 10px;border-bottom:1px solid var(--border);text-align:left;vertical-align:top}\n  .table th{font-size:12px;color:var(--muted);text-transform:uppercase;letter-spacing:.06em;position:sticky;top:0;background:var(--card);z-index:1}\n  .table td.op{font-weight:600}\n  .table td.num{text-align:right;font-variant-numeric:tabular-nums}\n  .badge{padding:4px 8px;border-radius:999px;font-size:12px;border:1px solid var(--border);background:#15213a;white-space:nowrap}\n  .badge.rev{border-color:rgba(45,180,125,.35);color:#b9f2d9;background:rgba(45,180,125,.08)}\n  .badge.exp{border-color:rgba(230,87,87,.35);color:#ffd3d3;background:rgba(230,87,87,.08)}\n  .muted{color:var(--muted)}\n  .scroll{max-height:60vh;overflow:auto;border:1px solid var(--border);border-radius:12px}\n  @media (max-width:1100px){.grid{grid-template-columns:1fr}}\n</style>\n</head>\n<body>\n  <div class=\"wrap\">\n    <h1>Финансовая сводка — ${reportLabel}</h1>\n    <p class=\"sub muted\">Источник файла: <strong>${src.filename || data.filename || 'не указано'}</strong></p>\n\n    <div class=\"controls\">\n      <label>Год:\n        <select id=\"year\"></select>\n      </label>\n      <label>Месяц:\n        <select id=\"month\"></select>\n      </label>\n      <button id=\"showBtn\">Показать</button>\n      <span class=\"muted\" style=\"margin-left:8px\">(доступны только периоды из списка)</span>\n    </div>\n\n    <script>\n      const availability = ${JSON.stringify(\n        Object.fromEntries(Object.entries(availability).map(([y,set]) => [y, Array.from(set)]))\n      )};\n      const monthMap = ${JSON.stringify(monthMap)};\n      const order = ${JSON.stringify(engMonthsInOrder)};\n      const initialYear = ${JSON.stringify(yearParam)};\n      const initialMonth = ${JSON.stringify(monthParam)};\n\n      const yearSel = document.getElementById('year');\n      const monthSel = document.getElementById('month');\n\n      function fillYears() {\n        const years = Object.keys(availability).sort();\n        yearSel.innerHTML = years.map(y => '<option value=\"'+y+'\">'+y+'</option>').join('');\n        if (years.includes(initialYear)) yearSel.value = initialYear;\n        else yearSel.value = years[years.length-1] || '';\n      }\n\n      function fillMonths(forYear, preselectMonth) {\n        const avail = new Set(availability[forYear] || []);\n        const months = order.filter(m => avail.has(m));\n        monthSel.innerHTML = months.map(m => '<option value=\"'+m+'\">'+monthMap[m]+'</option>').join('');\n        if (months.includes(preselectMonth)) monthSel.value = preselectMonth;\n        else if (months.length) monthSel.value = months[0];\n        else monthSel.value = '';\n      }\n\n      fillYears();\n      fillMonths(yearSel.value, initialMonth);\n\n      yearSel.addEventListener('change', () => {\n        fillMonths(yearSel.value, monthSel.value);\n      });\n\n      document.getElementById('showBtn').addEventListener('click', () => {\n        const m = monthSel.value;\n        const y = yearSel.value;\n        const base = window.location.href.split('?')[0];\n        window.location.href = base + '?month=' + m + '&year=' + y;\n      });\n    </script>\n\n    <div class=\"kpis\">\n      <div class=\"kpi\"><h3>Доходы (наличные)</h3><div class=\"val\">${nf.format(revenue_total)}</div></div>\n      <div class=\"kpi\"><h3>Расходы</h3><div class=\"val\">${nf.format(expenditure_total)}</div></div>\n      <div class=\"kpi\"><h3>Итог (Доходы − Расходы)</h3><div class=\"val\" style=\"color:${net_total>=0?'var(--rev)':'var(--exp)'}\">${nf.format(net_total)}</div></div>\n    </div>\n\n    <div class=\"grid\">\n      <div class=\"card\">\n        <h2 style=\"margin:0 0 8px\">Доходы по операциям (наличные)</h2>\n        <div class=\"scroll\">\n          <table class=\"table\">\n            <thead><tr><th>Операция</th><th>Тип</th><th>Сумма</th><th>Кол-во</th></tr></thead>\n            <tbody>${revenuesAgg.map(rowAgg).join('')}</tbody>\n          </table>\n        </div>\n      </div>\n\n      <div class=\"card\">\n        <h2 style=\"margin:0 0 8px\">Расходы по операциям</h2>\n        <div class=\"scroll\">\n          <table class=\"table\">\n            <thead><tr><th>Операция</th><th>Тип</th><th>Сумма</th><th>Кол-во</th></tr></thead>\n            <tbody>${expendituresAgg.map(rowAgg).join('')}</tbody>\n          </table>\n        </div>\n      </div>\n\n      <div class=\"card\" style=\"grid-column:1/-1\">\n        <h2 style=\"margin:0 8px 8px 0\">Все операции</h2>\n        <div class=\"scroll\">\n          <table class=\"table\">\n            <thead>\n              <tr>\n                <th>Дата</th>\n                <th>ID</th>\n                <th>Операция</th>\n                <th>Тип</th>\n                <th>Тип оплаты</th>\n                <th>Контрагент</th>\n                <th>Сумма</th>\n                <th>Сотрудник</th>\n                <th>Комментарий</th>\n              </tr>\n            </thead>\n            <tbody>\n              ${fullOps.map(rowFull).join('')}\n            </tbody>\n          </table>\n        </div>\n      </div>\n    </div>\n\n    ${exclude.size ? `<p class=\"muted\" style=\"margin-top:24px;font-size:12px\">Исключены операции: ${Array.from(exclude).join(', ')}</p>` : ''}\n  </div>\n</body>\n</html>\n`;\n\n// Return HTML to webhook responder\nreturn [{ json: { html, month: monthName, year: yearParam } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        96
      ],
      "id": "72699259-70cf-4132-a4bc-7c59cce9aaac",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "path": "=/home/sftpuser/upload/kolberg/{{ new Date(($('Webhook1').item.json.query.month ? $('Webhook1').item.json.query.month : $now.format('LLLL').toLowerCase()) + \" \" + ($('Webhook1').item.json.query.year ? $('Webhook1').item.json.query.year : $now.format('yyyy'))).format('LLLL_yyyy').toLowerCase()  + \".json\"}}",
        "options": {}
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        1088,
        96
      ],
      "id": "8847a3be-d1d4-4279-a576-4b0bcb11684d",
      "name": "FTP1",
      "credentials": {
        "sftp": {
          "id": "8lqZXk6gHsvR30gh",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1312,
        96
      ],
      "id": "a4b42645-5842-484b-bd3b-05539965c111",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1536,
        96
      ],
      "id": "2f8bac32-009f-4b98-9fad-a786f406a9b4",
      "name": "Split Out"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list",
        "path": "/home/sftpuser/upload/kolberg"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        224,
        96
      ],
      "id": "d770a657-c180-4c5a-9fa8-17ab8a1ee003",
      "name": "FTP2",
      "credentials": {
        "sftp": {
          "id": "8lqZXk6gHsvR30gh",
          "name": "FTP account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        704,
        96
      ],
      "id": "c5c72533-01d6-410b-8ea1-5590b7147204",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "29825791-314b-4052-9710-cfb7817a1a8c",
              "name": "exclude_operations",
              "value": "[\"Сдача наличных в банк\", \"Поступление из кассы\", \"Сдача розничной выручки в кассу предприятия\", \"Поступление розничной выручки из операционной кассы\", \"Поступление от эквайера\"]",
              "type": "array"
            },
            {
              "id": "94aab1ad-ed52-4ce8-b4c8-58d370e59bfb",
              "name": "data_available",
              "value": "={{ $('Aggregate').item.json.name }}",
              "type": "array"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        96
      ],
      "id": "8f2e7f76-88a6-4bae-9c4b-09b2fa9c2ac7",
      "name": "set variables"
    }
  ],
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "FTP2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "FTP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set variables": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "TMv7F6oZqeWsWhCl"
  },
  "staticData": null,
  "meta": null,
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "lemonfit.kolberg.uz",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "ru,en-US;q=0.9,en;q=0.8,de;q=0.7",
            "cookie": "rl_page_init_referrer=RudderEncrypt%3AU2FsdGVkX183a8rORKfqYNpJQ5whT4TRFSCU6mCJdHM%3D; rl_page_init_referring_domain=RudderEncrypt%3AU2FsdGVkX1%2BesemVL1QRELCAAQUrBcpHETdGM5hoCoc%3D; rl_anonymous_id=RudderEncrypt%3AU2FsdGVkX19USyFYMk99Z2SOEggtPEZDQm6Eu9LLEDGu4dyEXI%2BNkuiPI4pkovzWjr2cE9IXckfhSiPVZ%2BbpOA%3D%3D; rl_user_id=RudderEncrypt%3AU2FsdGVkX18rfkBba7%2Bc5PnQ6aX85wq9mWA%2Ba9it5o5OeIOUxXm1NTlZDPkMfFHDPiB6Hm1qGWnJWYWPYlNeKrvHDrqOArYAZlWD1Dn9gxpBaaWjh8%2FlyxrQtpqusYcX2bho53GVguAcDkBGfRYLyP1B9Qkc536KFcsHsxdnKvU%3D; rl_trait=RudderEncrypt%3AU2FsdGVkX1%2BWM0Jqx9FRlTwy3R7X6S4i8ssVykF0r%2FK4Bj98fQvE8LErGspyWcQXrYPSP1CNOEfWqNOu89Kin%2BWz2fzEAONlbOX%2FzN6JD4hsd2t1PUoV4RnYNuJsk8YADhy0iDgAC81YpyJ2GhShplj4bVKBVL8eBZUmh4F0x2c%3D; ph_phc_4URIAm1uYfJO7j8kWSe0J8lc8IqnstRLS7Jx8NcakHo_posthog=%7B%22distinct_id%22%3A%22aaa5eb3b3bb2b0e4c2900ebf2061149fc2bf8ef76f120e9fd24b91ca24d47211%23ac130d50-f0cf-4c9d-aa5e-433e70ddd2b9%22%2C%22%24sesid%22%3A%5B1763843922167%2C%22019aad40-72f9-7d4e-b2f9-f5c3c1105770%22%2C1763843273463%5D%2C%22%24epp%22%3Atrue%2C%22%24initial_person_info%22%3A%7B%22r%22%3A%22%24direct%22%2C%22u%22%3A%22https%3A%2F%2Fdev.kolberg.uz%2Fsignin%3Fredirect%3D%25252F%22%7D%7D; rl_session=RudderEncrypt%3AU2FsdGVkX19sKud%2BMfQneuWbLGksCN%2FTFM983Z%2BwR%2FCyFvAyeL0mui%2Bxi0lyuIhfN%2B6MjrkqCeR%2FsLx8yaG7RSxalGWv5Icxq%2FLPGQZNQRMY4wioMtGITwzES8iFgBCP0JzPDognRG9rwpPm4vjFQA%3D%3D",
            "dnt": "1",
            "if-none-match": "W/\"792d6-KVEd/IMq3MrAXpb1C93zTiWtJnc\"",
            "priority": "u=0, i",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "document",
            "sec-fetch-mode": "navigate",
            "sec-fetch-site": "none",
            "sec-fetch-user": "?1",
            "upgrade-insecure-requests": "1",
            "x-forwarded-for": "88.134.57.131",
            "x-forwarded-host": "lemonfit.kolberg.uz",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2fcdae257942",
            "x-real-ip": "88.134.57.131",
            "x-replaced-path": "/cashflow"
          },
          "params": {},
          "query": {},
          "body": {},
          "webhookUrl": "https://dev.kolberg.uz/webhook/lemonfit/cashflow",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "d49dadef-c9c0-41a4-b815-3e24d95fb938",
  "versionCounter": 23,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-22T20:38:11.675Z",
      "createdAt": "2025-11-22T20:38:11.675Z",
      "role": "workflow:owner",
      "workflowId": "rKBDcuE5fGUuLEpC",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}