workflows/ZQPJoYFfxQrfvTb7.json
{
  "updatedAt": "2025-11-27T13:26:49.000Z",
  "createdAt": "2025-11-09T09:36:44.431Z",
  "id": "ZQPJoYFfxQrfvTb7",
  "name": "Auto request",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        16
      ],
      "id": "9d26d1de-e786-448d-a3a1-5f1e7a507888",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PzKQfkycbo50ph0U",
          "mode": "list",
          "cachedResultName": "LemonFit regular Payments",
          "cachedResultUrl": "/projects/Khq0xGbDHq3t4IJq/datatables/PzKQfkycbo50ph0U"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        224,
        16
      ],
      "id": "2dfbe40a-afd1-47fa-ad4e-5c5997f8d67d",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tYJAknRv7dHNAgvU",
          "mode": "list",
          "cachedResultUrl": "/workflow/tYJAknRv7dHNAgvU",
          "cachedResultName": "Request"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Поставщик": "={{ $('If payment due').item.json.vendor }}",
            "Категория расхода": "={{ $('If payment due').item.json.cathegory }}",
            "Сумма": "={{ $json.sum }}",
            "Тип оплаты": "={{ $json.type }}",
            "Назначение платежа": "={{ $json.payment_purpose || \"\" }}",
            "Описание/зачем": "={{null || \"\"}}",
            "Срочность": "Обычно",
            "Заявитель": "Автоматически",
            "Вложения": "={{ null }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Поставщик",
              "displayName": "Поставщик",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Категория расхода",
              "displayName": "Категория расхода",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Сумма",
              "displayName": "Сумма",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "Тип оплаты",
              "displayName": "Тип оплаты",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Назначение платежа",
              "displayName": "Назначение платежа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Описание/зачем",
              "displayName": "Описание/зачем",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Срочность",
              "displayName": "Срочность",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Заявитель",
              "displayName": "Заявитель",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Вложения",
              "displayName": "Вложения",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            },
            {
              "id": "formMode",
              "displayName": "formMode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        112
      ],
      "id": "4364eafc-1759-40af-bb11-e037ba8ae489",
      "name": "Call 'Request'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "11099fe3-6517-460d-921b-dbec2b7de11d",
              "leftValue": "={{ $json.sum }}",
              "rightValue": "={{ null }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        16
      ],
      "id": "239da4f8-a060-4682-b317-242034f21349",
      "name": "sum is null"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        336
      ],
      "id": "b927c755-1411-4b35-a80b-b2475b48d0c3",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "1387986",
        "text": "=Request error in node:\n{{ JSON.stringify($json.execution.lastNodeExecuted) }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        224,
        336
      ],
      "id": "d309d1a8-677b-46f8-bdd4-907e62637f32",
      "name": "Send a text message1",
      "webhookId": "a54295b8-5304-4679-96ce-24bca9d5a593",
      "credentials": {
        "telegramApi": {
          "id": "GlN5OGKLXSsawcEL",
          "name": "Lemonfit заявки"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "72c749b4-e777-49de-b7b2-00ac2845696c",
              "leftValue": "={{Number($now.format('dd'))}}",
              "rightValue": "={{ $json.payment_date }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        16
      ],
      "id": "90980798-a8c0-4684-9ebf-ba5bec369a7f",
      "name": "If payment due"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Fr5TPdzD4ziAJCaw",
          "mode": "list",
          "cachedResultUrl": "/workflow/Fr5TPdzD4ziAJCaw",
          "cachedResultName": "Auto request: wait for response"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "vendor": "={{ $('If payment due').item.json.vendor }}",
            "cathegory": "={{ $('If payment due').item.json.cathegory }}",
            "type": "={{ $('If payment due').item.json.type }}",
            "agreement": "={{ $('sum is null').item.json.agreement }}",
            "sum_is_null_vendor": "={{ $('sum is null').item.json.vendor }}",
            "sum_is_null_type": "={{ $('sum is null').item.json.type }}"
          },
          "matchingColumns": [
            "vendor",
            "cathegory",
            "type",
            "agreement",
            "sum_is_null_vendor",
            "sum_is_null_type"
          ],
          "schema": [
            {
              "id": "vendor",
              "displayName": "vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cathegory",
              "displayName": "cathegory",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "agreement",
              "displayName": "agreement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sum_is_null_vendor",
              "displayName": "sum_is_null_vendor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sum_is_null_type",
              "displayName": "sum_is_null_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        896,
        -80
      ],
      "name": "Call Auto request: wait for response_1",
      "id": "a18e27f7-6d04-4986-951b-5f5674d05777"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If payment due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sum is null": {
      "main": [
        [
          {
            "node": "Call Auto request: wait for response_1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Request'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If payment due": {
      "main": [
        [
          {
            "node": "sum is null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 259200,
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "34565a8d-3238-4f65-a4c0-016f90bc0e84",
  "versionCounter": 111,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-09T09:36:44.437Z",
      "createdAt": "2025-11-09T09:36:44.437Z",
      "role": "workflow:owner",
      "workflowId": "ZQPJoYFfxQrfvTb7",
      "projectId": "Khq0xGbDHq3t4IJq",
      "project": {
        "updatedAt": "2025-10-09T12:38:52.281Z",
        "createdAt": "2025-10-09T12:30:53.020Z",
        "id": "Khq0xGbDHq3t4IJq",
        "name": "Dilshod Davletyarov <dilshod95@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}